$horizontal-bar-chart-multi-series-series-0-colour: #196b24;
$horizontal-bar-chart-multi-series-series-1-colour: #e97132;

.recharts-wrapper.horizontal-bar-chart-multi-series {
    &:not(:last-child) {
        margin-bottom: govuk-spacing(4);
    }

  .chart-cell.chart-cell-series-0,
  .chart-cell.chart-cell-series-0.chart-cell-active,
  .recharts-default-legend .legend-item-0 path {
    fill: $horizontal-bar-chart-multi-series-series-0-colour;
    stroke: $horizontal-bar-chart-multi-series-series-0-colour;
  }

  .chart-cell.chart-cell-series-1,
  .chart-cell.chart-cell-series-1.chart-cell-active,
  .recharts-default-legend .legend-item-1 path {
    fill: $horizontal-bar-chart-multi-series-series-1-colour;
    stroke: $horizontal-bar-chart-multi-series-series-1-colour;
  }

  .recharts-default-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .recharts-default-legend .recharts-legend-item {
    white-space: nowrap;
  }

  .recharts-default-legend .legend-item-0 path {
    fill: $horizontal-bar-chart-multi-series-series-0-colour;
  }

  .recharts-default-legend .legend-item-1 path {
    fill: $horizontal-bar-chart-multi-series-series-1-colour;
  }
}