@model Web.App.ViewModels.Components.CustomDataBannerViewModel

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            This is your custom data for this school, not the original data
        </h3>
        <p>
            <a class="govuk-notification-banner__link"
               href="@Url.Action("Index", "School", new { urn = Model.Id })">
                View the original data for @Model.Name
            </a>
        </p>
    </div>
</div>
