@model Web.App.ViewModels.SchoolComparatorsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolComparators;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.Urn, kind = OrganisationTypes.School })

<p class="govuk-body">Use this to change the schools @Model.Name is compared with.</p>
<p class="govuk-body">You can search for schools by name, address or unique reference number (URN).</p>
<div class="govuk-inset-text">
    We will delete your choices when you leave the service. 
</div>
<a href="@Url.Action("Create", "SchoolComparators", new { urn = Model.Urn, referrer = Model.Referrer })" 
   role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
    Start now
</a>