<h3 class="govuk-heading-m">
    <a href="@Url.Action("ServiceHelp","StaticContent")" class="govuk-link govuk-link--no-visited-state app-view-component__link">Help with this service</a>
</h3>
<p class="govuk-body">
    If you're new to this website, new to school resource management, or are a non-finance person, take a look at our <a href="" class="govuk-link govuk-link--no-visited-state">user guide</a> to help you get started.
</p>