@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolFinancialViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        <button type="submit" class="govuk-button govuk-button--secondary" data-testid="toggle-financial-filters"
                name="@Model.FormPrefix@LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.FiltersVisible"
                value="@(Model.FiltersVisible ? "hide" : "show")">
            @(Model.FiltersVisible ? "Hide filters" : "Show filters")
        </button>
    </div>
    @if (Model.FiltersVisible)
    {
        <div class="govuk-grid-column-one-third">
            @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancial/_SchoolsFilter", Model)
        </div>
    }
    else
    {
        @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancial/_SchoolsFilterHidden", Model)
    }
    <div class="govuk-grid-column-@(Model.FiltersVisible ? "two-thirds" : "full")">
        @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancial/_SchoolsTable", Model)
    </div>
</div>