.progress-wrapper {
    display: block;
    max-width: 80%;
    max-height: 250px;
}

.progress-wrapper.progress-left {
    float: left;
    margin-right: 10px;
}

.progress-wrapper .progress-circle {
    stroke: #005EA5;
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}