@using Web.App.Extensions
@using Newtonsoft.Json
@model Web.App.ViewModels.TrustComparisonViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Comparison;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.CompanyNumber, kind = OrganisationTypes.Trust })

@await Component.InvokeAsync("DataSource", new { kind = OrganisationTypes.Trust, isPartOfTrust = true, additionText = new [] {"Compare your schools spending costs."}})

<div id="compare-your-costs" 
     data-type="@OrganisationTypes.Trust" 
     data-id="@Model.CompanyNumber" 
     data-phases="@Model.Phases.ToJson(Formatting.None)">
</div>

@await Component.InvokeAsync("TrustFinanceTools", new { identifier = Model.CompanyNumber, tools = new[] { FinanceTools.FinancialPlanning, FinanceTools.BenchmarkCensus } })