@model Web.App.ViewModels.LocalAuthorityHighNeedsHistoricDataViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsHistoricData;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@if (Model.HasHighNeeds)
{
    @await Component.InvokeAsync("DataSource", new
    {
        organisationType = OrganisationTypes.LocalAuthority,
        sourceType = DataSourceTypes.HighNeeds,
        pageTitle = ViewData[ViewDataKeys.Title]
    })

    <div id="historic-data-high-needs" data-code="@Model.Code"></div>
}
else
{
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            There isn't enough information available to view High needs historic data for this local authority.
        </strong>
    </div>
}