@model Web.App.ViewModels.LocalAuthorityViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsHistoricData;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

<div id="historic-data-high-needs" data-code="@Model.Code"></div>