@model Web.App.ViewModels.Components.DataSourceViewModel

<div class="@(Model.WrapperClassName)">
    <div class="@(Model.ClassName)">
        @foreach (var text in Model.AdditionText)
        {
            <p class="govuk-body">@text</p>    
        }
        <p class="govuk-body">@Model.DataSource</p>
    </div>
</div>
