@model Web.App.ViewModels.LocalAuthorityViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsNationalRankings;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Component.InvokeAsync("DataSource", new
{
organisationType = OrganisationTypes.LocalAuthority,
sourceType = DataSourceTypes.HighNeeds,
additionText = new[] { "This data shows local authorities ranked based on budget vs outturn, funding vs outturn is not available." },
pageTitle = ViewData[ViewDataKeys.Title]
})

<div id="la-national-rank" data-code="@Model.Code"></div>