@using Web.App.Domain
@using Web.App.Extensions
@using Web.App.ViewModels
@model Web.App.ViewModels.TrustForecastViewModel

@if (Model.HasGuidance)
{
    <div class="priority-guidance">
        <div>
            @{ var rating = Lookups.StatusPriorityMap[Model.IsGreen
                   ? "green"
                   : Model.IsAmber
                       ? "amber"
                       : "red"]; }
            <p class="priority @rating.Class govuk-body">
                @await Component.InvokeAsync("Tag", new
                {
                    rating = new RatingViewModel(rating.Colour, rating.DisplayText)
                })

                <span>
                    @if (Model.BalancesInDeficit || Model.BalancesForecastingDeficit)
                    {
                        @:Your trust balances indicate that you are in deficit
                        if (Model.BalancesForecastingDeficit)
                        {
                            @:or forecasting a deficit within the next year
                        }
                    }

                    @if (Model.SteepDeclineInBalances || Model.SteepDeclineInBalancesAndHighProportionStaffCosts)
                    {
                        @:Using your latest AR and BFR submissions, your trust is forecasting a steep decline in balances
                        if (Model.SteepDeclineInBalancesAndHighProportionStaffCosts)
                        {
                            @:and has a high proportion of staff costs
                        }
                    }

                    @if (Model.DeclineInBalancesButAboveForecastHistory)
                    {
                        @:Using your latest AR and BFR submissions, your trust is forecasting a decline in balances but has a history of your AR balances being above forecast
                    }

                    @if (Model.DeclineInBalancesButNoForecastDecline)
                    {
                        @:Using your latest AR and BFR submissions, your trust is not forecasting a deficit but your balances are in decline
                    }

                    @if (Model.SteepInclineInBalancesForecastButBelowForecastHistory)
                    {
                        @:Your trust is forecasting a steep incline in balances but has a history of AR balances being significantly below forecast
                    }

                    @if (Model.BalancesStableAndPositive)
                    {
                        @:Your trust balances are stable and positive
                    }

                    @if (Model.BalancesIncreasingSteadily)
                    {
                        @:Your trust balances are increasing steadily
                    }

                    @if (Model.BalancesIncreasingSteeply)
                    {
                        @:Your trust balances are increasing sharply and there is no history of AR balances being significantly below forecast
                    }
                </span>
            </p>

            @if (Model.IsRed || Model.IsAmber)
            {
                <p class="govuk-body">
                    If you are not already engaging with ESFA on your finances, you may wish to consider reviewing
                    @if (Model.SteepDeclineInBalancesAndHighProportionStaffCosts)
                    {
                        @Html.TrackedAnchor(
                            TrackedLinks.GuidanceResource,
                            "https://www.gov.uk/guidance/integrated-curriculum-and-financial-planning-icfp",
                            "ICFP guidance",
                            "Opens in a new window",
                            "_blank",
                            ["noopener", "noreferrer", "external"])
                        @:and the
                    }

                    @Html.TrackedAnchor(
                        TrackedLinks.GuidanceResource,
                        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency",
                        "school resources management guidance",
                        "Opens in a new window",
                        "_blank",
                        ["noopener", "noreferrer", "external"])
                </p>
            }
        </div>
    </div>
}