@using Web.App.ViewModels
@model Web.App.ViewModels.TrustForecastViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.ForecastAndRisks;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.CompanyNumber,
    kind = OrganisationTypes.Trust
})

@await Html.PartialAsync("_RiskSummary", Model)
@await Html.PartialAsync("_Metrics", new TrustForecastMetricsViewModel(Model.MetricsYear, Model.Metrics))

<div id="budget-forecast-returns" data-id="@Model.CompanyNumber"></div>
