@using Web.App.ViewModels
@model Web.App.ViewModels.TrustForecastViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.ForecastAndRisks;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.CompanyNumber,
    kind = OrganisationTypes.Trust
})

@if (Model.HasMetrics)
{
    @await Html.PartialAsync("_RiskSummary", Model)
    @await Html.PartialAsync("_Metrics", new TrustForecastMetricsViewModel(Model.MetricsYear, Model.Metrics))
    <div id="budget-forecast-returns" data-id="@Model.CompanyNumber"></div>
}
else
{
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Forecast and risks could not be found for this trust.
        </strong>
    </div>
}
