@model Web.App.ViewModels.Components.PageActionsViewModel

<div class="page-actions-wrapper">
    <div class="page-actions">
        @* ReSharper disable once SwitchStatementHandlesSomeKnownEnumValuesWithDefault *@
        @foreach (var action in Model.Actions)
        {
            switch (action)
            {
                case PageActions.SaveChartImages:
                    <div id="page-actions-button"></div>
                    break;
            }
        }
    </div>
</div>