@model Web.App.ViewModels.Components.PageActionsViewModel

<div class="page-actions-wrapper">
    <div class="page-actions">
        @if (Model.SaveButtonVisible)
        {
            <div id="page-actions-button"></div>
        }
    </div>
</div>