@model Web.App.ViewModels.Components.ComparatorSetDetailsViewModel


<h3 class="govuk-heading-s">Utilities and premises costs</h3>
<p class="govuk-body">
    For these costs, we choose
    <a class="govuk-link"
       href="@Url.Action("Building", "SchoolComparators", new { urn = Model.Identifier, referrer = Model.Referrer })">
        30 similar schools
    </a> based on:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>school phase or type</li>
    <li>boarding or non-boarding type</li>
    <li>region</li>
    <li>gross internal floor area</li>
    <li>average age of buildings</li>
    <li>whether they are a Private Finance Initiative (PFI) school</li>
</ul>
<p class="govuk-body">These costs are measured per square metre.</p>
<h3 class="govuk-heading-s">All other costs</h3>
<p class="govuk-body">
    For these costs, we choose
    <a class="govuk-link"
       href="@Url.Action("Pupil", "SchoolComparators", new { urn = Model.Identifier, referrer = Model.Referrer })">
        30 similar schools
    </a> based on:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>school phase or type</li>
    <li>boarding or non-boarding type</li>
    <li>region</li>
    <li>number of pupils</li>
    <li>pupils eligible for free school meals (FSM)</li>
    <li>pupils with special educational needs (SEN)</li>
</ul>
<p class="govuk-body">These costs are measured per pupil.</p>
<p class="govuk-body">Teacher contact ratio is not used to choose similar schools.</p>