<p class="govuk-body">
    To make the data easier to read, we have:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
        only shown data from schools with positive expenditure
    </li>
    <li>
        highlighted schools with partial data on the charts and in the table
    </li>
</ul>