<p class="govuk-body" data-testid="missing-comparator-set-message">
    There is not enough information available to create a set of similar schools.
</p>

@if (Model.ShowCustomDataOption)
{
    <p class="govuk-body">
        You can:
    </p>
    <ul class="govuk-list govuk-list--bullet" data-testid="actions-list">
        <li>
            <a class="govuk-link govuk-link--no-visited-state"
           href="@Url.Action("Index", "SchoolComparatorsCreate", new
                 {
                     urn = Model.Identifier
                 })">create or save your own set of schools</a> to benchmark against
        </li>
        <li>
            <a class="govuk-link govuk-link--no-visited-state"
           id="custom-data-link"
           href="@Url.Action("Index", "SchoolCustomData", new
                 {
                     urn = Model.Identifier
                 })">change the data</a> for this school
        </li>
    </ul>
}
else
{
    <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state"
           href="@Url.Action("Index", "SchoolComparatorsCreate", new
                 {
                     urn = Model.Identifier
                 })">create or save your own set of schools</a> to benchmark against
    </p>
}
