@model Web.App.ViewModels.Components.ComparatorSetDetailsViewModel

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds" data-testid="comparator-set-details">
        <h2 class="govuk-heading-m">How data is presented</h2>
        @if (Model.HasUserDefinedSet)
        {
            @await Html.PartialAsync("Components/ComparatorSetDetails/_UserDefinedSet")
        }
        else if(Model.HasCustomData)
        {
            @await Html.PartialAsync("Components/ComparatorSetDetails/_CustomData")
        }
        else if (Model.HasMissingComparatorSet)
        {
            @await Html.PartialAsync("Components/ComparatorSetDetails/_MissingComparatorSet")
        }
        else
        {
            @await Html.PartialAsync("Components/ComparatorSetDetails/_DefaultComparatorSet")
        }
    </div>
</div>