@model Web.App.ViewModels.Components.ComparatorSetDetailsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state " href="">We've chosen 2 sets of similar schools</a> to benchmark this school's spending against.
        </p>

        <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state"
               href="@Url.Action("Custom", "SchoolComparators", new { urn = Model.Identifier, referrer = Model.Referrer })">
                Choose a new or saved set of your own schools
            </a>
        </p>

        <feature name="@FeatureFlags.CustomData">
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state"
                   id="custom-data-link"
                   href="@Url.Action("Index", "SchoolCustomData", new { urn = Model.Identifier })">
                    Change the data for this school
                </a>
            </p>
        </feature>
    </div>
</div>