@model Web.App.ViewModels.Components.ComparatorSetDetailsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How we choose and compare similar schools
                </span>
            </summary>
            <div class="govuk-details__text">
            @switch (Model.Referrer)
            {
                case Referrers.SchoolCensus:
                    @await Html.PartialAsync("Components/ComparatorSetDetails/_CensusDetails", Model)
                    break;
                case Referrers.SchoolSpending:
                case Referrers.SchoolComparison:
                    @await Html.PartialAsync("Components/ComparatorSetDetails/_CostDetails", Model)
                    break;
            }
            @if (Model.Referrer is Referrers.SchoolComparison or Referrers.SchoolCensus)
            {
                <p class="govuk-body">
                    <a class="govuk-link govuk-link--no-visited-state"
                       href="@Url.Action("Custom", "SchoolComparators", new { urn = Model.Identifier, referrer = Model.Referrer })">
                        Choose your own similar schools
                    </a>
                </p>
            }
            </div>
        </details>
    </div>
</div>