{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Trust comparison - {{ data['trust-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "/compare-trusts/characteristics"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
  <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['trust-name'] }}</a></span>
  <h1 class="govuk-heading-l">
    Trusts matched using the characteristics you selected
  </h1>

  <p class="govuk-body">These are the 10 closest matches to your trust from the 52 trusts matching the characteristics you selected.</p>

    {% if data['trusts'] | length %}

    <p><a href="/compare-trusts/characteristics" class="govuk-link">Change characteristics and create a new list</a></p>

    {{ govukButton({
      text: "Compare these trusts",
      href: '/loading?redirect=/compare-trusts/compare'
    }) }}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Trust",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Characteristics",
          colspan: 2
        }
      ],
      "rows": rows
    }) }}
    
    {% endif %}

    {{ govukButton({
        text: "Compare these trusts",
        href: '/loading?redirect=/compare-trusts/compare'
    }) }}


    </div>
</div>



{% endblock %}