@model EducationBenchmarking.Web.ViewModels.SchoolInvestigationViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">View your areas for investigation</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">More tools</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("CompareYourCosts", Model.Urn)</li>
            <li>@await Component.InvokeAsync("CurriculumFinancialPlanning", Model.Urn)</li>
            <li>@await Component.InvokeAsync("BenchmarkWorkforce", Model.Urn)</li>
        </ul>
    </div>
</div>