@model EducationBenchmarking.Web.ViewModels.Components.BenchmarkWorkforceViewModel

<img src="/assets/images/benchmark-workforce.png" alt="" class="app-view-component">
<h3 class="govuk-heading-m">
    <a href="@Url.Action("Index", "SchoolWorkforce", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Benchmark workforce data</a>
</h3>
<p class="govuk-body">
    Lorem ipsum
</p>
