@using Web.App.ViewModels.Enhancements
@using Web.App.ViewModels.Search
@model Web.App.ViewModels.Search.SchoolSearchResultsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.FindOrganisationSchool;
    Func<int, string?> urlBuilder = page => Url.Action("Search", "SchoolSearch", new
    {
        term = Model.Term,
        sort = Model.OrderBy,
        phase = Model.OverallPhase,
        page
    });
}

@using (Html.BeginForm(FormMethod.Post, true, new { novalidate = "novalidate", role = "search" }))
{
    @await Html.PartialAsync("Search/_SearchTerm", new FindSchoolViewModel
    {
        Term = Model.Term
    })
}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">

@if (Model.TotalResults > 0)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            &nbsp;
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-s">
                @Model.TotalResults @(Model.TotalResults == 1 ? "result" : "results")
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third search-results-wrapper">
        @using (Html.BeginForm(FormMethod.Post, true, new { novalidate = "novalidate", role = "search" }))
        {
            <input type="hidden" name="@nameof(FindSchoolViewModel.Term)" value="@Model.Term"/>
            @await Html.PartialAsync("Search/_SearchResultsOptions", new SchoolSearchResultsOptionsViewModel
            {
                OrderBy = Model.OrderBy,
                OverallPhase = Model.OverallPhase,
                ResetUrl = Url.Action("Search", new { term = Model.Term })
            })
        }
    </div>
    <div class="govuk-grid-column-two-thirds">
        @if (Model.TotalResults == 0)
        {
            <p id="search-warning" class="govuk-body-s govuk-!-margin-top-1">
                We couldn't find any schools matching your search criteria.
            </p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-6">
        }
        else
        {
            @await Html.PartialAsync("Search/_SchoolSearchResults", Model.Results)
            @await Component.InvokeAsync("Pagination", new
            {
                totalResults = Model.TotalResults,
                pageNumber = Model.PageNumber,
                pageSize = Model.PageSize,
                urlBuilder
            })
        }
    </div>
</div>

@section scripts
{
    @await Html.PartialAsync("Enhancements/_SuggestScripts", new SuggestScriptsViewModel
    {
        InputElementId = nameof(ISearchTermViewModel.Term),
        SelectedEstablishmentField = nameof(ISearchTermViewModel.EstablishmentId),
        Type = OrganisationTypes.School,
        IdField = "urn"
    })
}