@{
    ViewData[ViewDataKeys.Title] = PageTitles.ErrorAccessDenied;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
        
        <p class="govuk-body">
            This feature is currently disabled.
        </p>

        <p class="govuk-body">
            We're sorry, but the feature you are trying to access is not available at this time.
        </p>
    </div>
</div>