@{
    ViewData[ViewDataKeys.Title] = PageTitles.ErrorAccessDenied;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
        
        <p class="govuk-body">
            You are unable to access this page. This could be because:
        </p>
        
            <ul class="govuk-list govuk-list--bullet">
                <li>the school or trust was not selected when signing in</li>
            </ul>

        <p class="govuk-body">
            or
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you do not have permission to access this trust or school</li>
        </ul>

        <p class="govuk-body">
            If you believe you do have the correct access, try to sign in again and ensure the school or trust is selected.
        </p>

        <p class="govuk-body">
            If you are still having difficulty accessing this page, email us at @Constants.SupportEmail with full details of the issue you are experiencing.
        </p>

        
    </div>
</div>