@model Web.App.ViewModels.Search.SearchResultsOptionsViewModel

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-4">

<div class="govuk-button-group govuk-!-padding-top-2 govuk-!-margin-bottom-1">
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Apply
    </button>
    <a href="@Model.ResetUrl" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
</div>