{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
    {{ data['authority-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      }
    ]
  }) }}
{% endblock %}


{% set schoolsHtml %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Alderwood Primary School">Alderwood Primary School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Castle Manor Academy">Castle Manor Academy</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=City of Peterborough Academy">City of Peterborough Academy</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Coldfair Green Community Primary School">Coldfair Green Community Primary School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Delius Special School">Delius Special School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Dulwich Preparatory School">Dulwich Preparatory School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Gesher Primary Special School">Gesher Primary Special School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Hall and Oates Nursery School">Hall and Oates Nursery School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Holy Family Catholic Primary School">Holy Family Catholic Primary School, Warton</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Ilfracombe Church of England Junior School">Ilfracombe Church of England Junior School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Iqra Academy">Iqra Academy</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Kennall Vale School">Kennall Vale School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Khalsa College London">Khalsa College London</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Minet Junior School">Minet Junior School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Overton St Helen's Church of England Primary School">Overton St Helen's Church of England Primary School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Pound Park Nursery School">Pound Park Nursery School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=St Agnes' Catholic Primary School">St Agnes' Catholic Primary School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=St Johns Primary School">St Johns Primary School</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=The Ramsey Academy">The Ramsey Academy, Halstead</a>
            </li>
            <li>
                <a class="govuk-link" href="/school-homepage?school-name=Winthorpe Primary School">Winthorpe Primary School</a>
            </li>
        </ul>

    </div>
    <div class="govuk-grid-column-one-third sortWrapper">

        {{ govukSelect({
            id: "sort",
            name: "sort",
            label: {
                text: "Sort by"
            },
            formGroup: {
                classes: 'sortSelect'
            },
            items: [
            {
                value: "name",
                text: "Name",
                selected: true
            },
            {
                value: "urn",
                text: "URN"
            },
            {
                value: "district",
                text: "District/ward"
            },
            {
                value: "size",
                text: "Revenue reserves"
            }
            ]
        }) }}
    </div>

</div>

{% endset %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ data['authority-name'] }}</h1>
<p><a href="/find-school" class="govuk-link">Change local authority</a></p>

<h1 class="govuk-heading-l">Schools in local authority</h1>

{{ govukAccordion({
    id: "accordion-default",
    items: [
      {
        heading: {
          text: "Primary schools"
        },
        content: {
          html: schoolsHtml
        },
        expanded: true
      },
      {
        heading: {
          text: "Secondary schools"
        },
        content: {
          html: schoolsHtml
        },
        expanded: true
      },
      {
        heading: {
          text: "Specials and Pupil Referral units (PRUs)"
        },
        content: {
          html: schoolsHtml
        },
        expanded: true
      }
    ]
  }) }}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Get help</h2>
        <ul class="app-links">
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state app-view-component__link">Help with this service</a>
                </h3>
                <p class="govuk-body">
                    If you're new to this website, new to school resource management, or are a non-finance person, take a look at our <a href="" class="govuk-link govuk-link--no-visited-state">user guide</a> to help you get started.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Ask for help from a school resource management advisor (SRMA)</a>
                </h3>
                <p class="govuk-body">
                    You can request free, confidential advice from a SRMA.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Submit an enquiry</a>
                </h3>
                <p class="govuk-body">
                    Let us know if you need help with any tools in this service
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}