{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/start">Start page</a></li>
      <li><a class="govuk-link" href="/find-school">Find a school</a></li>
      <li><a class="govuk-link" href="/school-homepage">School homepage</a></li>
      <li><a class="govuk-link" href="/trust-homepage">Trust homepage</a></li>
      <li><a class="govuk-link" href="/authority-homepage">Local authority homepage</a></li>
      <li><a class="govuk-link" href="/find-ways-to-spend-less?signIn=school">Find ways to spend less (schools) </a></li>
      <li><a class="govuk-link" href="/find-ways-to-spend-less?signIn=trust">Find ways to spend less (trusts) </a></li>
    </ul>

    <h2 class="govuk-heading-s">Spending and costs</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/spending-and-costs">Overview</a></li>
      <li><a class="govuk-link" href="/spending-and-costs/category">Category breakdown</a></li>
    </ul>

    <h2 class="govuk-heading-s">Comparator set</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/comparators/pupil">Pupil set</a></li>
      <li><a class="govuk-link" href="/comparators/building">Building set</a></li>
      <li>
        <a class="govuk-link" href="/comparators/index">Create comparison set</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="/comparators/create/review">Add by name</a></li>
          <li><a class="govuk-link" href="/comparators/create/review">View comparator set</a></li>
        </ul>
      </li>
      <li><a class="govuk-link" href="/comparators/reset">Reset comparator set</a></li>
      <li><a class="govuk-link" href="/comparators/view-school?signedIn=false">School comparison</a></li>
    </ul>


    <h2 class="govuk-heading-s">Comparator set - Add by-charecteristics (Post-MVP)</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/comparators/create/index">Menu page</a></li>
      <li><a class="govuk-link" href="/comparators/create/type">School type</a></li>
      <li><a class="govuk-link" href="/comparators/create/phase">School phase</a></li>
      <li><a class="govuk-link" href="/comparators/create/local-authority">Local authority</a></li>
      <li><a class="govuk-link" href="/comparators/create/characteristics">Characteristics</a></li>
      <li><a class="govuk-link" href="/comparators/create/characteristics-post-mvp">Additional characteristics (Post-post-MVP)</a></li>
    </ul>


    <h2 class="govuk-heading-s">Custom data</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/custom-data">Intro page</a></li>
      <li><a class="govuk-link" href="/sign-in?goTo=/custom-data/financial-data">Sign-in</a></li>
      <li><a class="govuk-link" href="/custom-data/financial-data">Financial data</a></li>
      <li><a class="govuk-link" href="/custom-data/school-characteristics">School characteristics</a></li>
      <li><a class="govuk-link" href="/custom-data/workforce">Workforce data</a></li>
    </ul>

  </div>
</div>

{% endblock %}
