{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Eventually this will extend to full journeys, but for now…</p>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="/school-homepage">School homepage</a></li>
      <li><a class="govuk-link" href="/spending-and-costs">Spending and costs</a></li>
      <li><a class="govuk-link" href="/spending-and-costs/category">Spending and costs - Category page</a></li>
      <li><a class="govuk-link" href="/cost-reduction-resources">Cost reduction resources</a></li>
    </ul>

  </div>
</div>

{% endblock %}
