{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/start">Start page</a></li>
      <li><a class="govuk-link" href="/find-school">Find a school</a></li>
      <li><a class="govuk-link" href="/school-homepage">School homepage</a></li>
      <li><a class="govuk-link" href="/find-ways-to-spend-less">Find ways to spend less (commercial resources) </a></li>
    </ul>

    <h2 class="govuk-heading-s">Spending and costs</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/spending-and-costs">Overview</a></li>
      <li><a class="govuk-link" href="/spending-and-costs/category">Category breakdown</a></li>
    </ul>

    
    <h2 class="govuk-heading-s">Comparator set</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="/comparators">Intro page</a></li>
      <li><a class="govuk-link" href="/comparators/pupil">Pupil set</a></li>
      <li><a class="govuk-link" href="/comparators/building">Building set</a></li>
      <li><a class="govuk-link" href="/comparators/create">Create comparison set</a></li>
    </ul>

  </div>
</div>

{% endblock %}
