{% extends "layouts/main.html" %}

{% set pageName="Privacy notice" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-width-container" id="content">
      <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
          <main class="govuk-main-wrapper govuk-!-padding-top-0 cookies-settings" id="main-content">
  
          <h1 class="govuk-heading-xl page-heading">
              Privacy notice
          </h1>

          <h2 class="govuk-heading-l">Who we are</h2>
          <p class="govuk-body">This service is run by the Department for Education.</p>
          <p class="govuk-body">We will use the information you give us according to [source].</p>
          <p class="govuk-body">When you register on this service, we will use any personal information you give us for administration and research purposes.</p>
          
          <h2 class="govuk-heading-l">Which personal data we will use</h2>
          <p class="govuk-body">This service will use your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>work email address</li>
          </ul>
           
          <h2 class="govuk-heading-l">Why our use of your personal data is lawful</h2>
          <p class="govuk-body">To lawfully use your personal data, we need to meet one or more conditions in the data protection legislation.</p>
          <p class="govuk-body">For this service, the processing is necessary for the performance of a task carried out in the public interest.</p> 
          <p class="govuk-body">In this case, it is necessary for the department to process your data to enhance the service offering to our users.</p>
          
          <h2 class="govuk-heading-l">How long we will keep your personal data</h2>
          <p class="govuk-body">We will only keep your personal data for as long as we need it for the purposes of this service.</p>
          <p class="govuk-body">After this, it will be securely destroyed. This will usually be 7 years after the end of each contract.</p>
          <p class="govuk-body">If you have not signed in for 366 days, we will delete your account and remove your personal details. You will need to register again to use the service.</p>
          <p class="govuk-body">We can lawfully keep personal data processed purely for research and statistical purposes indefinitely.</p> 
          <p class="govuk-body">This is under Data Protection Legislation and in compliance with the relevant data processing conditions.</p>
           
          <h2 class="govuk-heading-l">Your data protection rights</h2>
          <p class="govuk-body">You have the right to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>ask us for access to information about you that we hold</li>
            <li>have your personal data rectified, if it is inaccurate or incomplete</li>
            <li>request the deletion or removal of personal data where there is no compelling reason for its continued processing</li>
            <li>restrict our processing of your personal data (for example, permitting its storage but no further processing)</li>
            <li>object to direct marketing (including profiling) and processing for the purposes of scientific or historical research and statistics</li>
            <li>not be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you</li>
          </ul> 
          <p class="govuk-body">You can <a href="https://www.gov.uk/contact-dfe" class="govuk-link">contact us</a> about any of this. Get more information about your data protection rights from the <a href="https://ico.org.uk/" class="govuk-link">Information Commissioner's Office</a> (ICO).</p>
          
          <h2 class="govuk-heading-l">The right to lodge a complaint</h2>
          <p class="govuk-body">If you are unhappy with our use of your personal data, you have the right to <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">raise any concerns with the Information Commissioner's Office</a>.</p>
          
          <h2 class="govuk-heading-l">Last updated</h2>
          <p class="govuk-body">This version was last updated in June 2024.</p>
          <p class="govuk-body">We may need to update this privacy notice, so we recommend you revisit this from time to time.</p>
          
          <h2 class="govuk-heading-l">Further information</h2>
          <p class="govuk-body">Get more information about the <a href="https://www.gov.uk/government/organisations/department-for-educationDepartment" class="govuk-link">Department for Education</a>.</p>
          
  
        </div> 
  </div>
</div>
{% endblock %}
