{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl">
  {{ serviceName }}
</h1>

<div class="govuk-width-container">
  
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Important
                  </h2>
              </div>
              <div class="govuk-notification-banner__content">
                  <h3 class="govuk-notification-banner__heading">This service is replacing<a class="govuk-notification-banner__link" href="https://viewyourdata.education.gov.uk/"> View my financial insights</a> and <a class="govuk-notification-banner__link" href="https://schools-financial-benchmarking.service.gov.uk/"> Schools Financial Benchmarking.</a>
              </div>
          </div>
      </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This service helps schools view and improve their spending. Anyone can use it to compare schools, academies or trusts across England</p>
          <p class="govuk-body">At a school level you can:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>see how spending compares with similar schools
              <li>enter your own data to see how spending less or more affects benchmarking position</li>
              <li>plan and forecast future scenarios</li>

          </ul>
          <p class="govuk-body">At a trust or local authority level you can:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>get an overview of all your schools and see how spending compares with similar schools</li>
              <li> identify where schools need more support with their spending</li>
              <li>see how your spending compares with similar trusts</li>
              <li> view risks based on the budget forecast return (trusts only)</li>
          </ul>
              <p class="govuk-body">You can also download data and findings to use in reports.</p>
          </ul>
          <div class="govuk-inset-text">
            You may need to sign in to your Department for Education account to access some parts of the service.
          </div>
          <a href="/find-school" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
          </a>
      </div>
  </div>
      </div>





{% endblock %}
