@model Web.App.ViewModels.SchoolWorkforceViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Workforce;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.Urn, kind = OrganisationTypes.School })

@await Component.InvokeAsync("DataSource", new { isPartOfTrust = Model.IsPartOfTrust, additionText = new [] {"Compare your workforce data against similar schools"}})

@await Component.InvokeAsync("ComparatorSetDetails", new { identifier = Model.Urn })

<div id="compare-your-workforce" data-type="@OrganisationTypes.School" data-id="@Model.Urn"></div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.FinancialPlanning, FinanceTools.CompareYourCosts } })