{% if data['comparators'] %}
    <p class="govuk-body">You are now comparing {{ data['school-name'] }} with your own chosen schools.</p>
    <p class="govuk-body"><a href="/comparators">Choose a new or saved set of your own schools</a>

{% else %}

    <p class="govuk-body"><a href="/comparators/view">We’ve chosen 2 sets of similar schools</a> to benchmark this school's spending against.</p>
    <p class="govuk-body"><a href="/comparators">Choose a new or saved set of your own schools</a>

{% endif %}