@model EducationBenchmarking.Web.ViewModels.SchoolExpenditureViewModel

<div class="govuk-width-container">
    <a href="" class="govuk-back-link" id="back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-l">Compare your costs for @Model.SchoolName</h1>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body-s">
                    <a href="" class="govuk-link govuk-link--no-visited-state" id="change-link">Change</a>
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body">Compare your spending costs against similar schools for @Model.LastFinancialYear</p>
                <a href="" role="button" draggable="false" class="govuk-button" data-module="govuk-button" id="view-comparator-set">
                    View your comparator set
                </a>
            </div>
        </div>
    </main>
</div>
