//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

//HOMEPAGE

.headline-figures, .priority-figures {
    margin-bottom: 30px;
}

.headline-figures div div {
    background: #5D7490;
    color: white;
}

.headline-figures div div, .priority-figures div div {
    text-align: center;
    padding: 10px;
}

.headline-figures div div p {
    font-size: 24px;
    color: white;
}

.headline-figures div div p:first-child {
    font-weight: bold;
}

.priority-figures div div p:first-child {
    font-size: 48px;
}

.priority-figures div div p:nth-child(2) {
    font-size: 21px;
}

.app-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.app-links li {
    width: calc((100% - 30px)/ 3);
}

.app-view-component {
    max-width: 100%;
    margin-bottom: 15px;
}

.top-categories div {
    background-color: #EEEFEF;
    padding: 20px;
    margin-bottom: 20px;
}

//SPENDING AND COSTS
.spend-category {
    margin-bottom: 40px;
}

.spend-category img {
    margin-bottom: 14px;
    width: 100%;
}

.spend-panel div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.spend-panel div p:first-child {
    color: govuk-colour("dark-blue");
}

.spend-panel div p {
    display: inline-block;
    background-color: #DEE0E2;
    font-size: 16px;
    min-height: 85px;
    padding: 8px 10px;
    margin-bottom: 14px;
}

.spend-panel.sub div p {
    background-color: #F1F1F1;
}

.spend-panel div p strong {
    display: block;
    font-size: 32px;
    font-weight: normal;
}

.spend-panel div span {
    font-weight: bold;
}

.spend-panel div p:first-child strong {
    font-weight: bold;
}

.spend-panel div p strong span {
    font-size: 26px;
    font-weight: normal;
    color: #6E777A;
}

// GENERIC
.priority {
    margin-bottom: 14px;
    border-left: none;
    padding-top: 1px;
    padding-bottom: 2px;
}

.top-categories .priority {
    margin-bottom: 0;
}

.priority.high, .priority.high .govuk-tag--red, .priority-figures .high div {
    border: 1px solid #942514;
}

.priority.medium, .priority.medium .govuk-tag--yellow, .priority-figures .medium div {
    border: 1px solid #594D00;
}

.priority.low, .priority.low .govuk-tag--green, .priority-figures .low div {
    border: 1px solid #005A30;
}

.priority-figures .high div {
    background-color: #f4cdc6;
    border-color: #942514;
}

.priority-figures .high div p {
    color: #942514;
}

.priority-figures .medium div {
    background-color: #FFF7BF;
    border-color: #594D00;
}

.priority-figures .medium div p {
    color: #594D00;
}

.priority-figures .low div {
    background-color: #e5e6e7;
    border-color: #505A5F;
    border-width: 1px;
}

.priority-figures div p {
    margin-bottom: 5px;
}

p.priority .govuk-tag {
    margin-right: 10px;
    border-left: none !important;
}

.govuk-caption-l a {
    color: $govuk-secondary-text-colour
}

// COMPARATOR SETS


.school-search .govuk-form-group {
    width: calc(100% - 176px) 
}

.school-search-old .govuk-form-group {
    width: calc(100% - 76px) 
}

.school-search .govuk-form-group, .school-search button {
    display: inline-block;
    vertical-align: top;
}

.school-search .govuk-form-group.govuk-form-group--error {
    width: calc(100% - 96px)
}

.school-search button {
    margin-top: 15px;
    margin-left: 15px;
}

.school-search .govuk-form-group--error + button {
    margin-top: 55px;
}

div.govuk-notification-banner {
    margin-bottom: 20px;
}

div.govuk-notification-banner__content > * {
    max-width: none;
}

.no-border {
    border-bottom: 0;
}

.sticky-div {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.matching-schools {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.matching-schools #countPart {
    font-weight: bold;
}

.govuk-password-input__toggle {
    flex-grow: unset;
}

.custom-data td {
    vertical-align: middle;
}

div.sortWrapper {
    position: relative;
}

.sortSelect {
    position: absolute;
    right: 0;
    top: -8px;
    width: 295px;
}

.sortSelect label {
    display: inline-block;
    margin-right: 5px;
}

.govuk-accordion__section table.custom-data tr:last-child td {
    border-bottom: 0;
}

.govuk-tabs .sortSelect {
    width: 345px;
}

.govuk-tabs__panel#spending .govuk-grid-row {
    margin-top: 48px;
}


// COMPARE YOUR COSTS

.view-as-toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

