@model EducationBenchmarking.Web.ViewModels.ForecastRiskViewModel

<img src="/assets/images/forecast-risk.png" alt="" class="app-view-component">
<h3 class="govuk-heading-m">
    <a href="@Url.Action("Index", "SchoolForecastRisk", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Forecast and risk</a>
</h3>
<p class="govuk-body">
    Lorem ipsum
</p>
<strong class="govuk-tag govuk-tag--grey">
    Requires login
</strong>