@model Web.App.ViewModels.Components.LocalAuthorityHighNeedsHistoryViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Budget vs spend (historical view)</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
            Year
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">
            Finances
        </th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">
            Balance
        </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var rank in Model.History)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                @(rank.Year)
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-list govuk-!-static-margin-bottom-0">
                    <li>
                        <span class="govuk-!-font-weight-bold">Spend:</span>
                        <span class="govuk-!-font-tabular-numbers">@(rank.Outturn?.ToString("C0"))</span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Budget:</span>
                        <span class="govuk-!-font-tabular-numbers">@(rank.Budget?.ToString("C0"))</span>
                    </li>
                </ul>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @(rank.Balance?.ToString("C0"))
            </td>
        </tr>
    }
    </tbody>
</table>