@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthorityHighNeedsHistoryViewModel

<div class="govuk-tabs" data-module="govuk-tabs">
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#funding-vs-outturn">
                DSG high needs funding allocation vs. outturn
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#expenditure-vs-outturn">
                Planned expenditure vs. outturn
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="funding-vs-outturn">
        <p class="govuk-body-s">
            Outturn includes recoupment for the financial year ending March.
        </p>

        @await Html.PartialAsync("Components/LocalAuthorityHighNeedsHistory/_HistoryTable", new LocalAuthorityHighNeedsHistoryTableViewModel("DSG high needs funding allocation", Model.History, x => x.Funding, x => x.FundingDifference))

        <a
            href="@Url.Action("Index", "LocalAuthorityHighNeedsHistoricData", new { code = Model.Code })"
            role="button"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">View full historical spending</a>
    </div>
    <div class="govuk-tabs__panel" id="expenditure-vs-outturn">
        <p class="govuk-body-s">
            Outturn includes recoupment for the financial year ending March.
        </p>

        @await Html.PartialAsync("Components/LocalAuthorityHighNeedsHistory/_HistoryTable", new LocalAuthorityHighNeedsHistoryTableViewModel("Planned expenditure", Model.History, x => x.Budget, x => x.BudgetDifference))

        <a
            href="@Url.Action("Index", "LocalAuthorityHighNeedsHistoricData", new { code = Model.Code })"
            role="button"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">View full historic data</a>
    </div>
</div>

