@model Web.App.ViewModels.SchoolHistoryViewModel

@{
    ViewData[ViewDataKeys.Title] = PageTitles.HistoricData;
}

@await Component.InvokeAsync("SchoolHeading", new { pageTitle = ViewData[ViewDataKeys.Title], schoolName = Model.Name, urn = Model.Urn })

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">View data from previous financial years.</p>
        <p class="govuk-body">All data is from consistent financial reporting (CFR).</p>
    </div>
</div>

<div id="school-history" data-urn="@Model.Urn"></div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.CompareYourCosts, FinanceTools.FinancialPlanning, FinanceTools.BenchmarkWorkforce } })