@model Web.App.ViewModels.SchoolCustomDataChangeViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolChangeData;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = PageTitles.SchoolChangeDataFinancialData, name = Model.School.Name, id = Model.School.Urn, kind = OrganisationTypes.School })

@await Html.PartialAsync("_ErrorSummary")
@using (Html.BeginForm("FinancialData", "SchoolCustomDataChange", new { urn = Model.School.Urn }, FormMethod.Post, true, new { novalidate = "novalidate" }))
{
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-financial-data">
        @await Html.PartialAsync("_AccordionSection", Model.AdministrativeSuppliesSection)
        @await Html.PartialAsync("_AccordionSection", Model.CateringSection)
        @await Html.PartialAsync("_AccordionSection", Model.EducationalSuppliesSection)
        @await Html.PartialAsync("_AccordionSection", Model.ITSection)
        @await Html.PartialAsync("_AccordionSection", Model.NonEducationalSupportStaffSection)
        @await Html.PartialAsync("_AccordionSection", Model.PremisesAndServicesSection)
        @await Html.PartialAsync("_AccordionSection", Model.TeachingAndTeachingSupportSection)
        @await Html.PartialAsync("_AccordionSection", Model.UtilitiesSection)
        @await Html.PartialAsync("_AccordionSection", Model.OtherCostsSection)

        @* TODO: resolve questiond around functionality of 'totals' section *@
        @await Html.PartialAsync("_AccordionSection", Model.TotalsSection)
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
}

@section scripts
{
    <script type="module" add-nonce="true">
        import { initAll } from '/js/govuk-frontend.min.js'
        initAll()
    </script>
}