@using Web.App.TagHelpers
@model Web.App.ViewModels.SchoolCustomDataChangeViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolChangeData;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = PageTitles.SchoolChangeDataFinancialData,
    name = Model.School.SchoolName,
    id = Model.School.URN,
    kind = OrganisationTypes.School
})

@await Html.PartialAsync("_ErrorSummary")
@using (Html.BeginForm("FinancialData", "SchoolCustomDataChange", new
        {
            urn = Model.School.URN
        }, FormMethod.Post, true, new
        {
            novalidate = "novalidate",
            id = "form-custom-data-financial"
        }))
{
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-financial-data">
        @await Html.PartialAsync("_AccordionSection", Model.AdministrativeSuppliesSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 1
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.CateringSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 2
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.EducationalSuppliesSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 3
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.ITSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 4
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.NonEducationalSupportStaffSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 5
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.PremisesAndServicesSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 6
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.TeachingAndTeachingSupportSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 7
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.UtilitiesSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 8
            }
        })
        @await Html.PartialAsync("_AccordionSection", Model.OtherCostsSection, new ViewDataDictionary(ViewData)
        {
            {
                "Index", 9
            }
        })
    </div>
    <div id="custom-data-totals">
        <h2 class="govuk-heading-m">
            Totals
        </h2>
        @await Html.PartialAsync("_CustomDataEntryTable", Model.TotalsSection)
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>
}

@section scripts
{
    <!--suppress JSFileReferences -->
    <script type="module" add-nonce="true">
        import { initAll } from '/js/govuk-frontend.min.js';
        initAll();
    </script>
}