@model Web.App.ViewModels.SchoolComparatorsSubmittedViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolComparatorsSubmit;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full loading">
        <h1 class="govuk-heading-l">
            @ViewData[ViewDataKeys.Title]
        </h1>
        <div class="spinner"></div>
        <p class="govuk-hint">This may take a minute or two.</p>
    </div>
</div>

@section scripts
{
    <script type="module" add-nonce="true">
      import { initAll } from '/js/govuk-frontend.min.js';
      initAll();
      
      // todo: refactor into its own reusable partial
      let done, failed = false;
      const interval = setInterval(statusCheck, 5000);
      function statusCheck() {
        if (done || failed) {
            clearInterval(interval);
            window.location.href = `/school/@Model.Urn?comparator-generated=${!failed}`;
            return;
        }

        fetch(
            "/api/user-data/@Model.Identifier", 
            { 
                method: "GET",
                credentials: "include"
            })
            .then(response => response.json())
            .then(json => {
                if (json && json.status === "complete") {
                    done = true;
                }
            })
            .catch(err => {
                console.error(err);
                failed = true;
            });
      }
    </script>
}