{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Comparator sets - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      }
    ]
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Choose your own similar schools</h1>


        <p class="govuk-body">Use this to change the schools {{ data['school-name'] }} is compared with.</p>
        <p class="govuk-body">You can search for schools by name, address or unique reference number (URN). </p>

        <p class="govuk-body">You can also find schools by characteristic. For example, Ofsted rating or number of pupils. </p>
        
        <!--
        <div class="govuk-inset-text">
          We will delete your choices when you leave the service. 
        </div>
        -->

        {{ govukButton({
          text: "Start now",
          href: "/comparators/create",
          classes: "govuk-button--primary"
        }) }}

        {% if data['comparators'] %}
          <p class="govuk-body"><a href="/comparators/reset" class="govuk-link">Delete your custom comparator set</a></p>
        {% endif %}

    </div>
</div>
{% endblock %}