{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pupil comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      },
      {
        text: "Comparator sets",
        href: "/comparators"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Similar schools</h1>
        <p class="govuk-body">Used for comparing all costs except utilities and premises costs.</p>

        {{ govukTable({
          head: [
            {
              text: "School"
            },
            {
              text: "Type"
            },
            {
              text: "Number of pupils"
            },
            {
              text: "Ofsted rating"
            },
            {
              text: "Pupils eligible for free school meals (FSM)"
            }
          ],
          "rows": rows
        }) }}

        <h2 class="govuk-heading-m">Choose your own similar schools</h2>
        <p class="govuk-body">If you want to change these schools, you can <a href="/comparators/create"> choose your own</a>.</p>

    </div>
</div>
{% endblock %}