{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Delete your comparator set - – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      },
      {
        text: "Comparator sets",
        href: "/comparators"
      },
      {
        text: "Custom comparator set",
        href: "/comparators/create"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Comparator sets</h1>

        <h2 class="govuk-heading-m">Are you sure you want to delete your comparator set?</h2>

        <p class="govuk-body">You will go back to using the default comparator sets.</p>
        
        {{ govukButton({
          text: "Delete custom comparator set",
          href: "/comparators/reset-confirmed",
          classes: "govuk-button"
        }) }}

    </div>
</div>
{% endblock %}