{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
  Building comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      },
      {
        text: "Comparator sets",
        href: "/comparators"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Schools we chose for benchmarking</h1>
        <p class="govuk-body">These are the 2 sets of 30 similar schools we've chosen to benchmark this school against.</p>
        <p class="govuk-body"><a href="/comparators">Choose your own schools to benchmark against</a></p>

      {% set pupilTab %}

        <h2 class="govuk-heading-l">Running costs</h2>
        <p class="govuk-body">All non-building related costs, including all staffing, ICT, consultancy and catering.</p>
            <p class="govuk-body">We've chosen 30 similar schools based on:</p>
             <ul class="govuk-list govuk-list--bullet">
                 <li>school phase or type</li>
                 <li>region</li>
                 <li>number of pupils</li>
                 <li>pupils eligible for free school meals (FSM)</li>
                 <li>pupils with special educational needs (SEN)</li>
             </ul>
             
        {{ govukTable({
          head: [
            {
              text: "School"
            },
            {
              text: "Type"
            },
            {
              text: "Number of pupils"
            },
            {
              text: "Pupils with special educational needs"
            },
            {
              text: "Pupils eligible for free school meals"
            }
          ],
          "rows": pupilRows
        }) }}
      {% endset %}

      {% set buildingTab %}
      <h2 class="govuk-heading-l">Building costs</h2>
      <p class="govuk-body">Includes utilities, cleaning and maintenance.</p>
      <p class="govuk-body">We've chosen 30 similar schools based on:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>school phase or type</li>
          <li>region</li>
          <li>gross internal floor area</li>
          <li>average age of buildings</li>
          <li>whether they are a Private Finance Initiative (PFI) school</li>
      </ul>

        {{ govukTable({
          head: [
            {
              text: "School",
              classes: "govuk-!-width-one-third"
            },
            {
              text: "Type"
            },
            {
              text: "Number of pupils"
            },
            {
              text: "Gross internal floor area"
            },
            {
              text: "Average age of buildings"
            }
          ],
          "rows": buildingRows
        }) }}
        {% endset %}

        {{ govukTabs({
          items: [
            {
              label: "Running costs",
              id: "running",
              panel: {
                html: pupilTab
              }
            },
            {
              label: "Building costs",
              id: "building",
              panel: {
                html: buildingTab
              }
            }
          ]
        }) }}

    </div>
</div>
{% endblock %}