{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
Schools we chose for benchmarking - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/find-school">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/school-homepage?customData=generated">Your school</a>
    </li>
    {% if data['customData'] == 'true' %}
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/custom-data/custom-homepage">Customised data</a>
    </li>
    {% endif %}
  </ol>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Schools we chose for benchmarking</h1>

        {% if data['customData'] == 'true' %}

        {% set html %}
        <p class="govuk-notification-banner__heading">
          You are viewing the updated comparator sets for your customised data set
        </p>

        <p class="govuk-body">As you changed the characteristics of your school, we have updated the schools you are compared to, to ensure you are compared against similar schools.</p>

        {% endset %}

        {{ govukNotificationBanner({
        html: html
        }) }}

      {% else %}

        <p class="govuk-body">These are the 2 sets of similar schools we've chosen to benchmark this school's spending against.</p>
        <p class="govuk-body"><a href="/comparators">Choose your own set of schools</a></p>
       
      {% endif %}

      {% set pupilTab %}

        <h2 class="govuk-heading-l">Running cost categories</h2>
        <p class="govuk-body">We've chosen 30 similar schools to benchmark this school against running cost categories, which includes all staffing, ICT, consultancy and catering.</p>
        
        <h3 class="govuk-heading-m">How we chose these schools</h3>
        
        <p class="govuk-body">We chose these schools based on:</p>
             <ul class="govuk-list govuk-list--bullet">
                 <li>school phase or type</li>
                 <li>region</li>
                 <li>number of pupils</li>
                 <li>pupils eligible for free school meals (FSM)</li>
                 <li>pupils with special educational needs (SEN)</li>
             </ul>


         <h3 class="govuk-heading-m">Schools we've chosen</h3>

        {{ govukTable({
          head: [
            {
              text: "School"
            },
            {
              text: "Type"
            },
            {
              text: "Number of pupils"
            },
            {
              text: "Pupils with special educational needs"
            },
            {
              text: "Pupils eligible for free school meals"
            }
          ],
          "rows": pupilRows
        }) }}
      {% endset %}

      {% set buildingTab %}
      <h2 class="govuk-heading-l">Building cost categories</h2>
      <p class="govuk-body">We've chosen 30 similar schools to benchmark this school against building cost categories, which includes utilities, cleaning and maintenance.</p>

      <h3 class="govuk-heading-m">How we chose these schools</h3>

      <p class="govuk-body">We chose these schools based on:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>school phase or type</li>
          <li>region</li>
          <li>gross internal floor area</li>
          <li>average age of buildings</li>
          <li>whether they are a Private Finance Initiative (PFI) school</li>
      </ul>

      <h3 class="govuk-heading-m">Schools we've chosen</h3>

        {{ govukTable({
          head: [
            {
              text: "School",
              classes: "govuk-!-width-one-third"
            },
            {
              text: "Type"
            },
            {
              text: "Number of pupils"
            },
            {
              text: "Gross internal floor area"
            },
            {
              text: "Average age of buildings"
            }
          ],
          "rows": buildingRows
        }) }}
        {% endset %}

        {{ govukTabs({
          items: [
            {
              label: "Running cost categories",
              id: "running",
              panel: {
                html: pupilTab
              }
            },
            {
              label: "Building cost categories",
              id: "building",
              panel: {
                html: buildingTab
              }
            }
          ]
        }) }}

    </div>
</div>
{% endblock %}