@model Web.App.ViewModels.SchoolResourcesViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Resources;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.Urn, kind = OrganisationTypes.School })

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Commercial resources
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#recommended">
                        Recommended for this school
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#all">
                        All resources
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="recommended">
                <h2 class="govuk-heading-m">Recommended for this school</h2>
                @await Html.PartialAsync("_RecommendedResources")
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all">
                <h2 class="govuk-heading-m">All resources</h2>
                @await Html.PartialAsync("CommercialResource/AllResources")
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="module">
      import { initAll } from '/js/govuk-frontend.min.js'
      initAll()
    </script>
}