@model EducationBenchmarking.Web.ViewModels.SchoolHistoryViewModel

@{
    ViewData[ViewDataKeys.Title] = PageTitles.HistoricData;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="@Url.Action("Index", "FindOrganisation")" class="govuk-link govuk-link--no-visited-state">Change school</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">View data from previous financial years.</p>
        <p class="govuk-body">All data is from consistent financial reporting (CFR).</p>
    </div>
</div>


<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#spending">
        Spending      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#income">
        Income
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#balance">
        Balance
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#workforce">
        Workforce
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="spending">
    <h2 class="govuk-heading-l">Spending</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         
        </tr>
        <tr class="govuk-table__row">
     
        </tr>
        <tr class="govuk-table__row">
          
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="income">
    <h2 class="govuk-heading-l">Income</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
         
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        
        </tr>
        <tr class="govuk-table__row">
         
        </tr>
        <tr class="govuk-table__row">
         
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="balance">
    <h2 class="govuk-heading-l">Balance</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
       
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          
        </tr>
        <tr class="govuk-table__row">
         
        </tr>
        <tr class="govuk-table__row">
        
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="workforce">
    <h2 class="govuk-heading-l">Workforce</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          
        </tr>
        <tr class="govuk-table__row">
      
        </tr>
        <tr class="govuk-table__row">
     
        </tr>
      </tbody>
    </table>
  </div>
</div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.AreasOfInvestigation, FinanceTools.FinancialPlanning, FinanceTools.BenchmarkWorkforce } })


@section scripts
{
    script type="module"
      import { initAll } from '/js/govuk-frontend.min.js'
      initAll()
    /script
}
