@* TODO: review for public beta
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Get help</h2>
        <ul class="app-links">
            <li>
                <h3 class="govuk-heading-s">
                    <a href="@Url.Action("ServiceHelp", "StaticContent")" class="govuk-link govuk-link--no-visited-state">
                        Help with this service
                    </a>
                </h3>
                <p class="govuk-body">
                    If you're new to this website, new to school resource management, or are a non-finance person, take a look at our <a href="" class="govuk-link govuk-link--no-visited-state">user guide</a> to help you get started.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="@Url.Action("AskForHelp", "StaticContent")" class="govuk-link govuk-link--no-visited-state">
                        Ask for help from a school resource management advisor (SRMA)
                    </a>
                </h3>
                <p class="govuk-body">
                    You can request free, confidential advice from a SRMA.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="@Url.Action("SubmitEnquiry", "StaticContent")" class="govuk-link govuk-link--no-visited-state">
                        Submit an enquiry
                    </a>
                </h3>
                <p class="govuk-body">
                    Let us know if you need help with any tools in this service.
                </p>
            </li>
        </ul>
    </div>
</div> *@