{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/v1_0_0.html" %}

{% block pageTitle %}
  View your custom comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "/" + version + "/comparators/create"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        
    <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
    <h1 class="govuk-heading-l">
      Schools successfully matched
    </h1>

    <p class="govuk-body">We matched 812 schools, but these are the 30 closest matches to {{ data['school-name'] }} using the characteristics you selected.</p>

    <p class="govuk-body">They are all:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>academies</li>
      <li>secondary schools</li>
      <li>schools in the North Yorkshire County Council local authority area</li>
      <li>part of a private finance initiative</li>
    </ul>

    <p><a href="/{{ version }}/comparators/create/characteristics" class="govuk-link">Change characteristics and create a new set</a></p>

    {{ govukButton({
      text: "Create a set using these schools",
      href: '/loading?redirect=/' + version + '/school-homepage?confirmation=comparator-generated'
    }) }}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "School",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Individual characteristics",
          colspan: 2
        }
      ],
      "rows": rows
    }) }}
    
    {{ govukButton({
      text: "Create a set using these schools",
      href: '/loading?redirect=/' + version + '/school-homepage?confirmation=comparator-generated'
    }) }}


    </div>
</div>



{% endblock %}