{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/v1_0_0.html" %}

{% block pageTitle %}
  Set of schools - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/" + version + "/find-school"
        },
        {
          text: "Your school",
          href: "/" + version + "/school-homepage"
        }
      ]
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
  <h1 class="govuk-heading-l">
    Your set of schools
  </h1>

  <p><a href="/{{ version }}/comparators/create/by-name?editSet=true" class="govuk-link">Change your set of schools</a></p>

    {% if data['comparators'] | length %}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "School",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Type"
        },
        {
          text: "Number of pupils"
        },
        {
          text: "Pupils with special educational needs"
        },
        {
          text: "Pupils eligible for free school meals"
        }
      ],
      "rows": rows
    }) }}
    
    {% endif %}


    </div>
</div>



{% endblock %}