@import "../../../assets/styles/colours";

.govuk-table {
  .govuk-table__cell {
    &.table-cell-value {
      white-space: nowrap;
    }

    &.table-cell-warning {
      border-left: 10px solid $warning-colour;
      padding-left: 12px;
    }

    > .govuk-tag {
      white-space: nowrap;
    }
  }
}