@model Web.App.ViewModels.TrustToTrustViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.TrustToTrustHome;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.CompanyNumber,
    kind = OrganisationTypes.Trust
})

<div class="govuk-grid-row">
    @if (Model.ComparatorGenerated.HasValue)
    {
        <div class="govuk-grid-column-full">
            @{
                var success = Model.ComparatorGenerated == true;
            }
            <div class="govuk-notification-banner govuk-notification-banner--@(success ? "success" : "failure")" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        @(success ? "Success" : "Error")
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">@(success ? "You've created a set of trusts to compare" : "Unable to create a set of trusts to compare")</h3>
                    @if (!success)
                    {
                        <p class="govuk-body">
                            Please try again later.
                        </p>
                    }
                </div>
            </div>
        </div>
    }

    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            <a class="govuk-notification-banner__link"
               href="@Url.Action("UserDefined", "TrustComparators", new { companyNumber = Model.CompanyNumber })">
                View and change your set of trusts
            </a>
        </p>
        <p class="govuk-body">
            Compare spending costs for this trust against similar trusts.
        </p>
    </div>
</div>

@await Component.InvokeAsync("DataSource", new
{
    kind = OrganisationTypes.Trust,
    isPartOfTrust = true,
    className = "govuk-grid-column-full"
})

<div id="compare-your-trust" data-id="@Model.CompanyNumber"></div>