{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}


{% extends "layouts/latest.html" %}

{% block pageTitle %}
  Find ways to spend less – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/" + version + "/find-school"
      },
      {
        text: "Your school",
        href: "/" + version + "/school-homepage"
      }
    ]
  }) }}
{% endblock %}


{% set recsHtml %}
<h2 class="govuk-heading-m">
  Recommended for this school
</h2>
<p> Based on how spending and costs compare to similar schools.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">
      Premises staff 
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ govukTag({
      text: "High priority",
      classes: "govuk-tag--red"
    }) }}
  </div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
  </li>
</ul>

<!---p class="govuk-body-s">This school spends 44% more than similar schools.</p>--->

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">
      Catering staff and services
    </h2>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ govukTag({
      text: "Medium priority",
      classes: "govuk-tag--yellow"
    }) }}
  </div>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fm-support-service">Building in use - support services</a>
  </li>
  <li>
    <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>  </li>
</ul>

<!---p class="govuk-body-s">This school spends 44% more than similar schools.</p>--->


{% endset -%}


{% set allHtml %}

<p>Use these to help reduce your spending and costs.</p>

<p>You can also <a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school"> find a framework agreement for goods or services</a>.</p>

  {{ govukAccordion({
    id: "accordion-default",
    headingLevel: 3,
    items: [
      {
        heading: {
          text: "Teaching and teaching support staff"
        },
        content: {
          html: '
            <h2 class="govuk-heading-s">
              Agency supply teaching staff
            </h2>
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/supply-teachers">Hiring supply teachers and agency workers</a>
            </li>
          </ul>
            <h2 class="govuk-heading-s">
              Professional services
            </h2>
            <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/specialist-professional-services">Specialist professional services</a>
            </li>
          </ul>
            <h2 class="govuk-heading-s">
              Teaching and teaching support staff
              <h2 class="govuk-heading-s">
            <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/integrated-curriculum-and-financial-planning-icfp">Integrated curriculum and financial planning (ICFP) guidance</a>
            </li>
            <li>
              <a class="govuk-link" href="https://teaching-vacancies.service.gov.uk/">Teacher vacancies</a>
            </li>
          </ul>
          
            <!-- 
            Teaching staff
            XXX

            Supply teaching staff  
              Hiring supply teachers and agency workers 

            Agency supply teaching staff  
              Hiring supply teachers and agency workers 

            Educationsal support staff
            XXX

            Educational consultancy  
              Specialist professional services 
              -->'
        }
      },
      {
        heading: {
          text: "Non-educational support staff"
        },
        content: {
          html: '
        </ul>
        <h2 class="govuk-heading-s">
          Professional services
        </h2>
          <ul class="govuk-list">
            <li>
           <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/legal">Legal services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/specialist-professional-services">Specialist professional services</a>                </li>
          </ul>
          
            <!--

                Administrative and clerical staff
                XX

                Other staff
                XX

                Professional services (non-curriculum)
                  Specialist professional services 
                  Legal services 

                Audit cost (academies only)
                XX
            -->
          '
        }
      },
      {
        heading: {
          text: "Educational supplies"
        },
        content: {
          html: '
        </ul>
        <h2 class="govuk-heading-s">
          Learning resources
        </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/books-and-educational-resources">Books and educational resources buying guidance</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/books-for-schools">Books for schools</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/furniture">Department for Education furniture</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/library">Library resources</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/print-marketplace">Print marketplace</a>
            </li>
          </ul>

          <!--
            Learning resources (not ICT equipment) 
              Books for schools 
              DFE Furniture 
              Library resources 
              Print marketplace 

            Examination fees
              XX
          -->
          '
        }
      },
      {
        heading: {
          text: "Educational ICT"
        },
        content: {
          html: '
        </ul>
        <h2 class="govuk-heading-s">
          Educational ICT
        </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/av-solutions">Audio visual solutions</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/cyber-security">Cyber security services 3</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/digital-marketplace">Digital Marketplace (G-Cloud 12)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/edtech">Education technology</a>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/ict-storage-network">ICT networking and storage solutions</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/ict-procurement">ICT procurement</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/mfd-digi-transform">Multifunctional devices and digital transformation solutions</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/network-telecomms">Network connectivity and telecommunication solution</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/print-marketplace">Print marketplace</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/software-licenses">Software licenses and associated services for academies and schools</a>
            </li>
          </ul>

          <!-- 
          ICT learning resources
            Digital Marketplace (G-Cloud 12) 
            Education technology 
            Software licenses and associated services for academies and schools 
            Audio visual solutions 
            Cyber security services 3 
            ICT networking and storage solutions 
            ICT procurement 
            Multifunctional devices and digital transformation solutions 
            Network connectivity and telecommunication solution 
            Print marketplace 
          
          -->'
        }
      },
      {
        heading: {
          text: "Premises staff and services"
        },
        content: {
          html: '
          <h2 class="govuk-heading-s">
            Premises staff
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Maintenance of premises
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/construction-projects">Construction projects guidance</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/construction">Construction consultancy services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools">Good estate management for schools</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/internal-maintenance">Internal fit-out and maintenance</a>
            </li>
          </ul>
          
          <h2 class="govuk-heading-s">
            Cleaning and caretaking
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/cleaning">Building cleaning services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fm-support-service">Building in use - support services </a>
            </li>
          </ul>
          
          <h2 class="govuk-heading-s">
            Other occupational costs
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fm-support-service">Building in use - support services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/construction">Construction consultancy services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools">Good estate management for schools</a>
            </li>
          </ul>
          
          <!--
            Premises staff
              Facilities management (FM) marketplace 

            Maintenance of premises
              Construction consultancy services 
              Facilities management (FM) marketplace 
              Internal fit-out and maintenance 
              Good estate management for schools 

            Cleaning and caretaking
              Building cleaning services 
              Building in use - support services 

            Other occupational costs
              Construction consultancy services 
              Facilities management (FM) marketplace 
              Building in use - support services 
              Good estate management for schools 

          -->'
        }
      },
      {
        heading: {
          text: "Utilities"
        },
        content: {
          html: '
          <h2 class="govuk-heading-s">
            Energy
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/electricity">Electricity buying guidance</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/elec-unmetered">Electricity (half hourly, non-half hourly and unmetered)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/gas-firm">Firms mains gas</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/heating-systems">Heating systems and renewable technology</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/energy-ancillary">Supply of energy and ancillary services</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Water and sewerage
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/water">Water, wastewater and ancillary services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/water">Water, wastewater and ancillary services 2</a>
            </li>
          </ul>
          
          
          <!--
            Energy
              Electricity (half hourly, non-half hourly and unmetered) 
              Heating systems and renewable technology 
              Supply of energy and ancillary services 
              Firms mains gas 
              
            Water and sewerage
              Water, wastewater and ancillary services 
              Water, wastewater and ancillary services 2 
          -->'
        }
      },
      {
        heading: {
          text: "Administrative supplies"
        },
        content: {
          html: '
          <h2 class="govuk-heading-s">
            Administrative ICT
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/ict-and-computer-hardware">ICT and computer hardware buying guidance</a>
            </li>
          <br> 
            <h2 class="govuk-heading-s">
              Administrative supplies (non-educational) 
            </h2>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/av-solutions">Audio visual solutions</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/furniture">Department for Education furniture</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/digital-marketplace">Digital Marketplace (G-Cloud 12)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/edtech">Education technology</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/office-supplies">Office supplies</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/software-licenses">Software licenses and associated services for academies and schools</a>
            </li>
          </ul>
          
          
          <!--
            Administrative supplies (non-educational)
              Digital Marketplace (G-Cloud 12) 
              Education technology 
              DFE Furniture 
              Software licenses and associated services for academies and schools 
              Audio visual solutions 
              Office supplies 

              Note: all but the last one are duplicates…
          -->'
        }
      },
      {
        heading: {
          text: "Catering staff and services"
        },
        content: {
          html: '
          <h2 class="govuk-heading-s">
            Catering staff
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fm-support-service">Building in use - support services</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Catering supplies
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
          </ul>
          
          <!--
            Catering staff
              Facilities management (FM) marketplace 
              Building in use - support services 

            Catering supplies
              Facilities management hyperlink which redirects to <page not found>  

            Catering income
                XX

            Note: Not sure if the second FM link is right?
            If so, remove dupe and headers?

          -->'
        }
      },
      {
        heading: {
          text: "Other costs"
        },
        content: {
          html: '
          <h2 class="govuk-heading-s">
            Staff development and training
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/npq">National professional qualification (NPQ) framework</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Staff-related insurance
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/staff-absence">Staff absence protection and reimbursement</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Grounds maintenance
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/fmm">Facilities management (FM) marketplace</a>
            </li>
          </ul>

          <h2 class="govuk-heading-s">
            Other insurance premiums
          </h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/insurance">Insurance and related services for public sector schools</a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/rpa">Risk Protection Arrangement </a>
            </li>
            <li>
              <a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/staff-absence">Staff absence protection and reimbursement</a>
            </li>
          </ul>
          
          <!--
            Indirect employee expenses
              XX
            
            Staff development and training
              National professional qualification (NPQ) framework 
            
            Supply teacher insurance
              XX
            
            Staff-related insurance
              Staff absence protection and reimbursement 
            
            Rent and rates
              XX
            
            Grounds maintenance
              Facilities management (FM) marketplace 
            
            Special facilities
              XX
            
            Other insurance premiums
              Insurance and related services for public sector schools 
              Risk Protection Arrangement 
              Staff absence protection and reimbursement 
            
            Direct revenue financing (revenue contributions to capital)
              XX
            
            PFI charges
              XX
            
            Interest charges for loan and bank
              XX
            
            Community focused school staff (maintained schools only)
              XX
            
            Community focused school costs (maintained schools only)
              XX

          -->'
        }
      }
    ]
  }) }}

{% endset -%}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


  {% if data['signIn'] == 'trust' %}
    <span class="govuk-caption-l"><a href="/{{ version }}/trust-homepage" class="govuk-link--no-underline">{{ data['trust-name'] }}</a></span>
  {% elseif data['signIn'] == 'authority' %}
  <span class="govuk-caption-l"><a href="/{{ version }}/authority-homepage" class="govuk-link--no-underline">{{ data['authority-name'] }}</a></span>
  {% else %}
    <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
  {% endif %}

    <h1 class="govuk-heading-l">Find ways to spend less</h1>

    <!---<p class="govuk-body-m">Use these resources to help reduce costs.</p>--->

  {% if data['signIn'] == 'trust' or data['signIn'] == 'authority' %}
  {{ allHtml | safe }}

  {% else %}

  {% set allHtml -%}
    <h2 class="govuk-heading-m">
      All resources
    </h2>
    {{ allHtml | safe }}
  {% endset -%}

    {{ govukTabs({
      items: [
      {
        label: "Recommended for this school",
        id: "recs",
        panel: {
          html: recsHtml
        }
      },
      {
        label: "All resources",
        id: "all",
        panel: {
          html: allHtml
        }
      }
      ]
    }) }}

  {% endif %}

</div>
</div>
{% endblock %}