@model EducationBenchmarking.Web.ViewModels.Components.ViewYourAreasForInvestigationViewModel

<img src="/assets/images/areas-for-investigation.png" alt="" class="app-view-component">
<h3 class="govuk-heading-m">
    <a href="@Url.Action("Index", "SchoolInvestigationArea", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">View your areas for investigation</a>
</h3>
<p class="govuk-body">
    See areas where your school is looking healthy or may need to focus on.
</p>
<p class="govuk-body">
    Create a report to reflect potential spending.
</p>