SA_PASSWORD=mystrong!Pa55word
MSSQL_USER=sa
DB_NAME=data
AZURITE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"
REDIS_PASSWORD=your_local_password
AZURITE_CONTAINER_NAMES=comparator-sets metric-rag pre-processed raw
AZURITE_QUEUE_NAMES=data-pipeline-job-default-start data-pipeline-job-custom-start data-pipeline-job-finished data-pipeline-job-dlq
