{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "templates/spend-category.njk" import spendCategory %}
{% from "templates/priority-banner.njk" import priorityBanner %}
{% from "templates/spending-panel.njk" import spendingPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      },
      {
        text: "Spending and costs",
        href: "/spending-and-costs"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Teaching and teaching support staff costs</h1>

        <p>
            This shows total and broken down spending for this cost compared to similar schools.<br /> 
            All data is 2022 to 2023 consistent financial reporting (CFR).
        </p>

        <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            How we choose similar schools
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">We choose 30 similar schools based on: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>school phase and type</li>
                <li>London pay weighting</li>
                <li>number of pupils</li>
                <li>pupils eligible for free school meals (FSM)</li>
                <li>building types and features</li>
            </ul>
            <p>Teacher contact ratio is not included.</p>
            <p><a href="#">View or change which schools we compare you with</a></p>
        </div>
        </details>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Total costs</h2>

        {{ priorityBanner({
            percentile: 93
        }) }}

        {{ spendingPanel({
            spendAmount: 735.64,
            medianAmount: 478.61,
            unit: 'pupil'
        }) }}

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <img src="/public/images/chart.png" style="width: 100%;" />
    </div>
    <div class="govuk-grid-column-one-third">

        {{ govukRadios({
          classes: "govuk-radios--small",
          name: "showSpend",
          fieldset: {
            legend: {
              text: "Show spend as",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "pupil",
              text: "Amount per pupil",
              checked: true
            },
            {
              value: "amount",
              text: "Amount spent"
            },
            {
              value: "percent",
              text: "Percentage of income"
            }
          ]
        }) }}

        <p class="govuk-body">
            <a href="#" class="govuk-link">Download chart (PNG)</a>
        </p>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Find ways to spend less</h2>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">Teaching and teaching support staff costs</span>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Agency supply teaching staff</h3>
        <p><a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/supply-teachers">Hiring supply teachers and agency workers</a></p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Professional services</h3>
        <p><a class="govuk-link" href="https://find-dfe-approved-framework.service.gov.uk/list/specialist-professional-services">Specialist professional services</a></p>
        
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Teaching and teaching support staff</h3>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/guidance/integrated-curriculum-and-financial-planning-icfp">Integrated curriculum and financial planning (ICFP)</a><br />
            <a class="govuk-link" href="https://teaching-vacancies.service.gov.uk/">Teacher vacancies</a>
        </p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Get help</h3>
        <p>
            <a class="govuk-link" href="#">Ask for help from a school resource management advisor (SRMA)</a><br />
            Request free, confidential advice from a school resource management advisor.
        </p>
        <p>
            <a class="govuk-link" href="#">Find a school business professional network</a><br />
            Use business support networks to find peers tackling the same problems.
        </p>
        <p>
            <a class="govuk-link" href="#">Contact other schools</a><br />
            Contact similar schools who are performing well.
        </p>
        
        
    </div>
</div>

{% endblock %}