@{
    ViewData[ViewDataConstants.Title] = PageTitleConstants.ErrorAccessDenied;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData[ViewDataConstants.Title]</h1>
        <p class="govuk-body">
            You do not have access to this page.
        </p>
    </div>
</div>