@model Web.App.ViewModels.TrustWorkforceViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Workforce;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.CompanyNumber, kind = OrganisationTypes.Trust })

@await Component.InvokeAsync("DataSource", new { kind = OrganisationTypes.Trust, isPartOfTrust = true, additionText = new [] {"Compare your schools workforce data."}})

<div id="compare-your-workforce" data-type="@OrganisationTypes.Trust" data-id="@Model.CompanyNumber"></div>

@await Component.InvokeAsync("TrustFinanceTools", new { identifier = Model.CompanyNumber, tools = new[] { FinanceTools.CompareYourCosts } })