@using Westwind.AspNetCore.Markdown
@model Web.App.ViewModels.Components.BannerViewModel

@if (Model.Heading == null)
{
    return;
}

<div class="govuk-grid-row">
    @* 
        From the GDS documentation, "the notification banner should be the same width as the page's other content" so
        allow a custom class to be sent to the view component in the case of non-full width content on that page.
        See https://design-system.service.gov.uk/components/notification-banner/
    *@
    <div class="@Model.ColumnClass">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
             data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title markdown" id="govuk-notification-banner-title">
                    @(Model.Title ?? "Important")
                </h2>
            </div>
            <div class="govuk-notification-banner__content markdown">
                <div class="govuk-notification-banner__heading">
                    @Markdown.ParseHtmlString(Model.Heading)
                </div>
                @if (Model.Body != null)
                {
                    @Markdown.ParseHtmlString(Model.Body)
                }
            </div>
        </div>
    </div>
</div>