<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How data is presented</h2>
        <p class="govuk-body">
            To make the data easier to read, we only show local authorities we have data for.
        </p>
    </div>
</div>