<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Understand the data we use on this page
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    Section 251 is the regulatory requirement to prepare and submit annual, education and children and young people’s services, budget and outturn statements for each financial year.
                </p>
                <p class="govuk-body">
                    The outturn is the actual amount spent on high needs by local authorities in each financial year. This is taken from the s251 outturn statement.
                </p>
                <p class="govuk-body">
                    The ‘£ per pupil’ view option uses pupil numbers taken from the school census return. These are summed up from schools already present in FBIT data for each local authority.
                </p>
            </div>
        </details>
    </div>
</div>