<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Accessibility statement for Schools financial benchmarking</h1>
        
        <p class="govuk-body">
            This service is part of the wider GOV.UK website. There's a separate accessibility statement for the main GOV.UK website.
        </p>

        <p class="govuk-body">
            This page only contains information about the Schools financial benchmarking service, available at 
            <a class ="gov-uk link no govuk-link--no-visited-state" href="https://financial-benchmarking-and-insights-tool.education.gov.uk/">
                https://financial-benchmarking-and-insights-tool.education.gov.uk</a>.
        </p>

        <p class="govuk-body">
            This service is run by the Department for Education. We want as many people as possible to be able to use this service. 
            For example, that means you should be able to:
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>
                Change colours and contrast
            </li>
            <li>
                Zoom in up to 400% without any problems
            </li>
            <li>
                Magnify apps
            </li>
            <li>
                Navigate the service using just a keyboard
            </li>
            <li>
                Navigate the service using speech recognition software
            </li>
            <li>
                Listen to the service using a screen reader
            </li>
            <li>
                Voiceover tools such as JAWS and MAC
            </li>
        </ul>

        <p class="govuk-body">
            Browsers used during testing include:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                Internet Explorer 11
            </li>
            <li>
                Firefox
            </li>
            <li>
                Safari
            </li>
            <li>
                Chrome
            </li>
        </ul>

        <p class="govuk-body">
            Tools and techniques used during testing include:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <strong>Dragon NaturallySpeaking (V16)</strong>, a voice recognition (speech to text) 
                program which requires minimal user interface from a mouse or keyboard.  
                Primarily used by people with upper limb disorders, RSI etc.
            </li>
            <li>
                <strong>JAWS (2024)</strong>, a screen reader (text to speech) program developed for 
                users whose vision loss prevents them from seeing screen content or navigating with a mouse.
            </li>
            <li>
                <strong>Zoomtext (2024)</strong>, a magnification and reading program tailored for low-vision users.  
                It enlarges and enhances everything on screen, echoes typing and essential program activity, and reads screen content.
            </li>
            <li>
                <strong>Fusion (2024)</strong> is a hybrid of ZoomText with its screen magnification and visual enhancements, 
                coupled with the power and speed of JAWS for screen reading functionality.
            </li>
            <li>
                <strong>Axe</strong>, is a powerful accessibility testing tool designed to identify and resolve web accessibility issues. 
                It automatically scans web pages for compliance with WCAG (Web Content Accessibility Guidelines) and other accessibility standards, 
                providing detailed reports and actionable insights to ensure an inclusive user experience for people with disabilities.
            </li>
        </ul>

        <p class="govuk-body">
            The following disabilities are considered during testing:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <strong>Keyboard Only User</strong>: The user has a motor impairment that limits them to using only a keyboard to operate a computer.
            </li>
            <li>
                <strong>Voice Activation User</strong>: The user has a motor impairment that limits them to using only voice commands to 
                operate a computer via assistive technology such as a microphone and dictation software.
            </li>
            <li>
                <strong>Screen Reader User</strong>: The user has a visual impairment that limits them to using accessibility software 
                such as a screen reader to operate a computer via keyboard control and feedback via audible descriptions of visual elements.
            </li>
            <li>
                <strong>Low Vision User</strong> The user has a visual impairment that limits their access to content presented at 
                100% magnification. The user utilises system/browser controls or accessibility software to increase screen magnification.
            </li>
            <li>
                <strong>Deaf or Hard of Hearing User</strong>: The user has a hearing impairment that limits their access to audio content.
            </li>
            <li>
                <strong>Learning Difficulties User</strong>: The user has a learning disability that limits their access to content that is 
                presented in a way that requires a high level of literacy.
            </li>
        </ul>

        <p class="govuk-body">
            We've also made the text in the service as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>
        
        <h2 class="govuk-heading-m">How accessible this service is</h2>

        <p class="govuk-body">
            We know some parts of this website are not fully accessible:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                Some charts can be difficult to navigate via keyboards tabbing action.
            </li>
        </ul>

        <h2 class="govuk-heading-m">Feedback and contact information</h2>

        <p class="govuk-body">
            You can contact us about this service using the contact link in the page footer.
        </p>

        <p class="govuk-body">
            If your query is about anything else or you need to contact us by phone, you can find out how to contact us at 
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">www.gov.uk/contact-dfe</a>
        </p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>

        <p class="govuk-body">
            We're always looking to improve the accessibility of this service. If you find any problems that aren't listed 
            on this page or think we're not meeting accessibility requirements, 
            please contact us using the contact link in the page footer.
        </p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>

        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) 
            (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). 
            If you're not happy with how we respond to your complaint, contact the 
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service</a>
        </p>

        <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>

        <p class="govuk-body">
            The Department for Education is committed to making this service accessible, in accordance with the 
            Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <h2 class="govuk-heading-m">Compliance status</h2>

        <p class="govuk-body">
            This website is partially compliant with the 
            <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">
                Web Content Accessibility Guidelines version 2.2
            </a>
            AA standard, due to the non-compliances and exemptions listed below.
        </p>

        <h2 class="govuk-heading-m">Non-accessible content</h2>

        <p class="govuk-body">
            All content is accessible for users.
        </p>

        <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>

        <p class="govuk-body">
            All content is fully compliant with accessibility regulations.
        </p>

        <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>

        <p class="govuk-body">
            All content is fully compliant with accessibility regulations.
        </p>

        <h2 class="govuk-heading-m">Disproportionate burden</h2>

        <p class="govuk-body govuk-!-font-weight-bold">
            PDFs and other documents
        </p>

        <p class="govuk-body">
            The PNGs of our benchmark charts lack some accessibility as they don’t contain ‘label’ tags.
        </p>

        <p class="govuk-body">
            Currently there is no way for us to add tags to these images. We do supply alternative table 
            views of all information on the site which is fully accessible.
        </p>

        <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

        <p class="govuk-body">
            We will continue to conduct user research and testing with the external network.
        </p>

        <p class="govuk-body">
            A review of all images on the service to improve how users interpret them.
        </p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

        <p class="govuk-body">
            This statement was prepared on 9th September 2024.
        </p>

        <p class="govuk-body">
            This website was last tested 12th June 2024. The test was carried out by Senior Accessibility Specialist, Digital Data Technology (DfE).
        </p>
        
    </div>
</div>