@using Web.App.Extensions
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Contact us</h1>
        <p class="govuk-body">
            If you have a suggestion to help us improve our service please complete our
            @Html.TrackedAnchor(
                TrackedLinks.Survey,
                Constants.SurveyUrl,
                "feedback",
                "Opens in a new window",
                "_blank",
                ["noopener", "noreferrer", "external"])
            survey.
        </p>
        <p class="govuk-body">
            If you prefer, or if you have any other questions, you can email us at:
            <a class="govuk-link govuk-link--no-visited-state"
               href="mailto:@Constants.SupportEmail">@Constants.SupportEmail</a>.
            Please include your organisation name or URN in your email.
        </p>
    </div>
</div>