<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cookies</h1>

        <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
        <p class="govuk-body">We use cookies to make the Financial benchmarking and insights tool work and collect information about how you use our service.</p>

        <h2 class="govuk-heading-m">Essential cookies</h2>

        <p class="govuk-body">These essential cookies remember selections on the Financial benchmarking and insights tool as well as keeping your information secure while you use the site. We do not need to ask permission to use them.</p>

        <table class="govuk-table govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Antiforgery</td>
                    <td class="govuk-table__cell">Related to ASP.NET Core's Anti-forgery (CSRF) protection feature</td>
                    <td class="govuk-table__cell">Session (expires when browser is closed)</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Session</td>
                    <td class="govuk-table__cell">Used by ASP.NET Core to maintain user session state across HTTP requests</td>
                    <td class="govuk-table__cell">Session (expires when browser is closed)</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ai_session</td>
                    <td class="govuk-table__cell">Used by Application Insights to track user sessions and interactions within a web application</td>
                    <td class="govuk-table__cell">30 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ai_user</td>
                    <td class="govuk-table__cell">Used by Application Insights to identify unique users across sessions or visits to a web application</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>