<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cookies</h1>

        <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
        <p class="govuk-body">We use cookies to make the Financial Benchmarking and Insights Tool work and collect information about how you use it.</p>

        <h2 class="govuk-heading-m">Essential cookies</h2>

        <p class="govuk-body">These essential cookies remember selections on the Financial Benchmarking and Insights Tool as well as keeping your information secure while you use the site. We do not need to ask permission to use them.</p>

        <table class="govuk-table govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Antiforgery</td>
                    <td class="govuk-table__cell">Protects the service from cross-site request forgery (CSRF) attacks.</td>
                    <td class="govuk-table__cell">Expires at the end of your session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Session</td>
                    <td class="govuk-table__cell">Helps the service remember information about your session as you navigate through it.</td>
                    <td class="govuk-table__cell">Expires at the end of your session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ai_session</td>
                    <td class="govuk-table__cell">	Tracks what you do on the service during your visit.</td>
                    <td class="govuk-table__cell">30 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ai_user</td>
                    <td class="govuk-table__cell">Helps the service recognise you as a unique visitor when you return.</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>