<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Cost category breakdown</h1>

        <p class="govuk-body">
            The table details what is included within each cost category:
        </p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">What is included within each cost category</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cost category</th>
                <th scope="col" class="govuk-table__header">Categories included</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Teaching and teaching support staff</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            teaching staff
                        </li>
                        <li>
                            supply teaching staff
                        </li>
                        <li>
                            agency supply teaching staff
                        </li>
                        <li>
                            educational support staff
                        </li>
                        <li> educational consultancy</li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Non-educational support staff and services</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            administrative and clerical staff
                        </li>
                        <li>
                            other staff
                        </li>
                        <li>
                            professional services (non-curriculum)
                        </li>
                        <li>
                            audit costs
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Educational supplies</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            learning resources (not ICT equipment)
                        </li>
                        <li>
                            examination fees
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Educational ICT </td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>ICT learning resources</li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Premises staff and services </td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            premises staff
                        </li>
                        <li>
                            maintenance of premises
                        </li>
                        <li>
                            cleaning and caretaking
                        </li>
                        <li>
                            other occupational costs
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Utilities</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            energy
                        </li>
                        <li>
                            water and sewerage
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Administrative supplies</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>administrative supplies (non-educational)</li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Catering staff and supplies </td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            catering staff
                        </li>
                        <li>
                            catering supplies
                        </li>
                        <li>
                            catering income
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Other costs</td>
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            indirect employee expenses
                        </li>
                        <li>
                            staff development and training
                        </li>
                        <li>
                            supply teacher insurance
                        </li>
                        <li>
                            staff-related insurance
                        </li>
                        <li>
                            rent and rates
                        </li>
                        <li>
                            grounds maintenance
                        </li>
                        <li>
                            special facilities
                        </li>
                        <li>
                            other insurance premiums
                        </li>
                        <li>
                            direct revenue financing (revenue contributions to capital)
                        </li>
                        <li>
                            PFI charges
                        </li>
                        <li>
                            interest charges for loan and bank
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>