@using EducationBenchmarking.Web.ViewModels.Components
@model EducationBenchmarking.Web.ViewModels.Components.ResourcesViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Resources</h2>
        <ul class="app-links">
            @foreach (var resource in Model.Resources)
            {
                switch (resource)
                {
                    case Resources.FindCommercialResources:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("CommercialResources", "StaticContent")" class="govuk-link govuk-link--no-visited-state">Find commercial resources</a>
                            </h3>
                            <p class="govuk-body">
                                Find recommended resources to help manage your costs
                            </p>
                        </li>
                        break;
                    case Resources.HistoricData:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolHistory", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Historic data</a>
                            </h3>
                            <p class="govuk-body">
                                SOME CONTENT HERE
                            </p>
                        </li>
                        break;
                    case Resources.SchoolDetails:
                        <li>
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolDetails", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">School details</a>
                            </h3>
                            <p class="govuk-body">
                                SOME CONTENT HERE
                            </p>
                        </li>
                        break;
                }
            }
        </ul>
    </div>
</div>