@using Web.App.ViewModels
@model Web.App.ViewModels.SchoolSpendingViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Spending;
}

@await Component.InvokeAsync("EstablishmentHeading", new
    {
        title = PageTitles.Spending,
        name = Model.Name,
        id = Model.Urn,
        kind = OrganisationTypes.School
    })

@await Component.InvokeAsync("CustomDataBanner", new
    {
        name = Model.Name,
        id = Model.Urn,
    })

@if (Model.HighPriorityCosts.Any() || Model.MediumPriorityCosts.Any())
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-font-size-36">Priority cost categories</h2>
            <p class="govuk-body">This shows where spending is different to similar schools.</p>
        </div>
    </div>
    
    @await Html.PartialAsync("_Costs", new CostsViewModel
    {
        Costs = Model.HighPriorityCosts,
        Id = "high-priority",
        Urn = Model.Urn,
        HasIncompleteData = Model.HasIncompleteData
    })
    
    @await Html.PartialAsync("_Costs", new CostsViewModel
    {
        Costs = Model.MediumPriorityCosts,
        Id = "medium-priority",
        Urn = Model.Urn,
        HasIncompleteData = Model.HasIncompleteData
    })
}

@if (Model.LowPriorityCosts.Any())
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-font-size-36">Low priority cost categories</h2>
            <p class="govuk-body">This shows where spending is close to similar schools.</p>
        </div>
    </div>
    
    @await Html.PartialAsync("_Costs", new CostsViewModel
    {
        Costs = Model.LowPriorityCosts,
        Id = "low-priority",
        Urn = Model.Urn,
        HasIncompleteData = Model.HasIncompleteData,
        IsCustomData = true
    })
}

@await Component.InvokeAsync("CustomDataFinanceTools", new
    {
        identifier = Model.Urn,
        tools = new[]
                        {
        FinanceTools.SpendingComparison,
        FinanceTools.CompareYourCosts,
        FinanceTools.BenchmarkCensus
    }
    })

