@model EducationBenchmarking.Web.ViewModels.SchoolPlanViewModel
@{
    ViewBag.Title = PageTitleConstants.SchoolPlanningTotalExpenditure;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">[Insert school name]</span>
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        @using (Html.BeginForm("TotalExpenditure", "SchoolPlanningYear", new { urn = Model.Urn, year = Model.SelectedYear }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="total-expenditure">
                    What is your total expenditure?
                </label>
                <div id="event-name-hint" class="govuk-hint">
                    Enter a value
                </div>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="total-expenditure" name="total-expenditure" type="number" spellcheck="false">
                </div>
            </div>
            <div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        }
    </div>
</div>