<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How data is presented</h2>
        <p class="govuk-body">
            To make the data easier to read, we only show local authorities we have data for.
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Understand the data we use on this page
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    Section 251 is the regulatory requirement to prepare and submit annual, education and children and young people’s services, budget and outturn statements for each financial year.
                </p>
                <p class="govuk-body">
                    This data includes planned expenditure and outturn spend, using aggregated s251 categories. The outturn is the actual amount spent on high needs by local authorities in each financial year. This is taken from the s251 outturn statement.
                </p>
                <p class="govuk-body">
                    The place funding outturn includes place funding for pupils with special educational needs taught in academies. You can read about how we calculate this in the <a href="@Url.Action("HighNeedsGlossary", "StaticContent")" class="govuk-link govuk-link--no-visited-state">glossary</a>.
                </p>
                <p class="govuk-body">
                    Data on EHC plans is taken from SEN2, a statutory annual data collection of special educational needs.
                </p>
                <p class="govuk-body">
                    Pupil numbers are taken from the school census return. These are summed up from schools already present in FBIT data for each local authority.
                </p>
            </div>
        </details>
    </div>
</div>