@model Web.App.ViewModels.LocalAuthorityViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeedsBenchmarking;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Component.InvokeAsync("DataSource", new
{
organisationType = OrganisationTypes.LocalAuthority,
sourceType = DataSourceTypes.HighNeeds,
flagAggregatedHighNeeds = true
})

<div id="benchmark-data-high-needs" data-code="@Model.Code"></div>
