@model EducationBenchmarking.Web.ViewModels.SchoolComparisonViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Compare your costs for @Model.Name</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="" class="govuk-link govuk-link--no-visited-state" id="change-school">Change school</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Compare your spending costs against similar schools</p>
        <a href="" role="button" draggable="false" class="govuk-button" data-module="govuk-button" id="view-comparator-set">
            View your comparator set
        </a>
    </div>
</div>

<div id="compare-your-school" data-urn="@Model.Urn" data-academy-year="[insert text]" data-maintained-year="[insert text]"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">More tools</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("ViewYourAreasForInvestigation", Model.Urn)
    </div>
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("CurriculumFinancialPlanning", Model.Urn)
    </div>
        <div class="govuk-grid-column-one-third">
            @await Component.InvokeAsync("BenchmarkWorkforce", Model.Urn)
        </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">How we can help</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("FindCommercialResources")
    </div>
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("AskForHelpFromAnSrma")
    </div>
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("SubmitAnEnquiry")
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("HelpWithThisService")
    </div>
</div>