<h3 class="govuk-heading-m">Catering costs</h3>

<p class="govuk-body">
    Schools take different approaches to whether they outsource catering or bring it in-house.
</p>

<p class="govuk-body">
    To find and compare schools with a similar catering operating model, you should look at:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>catering staff costs and catering supplies costs to see which schools use their own staff</li>
    <li>catering income together with catering costs - income shows as negative to differentiate it from costs</li>
</ul>
