<h4 class="govuk-heading-s">Catering </h4>

<p class="govuk-body">
    Schools take different approaches to in housing/outsourcing catering. To help find comparators with a similar operating model to yourself, you can drilldown into catering staff costs and catering supplies costs,
    to see which schools have directly employed catering staff. It can also be useful to look at catering income together with catering costs. The income is shown as negative to differentiate it from costs.
</p>
