<h4 class="govuk-heading-s">Educational supplies </h4>

<p class="govuk-body">
    If your school doesn't have adequate and professional services, this can have a direct impact upon pupil outcomes. Educational supplies need to be modern and fit for purpose and schools need to access adequate professional services.
</p>
<p class="govuk-body">
    Learning resources are the very essence of your core business. You should evaluate how much of your total expenditure you are devoting to this important cost group.
    It is also useful to look at this on a per pupil basis and challenge yourself on whether you are spending enough on high quality learning resources.
    This is another example where benchmarking may challenge you to rebalance the allocations of finance within your expenditure structures, given that spending power is finite.
</p>

<p class="govuk-body">
    Further
    <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement">guidance on effective and collaborative procurement</a> can be found on gov.uk.
</p>
