@using Web.App.Extensions
<h3 class="govuk-heading-m">Educational supply costs</h3>

<p class="govuk-body">
    Learning resources are essential to your core business. Inadequate professional services can have a direct impact on pupil outcomes.
</p>

<p class="govuk-body">
    Schools need:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>educational supplies that are modern and fit for purpose</li>
    <li>access to adequate professional services</li>
</ul>

<p class="govuk-body">
    Benchmarking can show you where you can change spending priorities within your budget.
</p>

<p class="govuk-body">
    To understand whether you're spending enough on educational supplies, you should:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>look at this on a per pupil basis</li>
    <li>check how much of your total expenditure you're allocating per pupil</li>
    <li>consider the quality of your learning resources</li>
</ul>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement",
        "guidance on effective and collaborative procurement",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]).
</p>