<h4 class="govuk-heading-s">Cost of finance</h4>

<p class="govuk-body">
    A few schools borrow money or have financing costs through leasing agreements, always with Department for Education/Education and Skills Funding Agency approval.
    If you are one of those, you will have some costs in this cost heading. If you haven't already done so, you could consider if there are opportunities to renegotiate the terms of your commitment.
</p>
