<h4 class="govuk-heading-s">Cost of finance</h4>

<p class="govuk-body">
    Some schools borrow money or have financing costs through leasing agreements. This is always with Department for Education/Education and Skills Funding Agency approval.
</p>

<p class="govuk-body">
    If you do this, you will have some costs in this cost heading. Think about how you could renegotiate the terms of your commitment.
</p>
