<h3 class="govuk-heading-m">ICT costs</h3>

<p class="govuk-body">
    ICT spending can sometimes take the form of a refurbishment or refit which will last a few years at least. So ICT spending won't be even across schools.
</p>

<p class="govuk-body">
    You should recognise that this spending was in your ICT development plan for that year.
</p>

<p class="govuk-body">
    To make efficiencies in ICT spending, you should think about:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>procuring together with other schools</li>
    <li>using framework agreements to secure the best possible deals for your school</li>
</ul>
