<h4 class="govuk-heading-s">IT</h4>

<p class="govuk-body">
    ICT learning resources spending can sometimes take the form of a refurbishment or refit which will last a few years at least, so it is not possible to expect spending on this costing block to be even across a number of schools.
</p>

<p class="govuk-body">
    You should challenge any spending you have on ICT learning resources and consider whether you are obtaining the greatest efficiencies possible.
    Ask yourself whether you are procuring jointly with other schools to obtain savings. You might also want to consider the use of framework agreements in order to secure the best possible deals for your school.
    Spending under this heading should be immediately recognisable as the spending that was planned in your ICT development plan for that year.
</p>
