<h2 class="govuk-heading-l">Interpreting our data</h2>

<h3 class="govuk-heading-m">Interpreting expenditure charts</h3>

<p class="govuk-body">
    You should take care when interpreting the data.
</p>

<p class="govuk-body">
    It shows the position of a school relative to others but it doesn't explain why.
</p>

<p class="govuk-body">
    There may be good reasons for a school to have high or low figures. People involved in budget setting should review them and consider the differences.
</p>

@await Html.PartialAsync("_TeachingCosts")

@await Html.PartialAsync("_Premises")

@await Html.PartialAsync("_Utilities")

@await Html.PartialAsync("_Ict")

@await Html.PartialAsync("_EducationalSupplies")

@await Html.PartialAsync("_Catering")

@await Html.PartialAsync("_Other")
