<h2 class="govuk-heading-m">Interpreting the data</h2>

<h3 class="govuk-heading-s">Interpreting expenditure charts</h3>

<p class="govuk-body">
    You should take care when interpreting the data. It shows the position of a school relative to others; it doesn't explain why this is. 
    There may be good reasons for a school to have high or low figures.
    What's important is that those involved in budget setting review the differences, and consider the reasons for them.
</p>

@await Html.PartialAsync("_TeachingCosts")

@await Html.PartialAsync("_Premises")

@await Html.PartialAsync("_Utilities")

@await Html.PartialAsync("_Ict")

@await Html.PartialAsync("_EducationalSupplies")

@await Html.PartialAsync("_Catering")

<h2 class="govuk-heading-m">Other costs</h2>

@await Html.PartialAsync("_FinanceCosts")

@await Html.PartialAsync("_SpecialFacilities")
