@using Web.App.Extensions
<h4 class="govuk-heading-s">Premises costs</h4>

<p class="govuk-body">
    Next to staffing costs, premises costs can be one of the most expensive groups in the costing structure.
    This cost grouping includes premises staff, cleaning, caretaking and maintenance and improvement, and other occupation costs such as security costs and refuse collection.
</p>

<p class="govuk-body">
    The nature of the buildings drives premises costs in schools more than the pupils within them, so it can be helpful to view premises expenditure on a per metre squared basis and compare your costs
    to schools with similar building characteristics (e.g. gross internal floor area and average age of buildings).
    It is also useful to look at the premises total expenditure as a percentage of total cost and consider whether this is significantly higher or lower than others.
    This can sometimes be explained by the amount of income generated through the hire of the school's facilities.
</p>

<p class="govuk-body">
    Some components in the premises costs block need to be looked at together. For example, if you have directly employed premises staff members,
    they often undertake basic maintenance and improvement tasks and this usually brings economies to schools.
    When comparing maintenance and improvement costs with other schools, it is also wise to look at premises staff costs at the same time.
</p>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement",
        "guidance on effective and collaborative procurement",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]) can be found on gov.uk.
</p>