@using Web.App.Extensions
<h3 class="govuk-heading-m">Premises costs</h3>

<p class="govuk-body">
    Premises costs can also be one of the most expensive cost groups, and includes:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>premises staff</li>
    <li>cleaning, caretaking and maintenance and improvement</li>
    <li>other occupation costs, such as security costs and refuse collection</li>
</ul>

<p class="govuk-body">
    School building types rather than pupil numbers can affect premises costs.
</p>

<p class="govuk-body">
    To get the best results, you might want to:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>view premises expenditure on a per metre squared basis</li>
    <li>compare costs to schools with similar buildings using gross internal floor area and average age of buildings</li>
</ul>

<p class="govuk-body">
    You could also:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>look at the premises total expenditure as a percentage of total cost</li>
    <li>check if this is much higher or lower than other schools</li>
</ul>

<p class="govuk-body">
    Differences are sometimes because of income from the hire of the school's facilities.
</p>

<h4 class="govuk-heading-s">Consider some premises costs together</h4>

<p class="govuk-body">
    For example, school premises staff often do basic maintenance and improvements which can reduce costs.
</p>

<p class="govuk-body">
    You should compare maintenance and improvement costs and premises staff costs at the same time.
</p>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement",
        "guidance on effective and collaborative procurement",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]).
</p>