<h4 class="govuk-heading-s">Special facilities</h4>

<p class="govuk-body">
    This cost category can be very different for each school, and could include but is not limited to:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>swimming pools</li>
    <li>sports centres</li>
    <li>donations paid by the school to a charity</li>
    <li>expenses relating to before and after school clubs</li>
</ul>

<p class="govuk-body">
    You should:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>check whether this spending looks right for your school</li>
    <li>understand if this spending is cost effective</li>
    <li>look if there are better ways of obtaining these services whilst still improving pupil outcomes</li>
</ul>
