<h4 class="govuk-heading-s">Special facilities</h4>

<p class="govuk-body">
    Special facilities could range from swimming pools and sports centres, donations paid by the school to a charity, 
    expenses relating to before and after school clubs and many more. This is the kind of cost heading where there will be no norm. 
    You need to check whether it looks right for your school and challenge yourselves as to whether the costs you incur under this heading are cost effective. 
    You should also consider whether there are better ways of obtaining the services and evaluate what these add to pupil outcomes.
</p>
