@using Web.App.Extensions
<h3 class="govuk-heading-m">Teaching and teaching support staff costs</h3>

<p class="govuk-body">
    Staffing typically makes up between 75% and 80% of mainstream schools' expenditure. It can be more for special schools and pupil referral units (PRUs).
</p>

<p class="govuk-body">
    When reviewing and comparing your teaching and teaching support staff costs, you should:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>review staff structures as part of annual school improvement, curriculum and financial planning</li>
    <li>look at the whole education delivery model - use the data on the Benchmark pupil and workforce data page</li>
    <li>talk to benchmarked schools about how they operate and see if you could change your education delivery model</li>
</ul>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/publications/school-workforce-planning",
        "guidance on school workforce and curriculum planning",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]).
</p>