@using Web.App.Extensions
<h4 class="govuk-heading-s">Teaching and teaching support staff costs</h4>

<p class="govuk-body">
    As staffing typically represents between 75% and 80% of mainstream schools' expenditure, and more for special schools and pupil referral units (PRUs),
    it's important that schools review their staff structures regularly as part of their annual school improvement, curriculum and financial planning.
</p>

<p class="govuk-body">
    When you are interrogating other schools' finances to compare with your own, it's important to look at the education delivery model as a whole.
    The data that sits within the workforce tab on the benchmark charts page will help with this.
</p>

<p class="govuk-body">
    It is also useful to have discussions with professionals in other schools in your benchmark set to gain greater insight into the reasons
    they operate in the way they do and evaluate the suitability of alternative education delivery models to your own situation.
</p>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/publications/school-workforce-planning",
        "guidance on school workforce and curriculum planning",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]) can be found on gov.uk.
</p>