@using Web.App.Extensions
<h3 class="govuk-heading-m">Utilities costs</h3>

<p class="govuk-body">
    School building types rather than pupil numbers drives the majority of utility costs. You have to heat the whole school and keep the school infrastructure running all the time.
</p>

<p class="govuk-body">
    You're benchmarked against schools with similar building characteristics. So looking at utilities per metre squared might be helpful.
</p>

<p class="govuk-body">
    This will help you understand if you can:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>be more energy efficient</li>
    <li>make better use of framework agreements to make your costs more efficient</li>
</ul>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement",
        "guidance on effective and collaborative procurement",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]).
</p>