@using Web.App.Extensions
<h4 class="govuk-heading-s">Utility costs</h4>

<p class="govuk-body">
    Utility costs are driven more by the nature of the buildings, than the number of pupils within them. You have to heat the whole school and keep all the infrastructure ticking over all of the time.
    Your comparators are based on schools with similar building characteristics, so looking at this cost element on a per metre squared basis will challenge you as to whether you have the most energy efficient approaches
    that you could possibly have. It may also challenge you to consider whether you have made the best use of framework agreements to obtain maximum efficiencies from the costs you incur.
</p>

<p class="govuk-body">
    Utility costs are driven more by the nature of the buildings, than the number of pupils within them. You have to heat the whole school and keep all the infrastructure ticking over all of the time.
    Your comparators are based on schools with similar building characteristics, so looking at this cost element on a per metre squared basis will challenge you as to whether you have the most energy efficient approaches
    that you could possibly have. It may also challenge you to consider whether you have made the best use of framework agreements to obtain maximum efficiencies from the costs you incur.
</p>

<p class="govuk-body">
    Investment in energy saving improvements can often find medium to long term savings. The government supports an Energy Efficiency Loan Scheme, run by Salix Finance, to help schools meet energy efficiency investment costs.
    Further details can be found on the
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.salixfinance.co.uk/england",
        "Salix website",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]).
</p>

<p class="govuk-body">
    Further
    @Html.TrackedAnchor(
        TrackedLinks.DataSource,
        "https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement",
        "guidance on effective and collaborative procurement",
        "Opens in a new window",
        "_blank",
        ["noopener", "noreferrer", "external"]) can be found on gov.uk.
</p>