@model Web.App.ViewModels.SchoolViewModel

@{
    ViewData[ViewDataKeys.Title] = PageTitles.HistoricData;
    var dataSource = Model.IsPartOfTrust
        ? "Financial data is from academies accounts return (AAR) return."
        : "Financial data is from consistent financial reporting (CFR).";
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.Urn, kind = OrganisationTypes.School })

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">View data from previous financial years.</p>
        <p class="govuk-body">@dataSource</p>
        <p class="govuk-body">Workforce data is taken from the workforce census.</p>
        <p class="govuk-body">Pupil data is taken from the school census data set in January.</p>
    </div>
</div>

<div id="historic-data" data-type="@OrganisationTypes.School" data-id="@Model.Urn"></div>