@using Web.App.ViewModels
@model Web.App.ViewModels.SchoolViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolHome;
}

@if (Model is { PeriodCoveredByReturn: < 12 })
{
    @await Html.PartialAsync("_IncompleteFinances")
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">@Model.Name</h1>
        <p class="govuk-body">
            @await Html.PartialAsync("_ChangeLink", new ChangeLinkViewModel { Type = OrganisationTypes.School })
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.IsPartOfTrust)
        {
            <h2 class="govuk-heading-m">
                <span>Part of </span><a
                    href="@Url.Action("Index", "Trust", new { companyNumber = Model.TrustIdentifier })"
                    class="govuk-link govuk-link--no-visited-state">@Model.TrustName</a>
            </h2>
        }
    </div>
    @await Html.PartialAsync("_Banners", Model)
</div>

@if (Model.FederationSchools.Length > 0)
{
    @await Html.PartialAsync("_FederationSchools", Model)
}

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.School,
    sourceType = DataSourceTypes.Spending,
    isPartOfTrust = Model.IsPartOfTrust,
    additionText = string.IsNullOrEmpty(Model.UserDefinedSetId)
        ? null
        : new[]
        {
            "You are now comparing with your chosen schools."
        }
})

@await Html.PartialAsync("_SchoolKeyInformation", Model)

@await Html.PartialAsync("_SpendingPriorities", Model)

@await Html.PartialAsync("_Performance", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Html.PartialAsync("FinanceTools/_School", Model.Tools)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Component.InvokeAsync("Resources", new
{
    identifier = Model.Urn,
    resources = Model.Resources
})

@* TODO: review for public beta
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Component.InvokeAsync("GetHelp") *@

@section scripts
{
    <script type="module" add-nonce="true">
        import {initAll} from '/js/govuk-frontend.min.js'

        initAll()
    </script>
}

@section banner {
    @if (string.IsNullOrEmpty(Model.CustomDataId)
         && Model.ComparatorReverted != true
         && Model is not { ComparatorGenerated: not null, HasMetricRag: true }
         && !(!Model.HasMetricRag && !string.IsNullOrEmpty(Model.UserDefinedSetId)))
    {
        var target = Model.IsPartOfTrust ? BannerTargets.SchoolHomeAcademy : BannerTargets.SchoolHomeMaintained;
        @await Component.InvokeAsync("Banner", new { target })
    }
}