<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Help &amp; support</h2>
        <ul class="app-links app-links-three-columns">
            <li>
                <h3 class="govuk-heading-s">Frameworks</h3>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://www.gov.uk/government/publications/area-send-framework-and-handbook/area-send-inspections-framework-and-handbook"
                            class="govuk-link govuk-link--no-visited-state">
                            SEND framework
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.gov.uk/government/publications/high-needs-budgets-effective-management-in-local-authorities"
                            class="govuk-link govuk-link--no-visited-state">
                            High needs budgets
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="govuk-heading-s">Data sources</h3>
                <ul class="govuk-list">
                    <li>
                        <a
                            href="https://explore-education-statistics.service.gov.uk/find-statistics/education-health-and-care-plans"
                            class="govuk-link govuk-link--no-visited-state">
                            SEND2
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://explore-education-statistics.service.gov.uk/find-statistics/la-and-school-expenditure"
                            class="govuk-link govuk-link--no-visited-state">
                            Section 251 (outturn)
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://explore-education-statistics.service.gov.uk/data-catalogue/data-set/031ae956-10e9-4908-8236-937bdebefb71"
                            class="govuk-link govuk-link--no-visited-state">
                            Section 251 (planned expenditure)
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.gov.uk/government/publications/local-authority-interactive-tool-lait"
                            class="govuk-link govuk-link--no-visited-state">
                            Statistical neighbours
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationprojections/datasets/localauthoritiesinenglandz1"
                            class="govuk-link govuk-link--no-visited-state">
                            Population
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="govuk-heading-s">Guidance</h3>
                <ul class="govuk-list">
                    <li>
                        <a href="@Url.ActionLink("HighNeedsGlossary", "StaticContent")" class="govuk-link"
                           rel="noreferrer noopener" target="_blank" id="high-needs-glossary">Glossary of terms
                            (opens in new tab)</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

