{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Custom comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "/comparators/create"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
    {% if errorThisPage == 'true' and errorNoSchool == 'true' %}

      {% set errorText = 'Enter a school name, address or URN' %}

      {{ govukErrorSummary
          ({
              titleText: "There is a problem",
              errorList:
              [
                  {
                      text: errorText,
                      href: "#school"
                  }
              ]
          })
      }}
  {% endif %}

  <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
  <h1 class="govuk-heading-l">
    Find a school using a school name, postcode or URN
  </h1>

      <form action="/add-comparator-school" method="post">
        <div class="school-search">

            {{ xGovukAutocomplete({
              id: "school",
              name: "school",
              allowEmpty: false,
              hint: {
                  text: ""
              },
              errorMessage: null if errorThisPage != 'true' and errorNoSchool != 'true' else { html: errorText },
              items: schoolRows
            }) }}
            
            {{ govukButton({
              text: "Select school"
            }) }}
        </div>
      </form>


    {% if data['comparators'] | length %}

    <h1 class="govuk-heading-m">Selected schools ({{rows.length}})</h1>
    
    {{ govukButton({
        text: 'Save comparator set' if data['editSet'] == 'true' else "Create comparator set from selected schools",
        href: 'generated'
      }) }}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "School",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Type"
        },
        {
          text: "Number of pupils"
        },
        {
          text: "Pupils with special educational needs"
        },
        {
          text: "Pupils eligible for free school meals"
        },
        {
          text: ""
        }
      ],
      "rows": rows
    }) }}
    
    <p class="govuk-body" style="float: right"><a href="/comparators/reset" class="govuk-link">Remove all your choices</a></p>
    {% endif %}


    </div>
</div>

<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

      <option value="errorThisPage=false&errorNoSchool=false"
              {% if errorThisPage != 'true' %}selected{% endif %}>Errors - Off</option>

      <option value="errorThisPage=true&errorNoSchool=true"
              {% if errorNoSchool == 'true' %}selected{% endif %}>Error: No answer entered</option>
  </select>

</form>




{% endblock %}