{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "/comparators/create/by-name"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
  <h1 class="govuk-heading-l">
    Comparator set
  </h1>
  
  {% set html %}
  <h3 class="govuk-notification-banner__heading">
    Comparator set {{ 'updated' if data['editSet'] == 'true' else "created" }}
  </h3>
  <p><a href="/school-homepage" class="govuk-link">Compare your chosen schools</a></p>
  <p><a href="/comparators/create/view" class="govuk-link">View your comparator set</a></p>
  <p><a href="/comparators/create/by-name?editSet=true" class="govuk-link">Manage your comparator set</a></p>
  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}
    


    </div>
</div>



{% endblock %}