{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% if data['comparators'] %}
  {% set actionText = 'Your' %}
{% else %}
  {% set actionText = 'Create a' %}
{% endif %}

{% block pageTitle %}
  {{ actionText }} custom comparator set - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

  {% if confirmation == 'comparator-generated' %}

    {{ govukBackLink({
        text: "Back",
        href: "/comparators/create"
    }) }}

    {% else %}

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/find-school"
        },
        {
          text: "Your school",
          href: "/school-homepage"
        }
      ]
    }) }}

  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      
    {% if errorThisPage == 'true' %}

      {% set errorText = 'Select a school to add' %}

      {{ govukErrorSummary
          ({
              titleText: "There is a problem",
              errorList:
              [
                  {
                      text: errorText,
                      href: "#school"
                  }
              ]
          })
      }}
  {% endif %}

  <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
  <h1 class="govuk-heading-l">Choose your own similar schools</h1>


      {% if confirmation != 'comparator-generated' %}
      <form action="/add-comparator-school" method="post">
        <h2 class="govuk-heading-m">Enter a school name, address or URN</h2>
        <div class="school-search">

            {{ xGovukAutocomplete({
              id: "school",
              name: "school",
              allowEmpty: false,
              hint: {
                  text: ""
              },
              errorMessage: null if errorThisPage != 'true' else { html: errorText },
              items: schoolRows
            }) }}
            

            {{ govukButton({
              text: "Choose"
            }) }}
        </div>
      </form>
      {% endif %}

    {% if data['comparators'] | length %}

      {% if confirmation == 'comparator-generated' %}
      {% set html %}
      <p class="govuk-body"><strong>Comparator set generated</strong></p>
      {% endset %}

      {% elseif confirmation == 'comparator-added' %}
        {% set html %}
        <p class="govuk-body"><strong>{{ ( data['comparators'] | first ).comparatorName }}</strong> added to your custom comparator set.</p>
        {% endset %}
      
      {% elseif confirmation == 'comparator-removed' %}
        {% set html %}
        <p class="govuk-body"><strong>{{ data['school-removed'] }}</strong> removed from your custom comparator set - <a href="/comparators/undo-remove?schoolName={{ data['school-removed'] }}" class="govuk-link">Undo</a>.</p>
        {% endset %}

      {% endif %}

      {% if confirmation %}
      
        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}
        
      {% endif %}
      
      {% if comparatorSetType == 'generated' %}
      <p class="govuk-body">These 30 schools are the closest matches based on the characteristics you selected.<br />
        <a href="/comparators/create/characteristics">Change characteristics and generate a new comparison set</a>
    </p>
      {% endif %}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "School"
        },
        {
          text: "Type"
        },
        {
          text: "Number of pupils"
        },
        {
          text: "Ofsted rating"
        },
        {
          text: "Free school meals"
        },
        {
          text: ""
        }
      ],
      "rows": rows
    }) }}

    <p class="govuk-body"><a href="/spending-and-costs" class="govuk-link">Return to {{ data['school-name'] }} spending and costs</a></p>
    <p class="govuk-body"><a href="/comparators/reset" class="govuk-link">Delete your custom comparator set</a></p>
    {% else %}

    <p class="govuk-body">No schools added</p>

    {% endif %}


    </div>
</div>

<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-225px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

      <option value="errorThisPage=false&errorNoSchool=false"
              {% if errorThisPage != 'true' %}selected{% endif %}>Errors - Off</option>

      <option value="errorThisPage=true&errorNoSchool=true"
              {% if errorNoSchool == 'true' %}selected{% endif %}>Error: No answer entered</option>
  </select>

</form>




{% endblock %}