{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Comparator sets - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/comparators/create"
    }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/comparators/create/phase" method="post">
        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Create a custom comparator set</h1>

        {{ govukRadios({
          name: "compareType",
          fieldset: {
            legend: {
              text: "Which type of schools do you want to compare against?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "all",
              text: "All schools",
              checked: checked("compareType", "all")
            },
            {
              value: "maintained",
              text: "Maintained schools",
              checked: checked("compareType", "maintained")
            },
            {
              value: "academies",
              text: "Academies",
              checked: checked("compareType", "academies")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button--primary"
        }) }}

        </form>

    </div>
</div>
{% endblock %}