{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}


{% extends "layouts/v1_0_0.html" %}

{% block pageTitle %}
    {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/" + version + "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage?customData=generated"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<span class="govuk-caption-l"><a href="/{{ version }}/school-homepage?customData=generated" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
<h1 class="govuk-heading-l">Use your customised data</h1>



{% if confirmation == 'generated' %}

    {% set html %}
    <h3 class="govuk-notification-banner__heading">You've created some customised data</h3>

    {% if data['changed'] == 'true' %}
        <p class="govuk-body">Some of the data you entered means we've updated <a href="/{{ version }}/comparators/view?customData=true">the similar schools</a> we chose to benchmark this school against.</p>
    {% endif %}

    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        type: "success"
    }) }}

{% elseif confirmation == 'updated' %}


    {% set html %}
    <h3 class="govuk-notification-banner__heading">You've updated your custom data</h3>

    {% if data['changed'] == 'true' %}
        <p class="govuk-body">Some of the data you entered means we've updated <a href="/{{ version }}/comparators/view?customData=true">the similar schools</a> we chose to benchmark this school against.</p>
    {% endif %}

    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        type: "success"
    }) }}
{% endif %}

<p class="govuk-body">Use your customised data with the benchmarking tools below.</p>

<p><a href="/{{ version }}/custom-data/financial-data" class="govuk-link">View or change your custom data</a></p>
<p><a href="/{{ version }}/school-homepage?customData=generated" class="govuk-link">View the original data for {{ data['school-name'] }}</a></p>

{% if data['changed'] == 'true' and confirmation != 'generated' and confirmation != 'updated' %}
<p class="govuk-body">Some of the data you entered means we've updated <a href="/{{ version }}/comparators/view?customData=true">the similar schools</a> we benchmark this school against.</p>
{% endif %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Custom data benchmarking tools</h2>
        <ul class="app-links">

        {% if data['changed'] != 'true' %}
            <li>
                <a href="/{{ version }}/custom-data/side-by-side"><img src="/public/images/side-by-side.png" alt="" class="app-view-component"></a>
                <h3 class="govuk-heading-s">
                    <a href="/{{ version }}/custom-data/side-by-side" class="govuk-link govuk-link--no-visited-state">Side-by-side comparison</a>
                </h3>
                <p class="govuk-body">
                    See how your custom data changes benchmarking compared to your original data.
                </p>
            </li>
        {% endif %}

            <li>
                <a href="#"><img src="/public/images/compare-your-costs.png" alt="" class="app-view-component"></a>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Compare your costs</a>
                </h3>
                <p class="govuk-body">
                    Use your custom data to benchmark costs against other schools.
                </p>
            </li>
            <li>
                <a href="/{{ version }}/spending-and-costs?customData=true"><img src="/public/images/areas-for-investigation.png" alt="" class="app-view-component"></a>
                <h3 class="govuk-heading-s">
                    <a href="/{{ version }}/spending-and-costs?customData=true" class="govuk-link govuk-link--no-visited-state">Spending priorities for this school</a>
                </h3>
                <p class="govuk-body">
                    Use your custom data to see spending priorities for this school.
                </p>
            </li>
            <li>
                <a href="#"><img src="/public/images/benchmark-workforce.png" alt="" class="app-view-component"></a>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Benchmark pupil and workforce data</a>
                </h3>
                <p class="govuk-body">
                    Use your custom data to benchmark orkforce and pupil data against other schools.
                </p>
            </li>
        </ul>
    </div>
</div>


{% endblock %}