{% extends "layouts/latest.html" %}

{% block pageTitle %}
  Customise your data - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/custom-data/financial-data"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Enter custom non-financial data</h1>

        <!--<h2 class="govuk-heading-m">Update your school characteristics</h2>-->

        {{ govukWarningText({
          text: "Entering custom data here could change the similar schools we chose to benchmark this school against",
          iconFallbackText: "Warning"
        }) }}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Type of data"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Number of pupils (full time equivalent)"
              },
              {
                text: "8,712",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  }
                })
              }
            ],
            [
              {
                text: "Pupils eligible for free school meals (FSM)"
              },
              {
                text: "6.4%",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Pupils with special educational needs (SEN)"
              },
              {
                text: "5.9%",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Predicted percentage pupil change 3 to 5 years"
              },
              {
                text: "5.3%",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Gross internal floor area"
              },
              {
                text: "12,234 square metres",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: 'square metres'
                  }
                })
              }
            ]
          ]
        }) }}

        <form method="post" action="/{{ version }}/custom-data/workforce">
          <input type="hidden" name="changed" id="changed" value="" />

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
    
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
<script> 
  $("input").on("change", function() { 
    $("#changed").val('true');
  }); 
</script> 

{% endblock %}