@model EducationBenchmarking.Web.ViewModels.Components.CompareYourCostsViewModel

<img src="/assets/images/compare-your-costs.png" alt="" class="app-view-component">
<h3 class="govuk-heading-m">
    <a href="@Url.Action("Index", "SchoolComparison", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Compare your costs</a>
</h3>
<p class="govuk-body">
    Compare against similar schools to yours or schools of your choise.
</p>