{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}


{% extends "layouts/latest.html" %}

{% block pageTitle %}
    Choose comparison characteristics – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/compare-trusts"
    }) }}
{% endblock %}

{% block content %}

<span class="govuk-caption-l"><a href="/{{ version }}/trust-homepage" class="govuk-link--no-underline">{{ data['trust-name'] }}</a></span>
<h1 class="govuk-heading-l">Choose characteristics to find matching trusts</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <!--
            <div class="sticky-div matching-schools">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <div class="school-match-info">
                            <span id="schoolCount" aria-live="assertive" role="alert" style="" class="govuk-body-s govuk-!-font-size-16"><span id="countPart" class="bold-xsmall">2,619</span><span id="rest"> matching trusts found.</span></span>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="govuk-form-group">
                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-MinNoPupil" type="checkbox" aria-controls="rc_NoPupil" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinNoPupil">Number of pupils <span class="govuk-visually-hidden">{{ data['trust-name'] }} has 14,156 pupils</span></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="rc_NoPupil">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-hint">
                            <span>{{ data['trust-name'] }} has </span>
                                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">14,156 pupils</span>
                    </div>

                    <span class="govuk-error-message"></span>

                    <legend class="govuk-visually-hidden">Number of pupils</legend>

                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MinNoPupil">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoPupil" id="MinNoPupil" class="govuk-input form-control criteria-input min-js govuk-input--width-5" min="0" max="100000"aria-label="Minimum value for Number of pupils">
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MaxNoPupil">To</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoPupil" id="MaxNoPupil" class="govuk-input form-control criteria-input max-js govuk-input--width-5" min="0" max="100000"     aria-label="Maximum value for Number of pupils">
                    </div>
                    </fieldset>
                    </div>
                    </div>
                </div>

                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-MinNoSchools" type="checkbox" aria-controls="rc_NoSchools" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinNoSchools">Number of schools <span class="govuk-visually-hidden">{{ data['trust-name'] }} has 16 schools</span></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="rc_NoSchools">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-hint">
                            <span>{{ data['trust-name'] }} has </span>
                                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 schools</span>
                    </div>

                    <span class="govuk-error-message"></span>

                    <legend class="govuk-visually-hidden">Number of schools</legend>

                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MinNoSchools">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MaxNoSchools">To</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                    </div>
                    </fieldset>
                    </div>
                    </div>
                </div>


                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-MinTotalIncome" type="checkbox" aria-controls="rc_TotalIncome" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinTotalIncome">Total income <span class="govuk-visually-hidden">{{ data['trust-name'] }}'s income is £279,123,456</span></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="rc_TotalIncome">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-hint">
                            <span>{{ data['trust-name'] }}'s income is </span>
                                <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">£279,123,456</span>
                    </div>

                    <span class="govuk-error-message"></span>

                    <legend class="govuk-visually-hidden">Total income</legend>

                    <div class="govuk-grid-column-one-half">
                        <label class="govuk-label" for="MinTotalIncome1">From</label>
                        <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinTotalIncome" id="MinTotalIncome1" class="govuk-input form-control criteria-input min-js govuk-input--width-10" min="0" max="1000000000"aria-label="Minimum value for Total income">
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <label class="govuk-label" for="MaxTotalIncom1">To</label>
                        <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxTotalIncome" id="MaxTotalIncome1" class="govuk-input form-control criteria-input max-js govuk-input--width-10" min="0" max="1000000000"     aria-label="Maximum value for Total income">
                        </div>
                    </div>
                    </fieldset>
                    </div>
                    </div>
                </div>



                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-MinSize" type="checkbox" aria-controls="pc20" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinSize">Total gross internal floor area <!--<span class="govuk-visually-hidden">The value for {{ data['school-name'] }} is 1964</span>--></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="pc20">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-hint">
                                <span>The total value for {{ data['trust-name'] }} is <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">410,130</span> square metres</span>

                    </div>


                    <span class="govuk-error-message"></span>

                    <div class="govuk-grid-column-one-third">
                        <label class="govuk-label" for="MinSize">From</label>
                        <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinSize" id="MinSize" class="govuk-input form-control criteria-input min-js" min="0" max="100" >
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <label class="govuk-label" for="MaxSize">To</label>
                        <div style="width: 300px">
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxSize" id="MaxSize" class="govuk-input form-control criteria-input max-js" style="display: inline-block; width: 160px" min="0" max="100" >
                            <p class="govuk-body" style="display: inline-block; margin-left: 10px">square metres</p>
                        </div>
                    </div>
                    </fieldset>
                    </div>
                    </div>
                </div>

                
                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-OverallPhase" type="checkbox" aria-controls="phc" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" id="label-OverallPhase" for="checkbox-OverallPhase">School phases covered by trust <span class="govuk-visually-hidden">The value for {{ data['school-name'] }} is Secondary</span></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="phc">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                    <div class="govuk-hint">
                            <span>{{ data['trust-name'] }} contains <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Primary, Secondary and Special</span> schools</span>
                    </div>

                    <span class="govuk-error-message"></span>

                    <legend class="govuk-visually-hidden">School phases covered by trust</legend>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input type="checkbox" name="AdvancedCriteria.SchoolPhase" id="SchoolPhase.Nursery" value="Nursery" class="govuk-checkboxes__input criteria-checkbox" aria-controls="nursery-phases" aria-expanded="false">
                            <label class="govuk-label govuk-checkboxes__label" for="SchoolPhase.Nursery">Nursery</label>
                        </div>                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="nursery-phases">
                            <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                            <p class="govuk-body">Number of nursery schools in trust (optional)</p>
                            <div class="govuk-hint">
                                    <span>{{ data['trust-name'] }} has </span>
                                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 nursery schools</span>
                            </div>
            
                            <span class="govuk-error-message"></span>
            
                            <legend class="govuk-visually-hidden">Number of schools</legend>
            
                            <div class="govuk-grid-column-one-quarter">
                                <label class="govuk-label" for="MinNoSchools2">From</label>
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools2" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                <label class="govuk-label" for="MaxNoSchools2">To</label>
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools2" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                            </div>
                            </fieldset>
                            </div>
                        </div>
                    
                    <div class="govuk-checkboxes__item subQuestion">
                        <input type="checkbox" name="PrimaryOverallPhase" id="PrimaryOverallPhase" class="govuk-checkboxes__input criteria-checkbox" aria-controls="prim-phases" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="PrimaryOverallPhase">Primary</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="prim-phases">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <p class="govuk-body">Number of primary schools in trust (optional)</p>
                        <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} has </span>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 primary schools</span>
                        </div>
        
                        <span class="govuk-error-message"></span>
        
                        <legend class="govuk-visually-hidden">Number of schools</legend>
        
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinNoSchools3">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools3" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxNoSchools3">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools3" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                        </div>
                        </fieldset>
                        </div>
                    </div>
                    

                    <div class="govuk-checkboxes__item subQuestion">
                        <input type="checkbox" name="SecondaryOverallPhase" id="SecondaryOverallPhase" class="govuk-checkboxes__input criteria-checkbox" aria-controls="sec-phases" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="SecondaryOverallPhase">Secondary</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="sec-phases">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <p class="govuk-body">Number of secondary schools in trust (optional)</p>
                        <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} has </span>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 secondary schools</span>
                        </div>
        
                        <span class="govuk-error-message"></span>
        
                        <legend class="govuk-visually-hidden">Number of schools</legend>
        
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinNoSchools4">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools4" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxNoSchools4">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools4" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                        </div>
                        </fieldset>
                        </div>
                    </div>
                      
                    
                    <div class="govuk-checkboxes__item">
                        <input type="checkbox" name="AdvancedCriteria.SchoolPhase" id="SchoolPhase.Special" value="Special" class="govuk-checkboxes__input criteria-checkbox" aria-controls="special-phases" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="SchoolPhase.Special">Special</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="special-phases">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <p class="govuk-body">Number of special schools in trust (optional)</p>
                        <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} has </span>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 special schools</span>
                        </div>
        
                        <span class="govuk-error-message"></span>
        
                        <legend class="govuk-visually-hidden">Number of schools</legend>
        
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinNoSchools5">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools5" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxNoSchools5">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools5" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                        </div>
                        </fieldset>
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input type="checkbox" name="AdvancedCriteria.SchoolPhase" id="SchoolPhase.PRU" value="Pupil referral unit" class="govuk-checkboxes__input criteria-checkbox" aria-controls="pru-phases" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="SchoolPhase.PRU">Pupil referral unit</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="pru-phases">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <p class="govuk-body">Number of pupil referral units in trust (optional)</p>
                        <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} has </span>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 pupil referral units</span>
                        </div>
        
                        <span class="govuk-error-message"></span>
        
                        <legend class="govuk-visually-hidden">Number of schools</legend>
        
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinNoSchools6">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools6" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxNoSchools6">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools6" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                        </div>
                        </fieldset>
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input type="checkbox" name="AdvancedCriteria.SchoolPhase" id="SchoolPhase.AT" value="All-through" class="govuk-checkboxes__input criteria-checkbox" aria-controls="all-phases" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="SchoolPhase.AT">All-through</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="all-phases">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <p class="govuk-body">Number of all-through schools in trust (optional)</p>
                        <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} has </span>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">16 all-through schools</span>
                        </div>
        
                        <span class="govuk-error-message"></span>
        
                        <legend class="govuk-visually-hidden">Number of schools</legend>
        
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinNoSchools7">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinNoSchools" id="MinNoSchools7" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100000"aria-label="Minimum value for Number of schools">
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxNoSchools7">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxNoSchools" id="MaxNoSchools7" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100000"     aria-label="Maximum value for Number of schools">
                        </div>
                        </fieldset>
                        </div>
                    </div>
                </div>

                </fieldset>
                </div>
                </div>
                </div>




                <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item question">
                    <input class="govuk-checkboxes__input" id="checkbox-MinPerFSM" type="checkbox" aria-controls="pc" aria-expanded="false">
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinPerFSM">Eligibility for free school meals (FSM) <span class="govuk-visually-hidden">The value for {{ data['school-name'] }} is 6.4</span></label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="pc">
                    <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                    <div class="govuk-hint">
                                <span><span class="govuk-!-font-size-19 govuk-!-font-weight-bold">6.4%</span> of pupils at {{ data['trust-name'] }} schools have free school meals.</span>
    
                    </div>
    
    
                    <span class="govuk-error-message"></span>
    
                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MinPerFSM">From</label>
                        <div class="govuk-input__wrapper">
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinPerFSM" id="MinPerFSM" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100" aria-label="Minimum value for Eligibility for free school meals">
                            <div class="govuk-input__suffix" aria-hidden="true">%</div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <label class="govuk-label" for="MaxPerFSM">To</label>
                        <div class="govuk-input__wrapper">
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxPerFSM" id="MaxPerFSM" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100" aria-label="Maximum value for Eligibility for free school meals">
                            <div class="govuk-input__suffix" aria-hidden="true">%</div>
                        </div>
                    </div>
                    </fieldset>
                    </div>
                    </div>
                    </div>
    
                    
    
                    <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item question">
                        <input class="govuk-checkboxes__input" id="checkbox-MinPerSENReg" type="checkbox" aria-controls="pc1" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinPerSENReg">Pupils with special educational needs (SEN) <span class="govuk-visually-hidden">The value for {{ data['school-name'] }} is 8</span></label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="pc1">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                        <div class="govuk-hint">
                                    <span>{{ data['trust-name'] }} has <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">8.00%</span> of pupils with special educational needs</span>
                    
                        </div>
                    
                    
                        <span class="govuk-error-message"></span>
                    
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinPerSENReg">From</label>
                            <div class="govuk-input__wrapper">
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinPerSENReg" id="MinPerSENReg" class="govuk-input form-control criteria-input min-js govuk-input--width-3" min="0" max="100" aria-label="Minimum value for Pupils with special educational needs (SEN) who don't have statements or education and health care (EHC) plans">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxPerSENReg">To</label>
                            <div class="govuk-input__wrapper">
                                <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxPerSENReg" id="MaxPerSENReg" class="govuk-input form-control criteria-input max-js govuk-input--width-3" min="0" max="100"     aria-label="Maximum value for Pupils with special educational needs (SEN) who don't have statements or education and health care (EHC) plans">
                                <div class="govuk-input__suffix" aria-hidden="true">%</div>
                            </div>
                       </div>
                        </fieldset>
                        </div>
                        </div>
                        </div>
    
    
    

                        <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item question">
                            <input class="govuk-checkboxes__input" id="checkbox-GovernmentOffice" type="checkbox" aria-controls="mcc2" aria-expanded="false">
                            <label class="govuk-label govuk-checkboxes__label" id="label-GovernmentOffice" for="checkbox-GovernmentOffice">Region <span class="govuk-visually-hidden">The value for {{ data['school-name'] }} is South East</span></label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="mcc2">
                            <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                            <div class="govuk-hint">
                                    <span>{{ data['trust-name'] }} is in <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">South East</span></span>
                            </div>
                
                            <span class="govuk-error-message"></span>
                
                            <legend class="govuk-visually-hidden">Government office region</legend>
                
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.East Midlands" value="East Midlands">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.East Midlands">East Midlands</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.East of England" value="East of England">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.East of England">East of England</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.London" value="London">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.London">London</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.North East" value="North East">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.North East">North East</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.North West" value="North West">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.North West">North West</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.South East" value="South East">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.South East">South East</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.South West" value="South West">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.South West">South West</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.West Midlands" value="West Midlands">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.West Midlands">West Midlands</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input criteria-checkbox" type="checkbox" name="AdvancedCriteria.GovernmentOffice" id="GovernmentOffice.Yorkshire and the Humber" value="Yorkshire and the Humber">
                                        <label class="govuk-label govuk-checkboxes__label" for="GovernmentOffice.Yorkshire and the Humber">Yorkshire and the Humber</label>
                                    </div>
                            </div>
                            </fieldset>
                            </div>
                            </div>
                            </div>

                            
                    <div class="govuk-checkboxes question" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item question">
                        <input class="govuk-checkboxes__input" id="checkbox-MinBuildYear" type="checkbox" aria-controls="pc19" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="checkbox-MinBuildYear">Trust formation year</label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="pc19">
                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
        
                            <div class="govuk-hint">
                                <span>{{ data['trust-name'] }} was formed in <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">2014</span></span>
                            </div>
    
    
                        <span class="govuk-error-message"></span>
    
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MinBuildYear">From</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MinBuildYear" id="MinBuildYear" class="govuk-input form-control criteria-input min-js govuk-input--width-4" min="0" max="100" >
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <label class="govuk-label" for="MaxBuildYear">To</label>
                            <input type="text" pattern="[0-9]*" inputmode="numeric" name="AdvancedCriteria.MaxBuildYear" id="MaxBuildYear" class="govuk-input form-control criteria-input max-js govuk-input--width-4" min="0" max="100" >
                        </div>
                        </fieldset>
                        </div>
                        </div>
                    </div>

        </div>

            {{ govukButton({
            text: "Continue",
            href: '/compare-trusts/preview',
            classes: "govuk-button--primary"
            }) }}
<!--
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
        <script>
            intMatches = 2619;

            $('.govuk-checkboxes.question input[type=text]').change( function() {
                updateCounts( $(this).val(), $(this) );
            })
            
            $('.govuk-checkboxes__conditional .govuk-checkboxes__input').click(function() {
                updateCounts( $(this).is(':checked'), $(this) );
            })

            function updateCounts(blnCount, objPassed) {

                if ( blnCount ) {
                    intMatches = Math.floor( intMatches * 0.3 );
                } else {

                    if (intMatches) {
                        intMatches = Math.floor( intMatches / 0.3 );
                    } else {
                        intMatches = 1;
                    }
                    
                }
                $('#countPart').text( intMatches.toLocaleString() );
            
            }

        </script>
-->
    </div>
</div>
{% endblock %}