{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/v1_0_0.html" %}

{% block pageTitle %}
    Compare trusts - {{ data['trust-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/" + version + "/find-school"
      },
      {
        text: "Your trust",
        href: "/" + version + "/trust-homepage"
      }
    ]
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{ version }}/compare-trusts" method="post">
        <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['trust-name'] }}</a></span>
        <!---<h1 class="govuk-heading-l">How do you want to choose similar schools?</h1>

        {{ govukInsetText({
          text: "Custom comparator sets are not currently saved and will be lost when you end your session."
        }) }} --->
        

        {{ govukRadios({
          name: "compareRouteTrusts",
          fieldset: {
            legend: {
              text: "How do you want to choose your own set of trusts?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "by-name?editSet=false",
              text: "By name",
              checked: checked("compareRouteTrusts", "by-name?editSet=false")
            },
            {
              value: "characteristics",
              text: "By characteristic",
              checked: checked("compareRouteTrusts", "characteristics"),
              hint: { text: "For example, number of pupils or schools." }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button--primary"
        }) }}

        </form>

    </div>
</div>
{% endblock %}