{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "layouts/v1_0_0.html" %}

{% block pageTitle %}
  Trust comparison - {{ data['trust-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "/compare-trusts/characteristics"
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        
    <span class="govuk-caption-l"><a href="/{{ version }}/school-homepage" class="govuk-link--no-underline">{{ data['trust-name'] }}</a></span>
    <h1 class="govuk-heading-l">
      Trusts successfully matched
    </h1>

    <p class="govuk-body">We matched 52 trusts, but these are the 10 closest matches to {{ data['trust-name'] }} using the characteristics you selected.</p>
    
    <p><a href="/{{ version }}/compare-trusts/characteristics" class="govuk-link">Change characteristics and create a new set</a></p>

    {{ govukButton({
      text: "Create a set using these trusts",
      href: '/loading?action=generating&redirect={{ version }}/compare-trusts/compare?showBanner=true'
    }) }}

    {{ govukTable({
      firstCellIsHeader: false,
      head: [
        {
          text: "Trust",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Individual characteristics",
          colspan: 2
        }
      ],
      "rows": rows
    }) }}

    {{ govukButton({
      text: "Create a set using these trusts",
      href: '/loading?action=generating&redirect={{ version }}/compare-trusts/compare?showBanner=true'
    }) }}

    </div>
</div>



{% endblock %}