@using Newtonsoft.Json
@using Web.App.Extensions
@model Web.App.ViewModels.Components.ChartActionsViewModel

<div class="chart-actions-wrapper">
    <div class="chart-actions">
        <div
            data-chart-actions
            data-element-id="@Model.ElementId"
            data-title="@Model.Title"
            data-cost-codes="@Model.CostCodes.ToJson(Formatting.None)">
        </div>
    </div>
</div>