<img src="/assets/images/curriculum-financial-planning.png" alt="" class="app-view-component">
<h3 class="govuk-heading-m">
    <a href="" class="govuk-link govuk-link--no-visited-state">Curriculum and financial planning</a>
</h3>
<p class="govuk-body">
    Measure expected curriculum spending and staffing structure
</p>
<strong class="govuk-tag govuk-tag--grey">
    Requires login
</strong>