@using Web.App.Domain
@model Web.App.ViewModels.LocalAuthorityHighNeedsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeeds;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.LocalAuthority,
    sourceType = DataSourceTypes.HighNeeds,
    pageTitle = ViewData[ViewDataKeys.Title]
})

<div class="dashboard-row">
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Benchmark high needs data</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    Benchmark spending against statistical neighbours or other local authorities of your choice.
                </p>
                <a href="@Url.Action("Comparators", "LocalAuthorityHighNeedsBenchmarking", new
                         {
                             code = Model.Code
                         })" role="button" class="govuk-button govuk-button--primary" data-module="govuk-button">
                    Start benchmarking
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Key information</h2>
            </div>
            <div class="govuk-summary-card__content">
                @await Component.InvokeAsync("LocalAuthorityHighNeedsHeadlines", new
                {
                    identifier = Model.Code,
                    commentary = $"Taken from section 251 and SEN2 data for {Model.Section251Year - 1}-{Model.Section251Year}."
                })
            </div>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row" id="national-view">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">National view</h2>
        @await Component.InvokeAsync("LocalAuthorityHighNeedsNationalRankings", new
        {
            identifier = Model.Code,
            ranking = LocalAuthorityNationalRanking.SpendAsPercentageOfFunding,
            commentary = $"Local authorities ranked based on outturn compared to DSG high needs funding as a percentage using {Model.Section251Year - 1}-{Model.Section251Year} data. DSG funding and outturn are pre-recoupment figures.",
            valueLabel = "Outturn as percentage of funding"
        })
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1">

<div class="govuk-grid-row" id="historical-spending">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Historical spending</h2>
        @await Component.InvokeAsync("LocalAuthorityHighNeedsHistory", new
        {
            identifier = Model.Code
        })
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1">

@await Component.InvokeAsync("LocalAuthorityFinanceTools", new
{
    identifier = Model.Code,
    tools = new[] { FinanceTools.CompareYourCosts, FinanceTools.BenchmarkCensus }
})

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1">

@await Component.InvokeAsync("LocalAuthorityHighNeedsHelp")
