@using Web.App.TagHelpers
@model Web.App.ViewModels.LocalAuthorityViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeeds;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.LocalAuthority,
    sourceType = DataSourceTypes.HighNeeds,
    additionText = new[] { "Lorem ipsum dolor sit amet, consectetur adipiscing elit." }
})

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Benchmark high needs data</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel mattis enim, vel cursus
                    ante.
                </p>
                <a href="@Url.Action("Index", "LocalAuthorityHighNeedsBenchmarking", new
                         {
                             code = Model.Code
                         })" role="button" class="govuk-button govuk-button--primary" data-module="govuk-button">
                    Start benchmarking
                </a>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">National Ranking</h2>
            </div>
            <div class="govuk-summary-card__content">
                @await Component.InvokeAsync("LocalAuthorityHighNeedsNationalRankings", new
                {
                    identifier = Model.Code
                })
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Historic data</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel mattis enim, vel cursus
                    ante.
                </p>
                <a href="@Url.Action("Index", "LocalAuthorityHighNeedsHistoricData", new
                         {
                             code = Model.Code
                         })" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    View historic data
                </a>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("LocalAuthorityFinanceTools", new
{
    identifier = Model.Code,
    tools = new[] { FinanceTools.CompareYourCosts, FinanceTools.BenchmarkCensus }
})

@section scripts
{
    <script type="module" add-nonce="true">
        import {initAll} from '/js/govuk-frontend.min.js'

        initAll()
    </script>
}