@using Web.App.TagHelpers
@model Web.App.ViewModels.LocalAuthorityHighNeedsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.LocalAuthorityHighNeeds;
}

@await Component.InvokeAsync("EstablishmentHeading", new
{
    title = ViewData[ViewDataKeys.Title],
    name = Model.Name,
    id = Model.Code,
    kind = OrganisationTypes.LocalAuthority
})

@await Component.InvokeAsync("DataSource", new
{
    organisationType = OrganisationTypes.LocalAuthority,
    sourceType = DataSourceTypes.HighNeeds
})

<div class="dashboard-row">
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Benchmark high needs data</h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    Benchmark spending against statistical neighbours or other local authorities of your choice.
                </p>
                <a href="@Url.Action("Comparators", "LocalAuthorityHighNeedsBenchmarking", new
                         {
                             code = Model.Code
                         })" role="button" class="govuk-button govuk-button--primary" data-module="govuk-button">
                    Start benchmarking
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Total number of EHC plans</h2>
            </div>
            <div class="govuk-summary-card__content">
                @await Component.InvokeAsync("LocalAuthorityHighNeedsHeadlines", new
                {
                    identifier = Model.Code,
                    commentary = $"Taken from SEN data for January {Model.Section251Year}."
                })
            </div>
        </div>
    </div>
</div>

<div class="dashboard-row">
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">National view</h2>
            </div>
            <div class="govuk-summary-card__content">
                @await Component.InvokeAsync("LocalAuthorityHighNeedsNationalRankings", new
                {
                    identifier = Model.Code,
                    ranking = "SpendAsPercentageOfBudget",
                    commentary = $"Local authorities ranked based on outturn compared to budget as a percentage using {Model.Section251Year-1}-{Model.Section251Year} data.",
                    valueLabel = "Outturn as percentage of budget"
                })
            </div>
        </div>
    </div>
    <div class="dashboard-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Historical spending</h2>
            </div>
            <div class="govuk-summary-card__content">
                @await Component.InvokeAsync("LocalAuthorityHighNeedsHistory", new
                {
                    identifier = Model.Code,
                    commentary = "This data displays only budget vs outturn, funding vs outturn is not available. Outturn does not include place funding for pupils with special educational needs taught in academies."
                })
            </div>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Component.InvokeAsync("LocalAuthorityHighNeedsHelp")

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

@await Component.InvokeAsync("LocalAuthorityFinanceTools", new
{
    identifier = Model.Code,
    tools = new[] { FinanceTools.CompareYourCosts, FinanceTools.BenchmarkCensus }
})

@section scripts
{
    <script type="module" add-nonce="true">
        import {initAll} from '/js/govuk-frontend.min.js'

        initAll()
    </script>
}