<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Referrer-Policy" value="strict-origin" />
                <add name="Feature-Policy" value="payment 'none'" />
                <add name="Cross-Origin-Resource-Policy" value="cross-origin" />
                <add name="Cross-Origin-Embedder-Policy" value="unsafe-none" />
                <add name="Cross-Origin-Opener-Policy" value="same-origin" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
