{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    useTudorCrown: true,
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
             href: "/manage-prototype",
             text: "Manage your prototype"
       },
       {
             href: "/manage-prototype/clear-data",
             text: "Clear data"
       },
       {
            href: "/manage-prototype/view-data",
            text: "View data",
            attributes:
            {
              target: "_blank"
            }
       },
       {
            href: "#",
            text: "Share page",
            attributes:
            {
                onclick: "reloadpagewithsessionupdate()"
            }
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}


 <script>
    function reloadpagewithsessionupdate()
    {
        // get the url of this page
        var fullURL = window.location.href;
        var urlwithoutparameters = fullURL;

        // when the url has parameters in it
        if( fullURL.includes("?") )
        {
            // remove everything after the question mark
            urlwithoutparameters = fullURL .split('?')[0]
        }

        // get possibly unsubmitted input fields on the page and save them as session data
        // this could be amounts, text fields or dates
        var theUnsavedInputs = "";

        inputs = document.getElementsByTagName('input');
        for (index = 0; index < inputs.length; ++index)
        {
            // if input field is a radio button we need to save only the selected one
            if( inputs[index].classList.contains('govuk-radios__input') )
            {
                // see if this radio button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as "Yes"
                    var nameOfRadioButton = inputs[index].name;
                    theUnsavedInputs = theUnsavedInputs + nameOfRadioButton + "=" + inputs[index].value + "&";
                }
            }
            // if the field is a checkbox
            else if( inputs[index].classList.contains('govuk-checkboxes__input') )
            {
                var nameOfcheckboxButton = inputs[index].id;
                // see if this checkbox button is selected
                if( inputs[index].checked )
                {
                    // if it is selected then save it to the session data as the value, likely "yes"
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=" + inputs[index].value + "&";
                }
                // if the checkbox isn't checked then record that as well.
                else
                {
                    theUnsavedInputs = theUnsavedInputs + nameOfcheckboxButton + "=null&";
                }
            }
            else
            {
                theUnsavedInputs = theUnsavedInputs + inputs[index].id + "=" + inputs[index].value + "&";
                //alert(theUnsavedInputs);
            }


        }

        location.replace("/manage-prototype/update-session-data?redirecturl=" +  urlwithoutparameters + "&" + theUnsavedInputs);
    }
</script>
{% endblock %}