.chart-line.chart-line-series-1 > .line-curve {
    stroke: #3182bd;
    stroke-width: 2px;
    fill: none;
}

.chart-value-dot {
    fill: #1d70b8;
}

.chart-value-label {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    fill: #0b0c0c;
    paint-order: stroke fill;
    stroke: #ffffff;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.chart-axis-label {
    font-size: 14px;
    text-anchor: middle;
    font-family: "Inter", Arial, sans-serif;
    fill: #0b0c0c;
}

.chart-gridlines line {
  stroke: #b1b4b6;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
