@using EducationBenchmarking.Web.Extensions
@model EducationBenchmarking.Web.ViewModels.SchoolDeploymentPlanViewModel

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Type of FTE teacher</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Teaching periods required</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actual FTE</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">FTE required for target contact ratio</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var plan in Model.ScenarioPlans)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">@plan.Description</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">@plan.TeachingPeriods.ToSimpleDisplay()</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">@plan.ActualFte.ToSimpleDisplay()</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">@plan.FteRequired.ToSimpleDisplay()</td>
        </tr>
    }
    </tbody>
</table>