

<a href="@Url.Action("Index", "SchoolPlanning", new {@ViewBag.Urn})" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Data required for ICFP</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">This is a list of the data that we will ask you to input to create an ICFP plan.</p>
    </div>
</div>

<section>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Required:</h2>
        </div>
    </div>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Length of timetable cycle</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">The length of your timetable cycle is the number of periods before it repeats itself</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    For example, a timetable that repeats weekly with 5 periods per day would give you a cycle length of 25 periods.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Pupil figures</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">The number of pupils you have, or wish to plan for in each year group,</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Teacher period allocation</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    This is the number of teaching periods that each year group receives per timetable cycle.
                    </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    For example, a year group with 5 forms, no sets and a timetable length of 25 gives you a teacher period allocation of 125.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Other teaching periods</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">These are additional periods that aren't accounted for in the core timetable where a teacher interacts with pupils.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">For example, intervention, dyslexia support and career support periods. Other teaching periods do not include management or PPA time.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Management roles with teaching responsibilities</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">You will need to provide the number of managers in each role as well as the number of periods they teach per timetable cycle.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Total educational support staff costs (primary schools only)</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Your total educational support staff costs for the planned year</p>
            </div>
        </div>
    </section>
</section>

<section>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Optional:</h2>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                You have the option to prepopulate the plan with the following information. If you choose not to prepopulate then it will need to be entered manually.
            </p>
        </div>
    </div>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Total income</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Your total income for the planned year.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Total expenditure</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Your total expenditure for the planned year.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Total teacher costs</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Your total teacher costs for the planned year.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Full time equivalent teachers</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">The number of full time equivalent teachers for the planned year.</p>
            </div>
        </div>
    </section>
</section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <section>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">Further help</h3>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">If you need help with anything <a href="@Url.Action("SubmitEnquiry", "StaticContent")">submit an enquiry</a></p>
            </div>
        </div>
    </section>




