@model EducationBenchmarking.Web.ViewModels.SchoolPlanningViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Curriculum and financial planning</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">More tools</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("CompareYourCosts", Model.Urn)
    </div>
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("ViewYourAreasForInvestigation", Model.Urn)
    </div>
    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("BenchmarkWorkforce", Model.Urn)
    </div>
</div>