@model EducationBenchmarking.Web.ViewModels.SchoolPlanViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanning;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="" class="govuk-link govuk-link--no-visited-state">Change school</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="@Url.Action("CreatePlan", "SchoolPlanningCreate", new { urn = Model.Urn, step = "start" })" role="button" class="govuk-button">
            Create new plan
        </a>
    </div>
</div>

@await Component.InvokeAsync("SchoolFinanceTools", new {identifier = Model.Urn, tools = new [] {FinanceTools.CompareYourCosts, FinanceTools.AreasOfInvestigation, FinanceTools.BenchmarkWorkforce}})