.app-headline-figures {
    margin-bottom: 30px;
}

.app-headline-figures div div {
    background: #5D7490;
    color: white;
    text-align: center;
    padding: 15px;
}

.app-headline-figures div div p {
    font-size: 24px;
    color: white;
}

.app-headline-figures div div p:first-child {
    font-weight: bold;
}