@import "../../node_modules/govuk-frontend/dist/govuk/all";

@import "suggest";

.app-view-component {
  max-width: 100%
}

.app-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
  li {
    width: calc(calc(100% - 30px)/ 3);
  }
}

@media (max-width: 576px) {
  .app-links {
    li {
      width: 100%;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .app-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;
    li {
      width: calc(calc(100% - 15px)/ 2);
    }
  }
}