@import "../../node_modules/govuk-frontend/dist/govuk/all";

@import "suggest";

.app-view-component {
  max-width: 100%
}

.custom-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.custom-list-no-bullet {
    list-style: none;
    padding-left: 0;
}
