@model EducationBenchmarking.Web.ViewModels.SchoolWorkforceViewModel
@{
    ViewBag.Title = PageTitles.SchoolWorkforce;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Benchmark the workforce data for @Model.Name</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <a href="" class="govuk-link govuk-link--no-visited-state" id="change-school">Change school</a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Compare your workforce data against similar schools</p>
        <a href="" role="button" draggable="false" class="govuk-button" data-module="govuk-button" id="view-comparator-set">
            View your comparator set
        </a>
    </div>
</div>

<div id="compare-workforce" data-urn="@Model.Urn" data-academy-year="@Model.AcademiesFinancePeriod" data-maintained-year="@Model.MaintainedSchoolsFinancePeriod"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">More tools</h2>
        <ul class="app-links">
            <li>@await Component.InvokeAsync("ViewYourAreasForInvestigation", Model.Urn)</li>
            <li>@await Component.InvokeAsync("CurriculumFinancialPlanning", Model.Urn)</li>
            <li>@await Component.InvokeAsync("CompareYourCosts", Model.Urn)</li>
        </ul>
    </div>
</div>