<ul class="govuk-list govuk-list--bullet">
    <li>school phase or type</li>
    <li>region</li>
    <li>gross internal floor area</li>
    <li>average age of buildings</li>
    <li>whether they are a Private Finance Initiative (PFI) school</li>
</ul>