<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="app-finance-warn govuk-!-margin-bottom-3">
            <div class="govuk-warning-text govuk-!-margin-0">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    This school doesn't have a complete set of financial data for this period.
                </strong>
            </div>
        </div>
    </div>
</div>