<ul class="govuk-list govuk-list--bullet">
    <li>school phase or type</li>
    <li>region</li>
    <li>number of pupils</li>
    <li>pupils eligible for free school meals (FSM)</li>
    <li>pupils with special educational needs (SEN), or proportion of various SEN provisions for special schools</li>
</ul>