@{
    var className = ViewData["ClassName"] ?? "chart-wrapper";
    var fileName = ViewData["FileName"] ?? "charts.zip";
    var titleAttr = ViewData["TitleAttribute"] ?? "aria-label";
}

<div class="save-charts">
    <div
        data-share-content-by-element-class-name
        data-element-class-name="@className"
        data-label="Save all chart images"
        data-element-title-attr="@titleAttr"
        data-show-titles="true"
        data-show-progress="true"
        data-file-name="@fileName"
        data-save-event-id="save-chart-as-image"></div>
</div>
