@using Web.App.Extensions
@model Web.App.ViewModels.ISchoolKeyInformationViewModel

<div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <ul class="app-headline app-headline-3 govuk-!-text-align-centre govuk-!-margin-0">
            <li class="app-headline-figures">
                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-4">In year balance</p>
                <p class="govuk-body-l govuk-!-margin-bottom-2">@Model.InYearBalance.ToCurrency()</p>
            </li>
            <li class="app-headline-figures">
                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-4">Revenue reserve</p>
                <p class="govuk-body-l govuk-!-margin-bottom-2">@Model.RevenueReserve.ToCurrency()</p>
            </li>
            <li class="app-headline-figures">
                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-4">School phase</p>
                <p class="govuk-body-l govuk-!-margin-bottom-2">@Model.OverallPhase</p>
            </li>
        </ul>
    </div>
</div>