@import "../../node_modules/govuk-frontend/dist/govuk/index";

.app-filter {
  border: 1px solid govuk-colour("mid-grey");

  .app-filter__header {
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding: govuk-spacing(3);
  }

  .app-filter__selected {
    background: govuk-colour("light-grey");
    border-bottom: 1px solid govuk-colour("mid-grey");
    padding: govuk-spacing(3);

    .app-filter__selected-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      > a {
        @include govuk-font-size($size: 16);
      }
    }

    .app-filter__tag {
      @include govuk-font(16);
      background-color: govuk-colour("white");
      border: 1px solid govuk-colour("black");
      color: govuk-colour("black");
      display: inline-block;
      margin-top: govuk-spacing(1);
      padding: govuk-spacing(1) govuk-spacing(6) govuk-spacing(1) 7px;
      text-decoration: none;
      position: relative;

      @include govuk-media-query($from: tablet) {
        border-width: 2px;
      }

      &:before, &:after {
        content: "";
        height: govuk-spacing(3);
        width: 2px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 6px;
        right: 12px;
        transform: rotate(45deg)
      }

      &:before {
        transform: rotate(135deg)
      }

      &:hover {
        background: govuk-colour("black");
        color: govuk-colour("white")
      }

      &:focus, &:active {
        outline: 3px solid rgba(0, 0, 0, 0);
        background: govuk-colour("yellow");
        color: govuk-colour("black");
        box-shadow: 0 0 govuk-colour("yellow"), 0 4px govuk-colour("black");
        border-color: govuk-colour("yellow")
      }
    }
  }

  .app-filter__body {
    padding: govuk-spacing(0) govuk-spacing(3) govuk-spacing(3);

    .govuk-accordion__controls {
      display: none;
    }

    .app-filter__selected-hint {
      margin-top: govuk-spacing(1);
      display: table;
    }

    .govuk-accordion__section {
      &:nth-of-type(2) {
        .govuk-accordion__section-button {
          &:before {
            display: none;
          }
        }
      }

      .govuk-accordion__section-header {
        margin: govuk-spacing(0) govuk-spacing(-3);

        .govuk-accordion__section-button {
          padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(0) govuk-spacing(3);
          border-top: none;

          &:before {
            content: "";
            height: govuk-spacing(2);
            display: block;
            border-top: 1px solid govuk-colour("mid-grey");
            margin-top: -11px;
          }
        }
      }
    }
  }
}
