@import "variables";

.app-headline-figures {
  background: #5D7490;
  border: 1px solid #5D7490;

  p {
    color: white;
  }

}

.app-headline-high {
  background-color: #f4cdc6;
  border: 1px solid #942514;

  p {
    color: #942514;
  }
}

.app-headline-medium {
  background-color: #FFF7BF;
  border: 1px solid #594D00;

  p {
    color: #594D00;
  }
}

.app-headline-low {
  background-color: #e5e6e7;
  border: 1px solid #505A5F;

  p {
    color: #505A5F;
  }
}


.app-headline {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;

  li {
    padding: 15px;
  }
}

.app-headline-4 {
  li {
    width: calc(calc(100% - 173px) / 4);
  }
}

.app-headline-3 {
  li {
    width: calc(calc(100% - 126px) / 3);
  }
}

@media (min-width: $break-small) and (max-width: $break-medium) {
  .app-headline {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;

    li {
      padding: 15px;
      width: calc(calc(100% - 79px) / 2);
    }
  }
}

@media (max-width: $break-small) {
  .app-headline {
    li {
      width: 100%;
    }
  }
}