@import "variables";

.app-headline-figures {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;
    li {
        background: #5D7490;
        padding: 15px;
    }
    p {
        color: white;
    }
}

.app-headline-figures-4 {
    li {
        width: calc(calc(100% - 165px)/ 4);
    }
}

.app-headline-figures-3 {
    li {
        width: calc(calc(100% - 120px)/ 3);
    }
}

@media (min-width: $break-small) and (max-width: $break-medium) {
    .app-headline-figures {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap: 15px;
        li {
            background: #5D7490;
            padding: 15px;
            width: calc(calc(100% - 75px)/ 2);
        }
        p {
            color: white;
        }
    }
}

@media (max-width: $break-small) {
    .app-headline-figures {
        li {
            background: #5D7490;
            width: 100%;
        }
        p {
            color: white;
        }
    }
}