@import "variables";

.app-headline-figures {
  background: #5D7490;

  p {
    color: white;
  }

}

.app-headline-high {
  background-color: $rag-red-colour;

  p {
    color: $rag-red-text-colour;
  }
}

.app-headline-medium {
  background-color: $rag-amber-colour;

  p {
    color: $rag-amber-text-colour;
  }
}

.app-headline-low {
  background-color: $rag-green-colour;

  p {
    color: $rag-green-text-colour;
  }
}


.app-headline {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;

  li {
    padding: 15px;
  }
}

.app-headline-4 {
  li {
    width: calc(calc(100% - 165px) / 4);
  }
}

.app-headline-3 {
  li {
    width: calc(calc(100% - 126px) / 3);
  }
}

@media (min-width: $break-small) and (max-width: $break-medium) {
  .app-headline {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;

    li {
      padding: 15px;
      width: calc(calc(100% - 79px) / 2);
    }
  }
}

@media (max-width: $break-small) {
  .app-headline {
    li {
      width: 100%;
    }
  }
}