@import "variables";
@import "../../node_modules/govuk-frontend/dist/govuk/helpers/index";

.app-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: govuk-spacing(0);
  gap: 15px;

  > li {
    width: calc(calc(100% - 30px) / 3);

    .govuk-tag {
      @include govuk-font-size($size: 16);
    }
  }

  &.app-links-two-columns {
    > li {
      width: calc(calc(100% - 30px) / 2);
    }
  }
}

@media (min-width: $break-small) and (max-width: $break-medium) {
  .app-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: govuk-spacing(0);
    gap: 15px;

    > li {
      width: calc(calc(100% - 15px) / 2);
    }
  }
}

@media (max-width: $break-small) {
  .app-links {
    > li {
      width: 100% !important;
    }
  }
}
