@import "../../node_modules/govuk-frontend/dist/govuk/helpers/index";

.school-chart-tooltip {
  background-color: govuk-colour("white");
  position: absolute;
  border: 1px solid govuk-colour("dark-grey");
  z-index: 9999;

  .school-tags {
    margin: govuk-spacing(2) govuk-spacing(2) govuk-spacing(0) govuk-spacing(2);

    .govuk-tag {
      @include govuk-font($size: 14);
      max-width: 200px;
    }
  }
}

.tooltip-table {
  margin-bottom: 0;

  > tbody {
    font-size: 0.8em;

    .govuk-table__row {
      > th {
        width: 150px;
      }

      &:first-child {

        > th,
        > td {
          border-top: 1px solid govuk-colour("dark-grey");
        }
      }

      &:last-child {

        > th,
        > td {
          border-bottom: none;
        }
      }
    }
  }

  > caption {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > caption,
  > tbody .govuk-table__row > th,
  > tbody .govuk-table__row > td {
    padding-left: 10px;
    padding-right: 10px;
  }
}
