.suggest-input{
  position: relative;
}

.suggest-form-group {
  ul {
    position: absolute;
    height: auto;
    box-sizing: border-box;
    border: 2px solid;
    border-top: 0;
    padding: 3px 0;
    z-index: 3;
    background: #FFF;
    list-style-type: none;
  }
  
  input {
    padding-right: 36px;
  }

  a {
    text-decoration: none;
    padding: 8px 11px;
    display: block;
    color: #000;
    box-shadow: none;
  }

  a.active {
    background: lightgray;
  }
}
