$break-small: 576px;
$break-medium: 768px;

$rag-red-colour: #aa2a16;
$rag-red-text-colour: #fff;
$rag-amber-colour: #ffdd00;
$rag-amber-text-colour: #000;
$rag-green-colour: #85994b;
$rag-green-text-colour: #000;
