$break-small: 576px;
$break-medium: 768px;

$rag-red-colour: govuk-colour("red");
$rag-red-text-colour: #fff;
$rag-amber-colour: govuk-colour("yellow");
$rag-amber-text-colour: $govuk-text-colour ;
$rag-green-colour: govuk-tint(govuk-colour("light-green"), 25%);
$rag-green-text-colour: $govuk-text-colour ;
