$break-small: 576px;
$break-medium: 768px;

$rag-red-colour: govuk-tint(govuk-colour("red"), 10%);
$rag-red-text-colour: govuk-tint(govuk-colour("red"), 90%);
$rag-amber-colour: govuk-tint(govuk-colour("orange"), 10%);
$rag-amber-text-colour: govuk-shade(govuk-colour("orange"), 50%);
$rag-green-colour: govuk-tint(govuk-colour("green"), 10%);
$rag-green-text-colour: govuk-tint(govuk-colour("green"), 90%);
