@import "../../node_modules/govuk-frontend/dist/govuk/all";

@import "headlines";
@import "link-list";

.app-signin {
  float: right;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
}

.app-view-component {
  margin-bottom: 15px;
  max-width: 100%;
}

.app-finance-warn {
  border-left: 10px solid #f47738;
  background-color: bisque;
  padding: 20px;
}

.app-tag-login {
  @include govuk-font($size: 19);
  display: block;
  color: govuk-shade(govuk-colour("dark-grey"), 50%);
  background-color: govuk-tint(govuk-colour("dark-grey"), 85%);
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 2px 8px 3px;
  text-decoration: none;
  overflow-wrap: break-word;
}

.app-print-link__button {
  @extend .govuk-button--inverse;
  @extend .govuk-button;
  border: 1px solid #505a5f;
  background: url('/assets/images/icon-print.png') no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 9px 11px 8px 37px;

  &:active, &:hover {
    color: $govuk-inverse-button-text-colour
  }
}

.priority {
  margin-bottom: 14px;
  border-left: none;

  &.high {
    border: 1px solid $rag-red-colour;

    .govuk-tag {
      border-color: $rag-red-colour;
    }
  }

  &.medium, &.low {
    border: 1px solid $govuk-border-colour;
  }

  &.medium {
    .govuk-tag {
      border-color: $govuk-border-colour;
    }
  }

  &.low {
    .govuk-tag {
      border-color: $govuk-border-colour;
    }
  }
}

.priority-wrapper {
  border: 2px solid $govuk-border-colour;

  &.high {
    border-color: $rag-red-colour;
  }
}

.app-tag--red {
  background-color: $rag-red-colour;
  color: $rag-red-text-colour;
}

.app-tag--yellow {
  background-color: $rag-amber-colour;
  color: $rag-amber-text-colour;
}

.app-tag--green {
  background-color: $rag-green-colour;
  color: $rag-green-text-colour;
}

p.priority .govuk-tag {
  border-right: 1px solid;
  padding: 3px 8px 4px 8px;
  margin: 0 10px 0 0;
}

#rag-guidance > p:first-of-type {
  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }
}

.top-categories {
  div {
    background-color: #EEEFEF;
    padding: 20px;
    margin-bottom: 20px;
  }

  .priority {
    margin-bottom: 0;
  }

  &.school-home-priorities {
    .priority {
      border: 0;

      .govuk-tag {
        border: 0;
        margin-bottom: 4px;
      }
    }
  }
}

.priority-guidance {
  margin-bottom: 30px;

  .priority {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    > .govuk-tag {
      flex-basis: 200px;
      align-self: stretch;
    }
  }
}

.priority-position {
  .priority {
    min-height: 70px;

    @include govuk-media-query($from: 1020px) {
      min-height: 40px;
    }

    &.govuk-grid-row {
      margin: 0;

      > div {
        padding: 0;

        @include govuk-media-query($from: 1020px) {
          height: 100%;
          align-content: space-evenly;
        }

        @include govuk-media-query($until: 1020px) {
          width: 100%;
          float: none;
        }

        &.position-in-set {
          padding-right: 0;
          margin-bottom: 0;

          > div {
            display: flex;
            align-items: center;
            text-align: center;

            @include govuk-media-query($until: 1020px) {
              margin-top: 5px;
              place-content: center;

              span {
                margin: 7px 10px;
              }
            }
          }
        }

        > .govuk-tag {
          margin: 0 5px 0 0;

          @include govuk-media-query($from: 1020px) {
            align-content: space-evenly;
            height: 35px;
          }

          @media print {
            background-color: transparent;
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.govuk-caption-l a {
  color: $govuk-secondary-text-colour
}

.govuk-table.table-custom-data {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }

      &:last-child {
        td {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.govuk-table.table-cost-category-rag {
  tbody {
    tr {
      td {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.govuk-table.table-school-rag {
  thead {
    tr {
      th {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

svg.rag-stack {
  width: 100%;
  height: 30px;

  // colours taken from node_modules/govuk-frontend/dist/govuk/components/tag/_tag.scss
  rect.rag-stack-red {
    fill: $rag-red-colour;
  }

  rect.rag-stack-amber {
    fill: $rag-amber-colour;
  }

  rect.rag-stack-green {
    fill: $rag-green-colour;
  }

  a {
    cursor: pointer;
  }

  a:hover rect.rag-stack-red,
  a:active rect.rag-stack-red {
    fill: govuk-tint($rag-red-colour, 20%);
  }

  a:hover rect.rag-stack-amber,
  a:active rect.rag-stack-amber {
    fill: govuk-tint($rag-amber-colour, 20%);
  }

  a:hover rect.rag-stack-green,
  a:active rect.rag-stack-green {
    fill: govuk-tint($rag-green-colour, 20%);
  }

  &.rag-stack-small {
    height: 15px;
  }
}

svg.rag-position {
  overflow: visible;

  rect.rag-position-item {
    fill: $rag-position-item-colour;

    &.rag-position-item-highlight {
      fill: $rag-position-item-highlight-colour;
    }
  }
}

.govuk-notification-banner--failure {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;

  .govuk-notification-banner__link {
    @include govuk-link-style-error;
  }
}

form.characteristics {
  .govuk-form-group {
    margin-bottom: 30px;
  }
}

#conditional-sen {
  margin: 0;
  padding: 0;
  border: none;
}

.two-halves-with-divider {
  > div {
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 140px;

    @media print {
      gap: 60px
    }

    > div {
      display: flex;
      flex: 1;
      flex-flow: column;
      position: relative;

      &:first-of-type {
        margin-bottom: 0;

        &::after {
          content: '';
          position: absolute;
          right: -70px;
          top: 1px;
          width: 1px;
          height: 100%;
          background-color: $govuk-border-colour;

          @media print {
            right: -30px
          }
        }
      }

      > ul.govuk-list {
        margin-bottom: 0;
      }
    }
  }
}

.govuk-section-break--print {
  @media print {
    break-after: page;

    & ~ h2, & ~ section {
      margin-top: 1em;
    }
  }
}

hr.govuk-section-break--print {
  @media print {
    opacity: 0;
  }
}

.app-resources {
  margin-top: govuk-spacing(6);

  @include govuk-media-query('tablet') {
    margin-top: 0;
  }
}

.app-resources-warning-spacing {
  padding-top: 0;

  @include govuk-media-query('tablet') {
    padding-top: govuk-spacing(2);
  }
}

.save-charts {
  float: right;
}
