@model Web.App.ViewModels.Components.EstablishmentHeadingViewModel

@{
    var href = Model.Kind switch
    {
        OrganisationTypes.School => Url.Action("Index", "School", new { urn = Model.Id}),
        OrganisationTypes.Trust => Url.Action("Index", "Trust", new { companyNumber = Model.Id}),
        OrganisationTypes.LocalAuthority => Url.Action("Index", "LocalAuthority", new { code = Model.Id }),
    _ =>throw new ArgumentOutOfRangeException(nameof(Model.Kind))
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            <a class="govuk-link--no-underline"
               href="@href">
                @Model.Name
            </a>
        </span>
        <h1 class="govuk-heading-l">@Model.Title</h1>
    </div>
</div>