@using Web.App.Domain
@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolFinancialFormViewModel

@if (!Model.HasFilters)
{
    return;
}

<div class="app-filter__selected">
    <div class="app-filter__selected-header">
        <h2 class="govuk-heading-m">
            Selected filters
        </h2>
        <a href="@($"{Url.Action("Index", "LocalAuthority", Model.RouteValuesOnClear)}#{Model.TabId}")" class="govuk-link govuk-link--no-visited-state">Clear</a>

    </div>

    @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilterSelectedItems", new LocalAuthoritySchoolFilterSelectedItemsViewModel<OverallPhaseTypes.OverallPhaseTypeFilter>(
        Model.FormPrefix,
        "Phases",
        LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.SelectedOverallPhases,
        Model.Path,
        Model.Query,
        Model.Fragment,
        Model.SelectedOverallPhases,
        f => f.GetFilterDescription(),
        f => ((int)f).ToString()))

    @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilterSelectedItems", new LocalAuthoritySchoolFilterSelectedItemsViewModel<NurseryProvisions.NurseryProvisionFilter>(
        Model.FormPrefix,
        "Nursery provisions",
        LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.SelectedNurseryProvisions,
        Model.Path,
        Model.Query,
        Model.Fragment,
        Model.SelectedNurseryProvisions,
        f => f.GetFilterDescription(),
        f => ((int)f).ToString()))

    @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilterSelectedItems", new LocalAuthoritySchoolFilterSelectedItemsViewModel<SpecialProvisions.SpecialProvisionFilter>(
        Model.FormPrefix,
        "Special class provisions",
        LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.SelectedSpecialProvisions,
        Model.Path,
        Model.Query,
        Model.Fragment,
        Model.SelectedSpecialProvisions,
        f => f.GetFilterDescription(),
        f => ((int)f).ToString()))

    @await Html.PartialAsync("Components/LocalAuthoritySchoolFinancialForm/_SchoolsFilterSelectedItems", new LocalAuthoritySchoolFilterSelectedItemsViewModel<SixthFormProvisions.SixthFormProvisionFilter>(
        Model.FormPrefix,
        "Sixth form provisions",
        LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.SelectedSixthFormProvisions,
        Model.Path,
        Model.Query,
        Model.Fragment,
        Model.SelectedSixthFormProvisions,
        f => f.GetFilterDescription(),
        f => ((int)f).ToString()))
</div>
