@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolFinancialFormViewModel
@{
    if (Model.AllRows || Model.Results.Length < Model.MaxRows)
    {
        return;
    }

    var query = QueryString.Create(Context.Request.Query);
    query = query.Add(
        $"{Model.FormPrefix}{LocalAuthoritySchoolFinancialFormViewModel.FormFieldNames.Rows}",
        LocalAuthoritySchoolFinancialFormViewModel.FormFieldValues.All);
    var url = $"{Context.Request.Path}{query}#{Model.TabId}";
    <p class="govuk-body">
        <a href="@url" class="govuk-link govuk-link--no-visited-state"
           data-testid="toggle-financial-all">Show all schools</a>
    </p>
}
