@model Web.App.ViewModels.SchoolBenchmarkingReportCardsViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolBenchmarkingReportCards;
}

@await Html.PartialAsync("_Introduction", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_KeyInformation", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_PriorityAreasAllSchools", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_PriorityAreasOther", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_PupilWorkforceMetrics", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_NextSteps", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--print">

@await Html.PartialAsync("_WhoYouAreComparedWith", Model)

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-!-display-none-print">
    @await Html.PartialAsync("_PrintPageLink", null, new ViewDataDictionary(ViewData)
    {
        {
            "Link", true
        }
    })
</div>