@model EducationBenchmarking.Web.ViewModels.ChooseSchoolViewModel

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Choose your school</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="search" 
                 data-label="Name, URN or location" 
                 data-search="@Model.Search" 
                 data-error="@ViewData.ModelState["search-box"]?.Errors.FirstOrDefault()?.ErrorMessage"></div>
        </div>
    </div>
</div>