<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Understand the data we use on this page
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    SEN2 is a statutory annual data collection of special educational needs.
                </p>
                <p class="govuk-body">
                    Pupil numbers are taken from the school census return. These are summed up from schools already present in FBIT data for each local authority.
                </p>
            </div>
        </details>
    </div>
</div>