.suggest-input {
  position: relative;
}

.suggest-form-group ul {
  position: absolute;
  height: auto;
  box-sizing: border-box;
  border: 2px solid;
  border-top: 0;
  padding: 3px 0;
  z-index: 3;
  background: govuk-colour("white");
  list-style-type: none;
}

.suggest-form-group input {
  padding-right: 36px;
}

.suggest-form-group a {
  text-decoration: none;
  padding: 8px 11px;
  display: block;
  color: govuk-colour("black");
  box-shadow: none;
}

.suggest-form-group a.active {
  background: #d3d3d3;
}