@using Web.App.ViewModels.Components
@model Web.App.ViewModels.Components.LocalAuthoritySchoolWorkforceFormViewModel
@{
    if (Model.AllRows || Model.Results.Length < Model.MaxRows)
    {
        return;
    }

    var query = QueryString.Create(Model.Query);
    query = query.Add(
        $"{Model.FormPrefix}{LocalAuthoritySchoolWorkforceFormViewModel.FormFieldNames.Rows}",
        LocalAuthoritySchoolWorkforceFormViewModel.FormFieldValues.All);
    var url = $"{Model.Path}{query}#{Model.TabId}";
    <p class="govuk-body">
        <a href="@url" class="govuk-link govuk-link--no-visited-state"
           data-testid="toggle-workforce-all">Show all schools</a>
    </p>
}
