{% extends "layouts/latest.html" %}

{% set pageName="Data sources and interpretation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-width-container" id="content">
      <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
          <main class="govuk-main-wrapper govuk-!-padding-top-0 cookies-settings" id="main-content">
  
          <h1 class="govuk-heading-xl page-heading">
            Data sources and interpretation
          </h1>

          <h2 class="govuk-heading-l">Data sources</h2>
          <h3 class="govuk-heading-m">Types of schools you can get data for</h3>
          <p class="govuk-body">The data on the site is for maintained schools and academies in England. It's based on schools' Consistent Financial Reporting (CFR) returns and academies' accounts returns (AAR).</p>
          <p class="govuk-body">You can also get data for multi-academy trusts (MATs).</p>

          <h3 class="govuk-heading-m">Financial returns</h3>
          <p class="govuk-body">This data is based on schools' Consistent Financial Reporting (CFR) returns for Local Authority (LA) maintained schools and academies' accounts returns (AARs).</p>
          
          <h4 class="govuk-heading-s">LA Maintained Schools</h4>

<ul class="govuk-list">
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2022-23_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2022/23
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2021-22_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2021/22
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2020-21_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2020/21
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2019-20_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2019/20
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2018-19_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2018/19
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2017-18_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2017/18
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2016-17_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2016/17
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2015-16_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2015/16
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/CFR_2014-15_Full_Data_Workbook.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                CFR 2014/15
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
</ul>

<h4 class="govuk-heading-s">Academies</h4>

<ul class="govuk-list">
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2022-23_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2022/23
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2021-22_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2021/22
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2020-21_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2020/21
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2019-20_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2019/20
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2018-19_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2018/19
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2017-18_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2017/18
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/AAR_2016-17_download.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2016/17
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/SFR32_2017_Main_Tables.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2015/16
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
        <li>
            <a target="_blank" rel="external noopener noreferrer" class="govuk-link" href=https://s198d01datasource.blob.core.windows.net/returns/SFR27_2016_Main_Tables.xlsx?sv=2024-05-04&amp;se=2024-06-19T11%3A39%3A10Z&amp;sr=c&amp;sp=r&amp;sig=yahZVKKt8By7Cga%2FwvHToEEi12qXqtpHeHvHGbVE6w4%3D>
                AAR 2014/15
                <span class="govuk-visually-hidden"> link will open an Excel spreadsheet</span>
            </a>
        </li>
</ul>
        <h3 class="govuk-heading-m">Performance tables</h3>
        <p class="govuk-body">This comes from <a href="https://www.find-school-performance-data.service.gov.uk/" class="govuk-link">Find school and college performance data in England</a>.</p>
        <p class="govuk-body">The period covered matches the submissions for financial returns.</p>

        <h3 class="govuk-heading-m">Workforce census</h3>
        <p class="govuk-body">This comes from the <a href="https://www.gov.uk/government/collections/statistics-school-workforce" class="govuk-link">school workforce census</a>.</p>
        <p class="govuk-body">The period covered matches the submissions for financial returns.</p>

        <h3 class="govuk-heading-m">Ofsted data</h3>
        <p class="govuk-body">This comes from <a href="https://www.gov.uk/government/statistical-data-sets/monthly-management-information-ofsteds-school-inspections-outcomes" class="govuk-link">Ofsted school inspections</a>.</p>
        <p class="govuk-body">Ratings are accurate at the date the financial data was uploaded.</p>
 
        <h3 class="govuk-heading-m">Special educational needs data</h3>
        <p class="govuk-body">This comes from the <a href="https://www.gov.uk/government/collections/statistics-special-educational-needs-sen" class="govuk-link">special educational needs statistics</a>.</p>
 
        <h3 class="govuk-heading-m">School contextual information</h3>
        <p class="govuk-body">This comes from the <a href="https://www.get-information-schools.service.gov.uk/" class="govuk-link">Get Information About Schools site</a>.</p>
 
        <h2 class="govuk-heading-l">Interpreting our data</h2>

        <h3 class="govuk-heading-m">Interpreting expenditure charts</h3>
        <p class="govuk-body">You should take care when interpreting the data.</p>
        <p class="govuk-body">It shows the position of a school relative to others but it doesn't explain why.</p>
        <p class="govuk-body">There may be good reasons for a school to have high or low figures. People involved in budget setting should review them and consider the differences.</p>

        <h3 class="govuk-heading-m">Teaching and teaching support staff costs</h3>
        <p class="govuk-body">Staffing typically makes up between 75% and 80% of mainstream schools' expenditure. It can be more for special schools and pupil referral units (PRUs).</p>
        <p class="govuk-body">When reviewing and comparing your teaching and teaching support staff costs, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>review staff structures as part of annual school improvement, curriculum and financial planning</li>
          <li>look at the whole education delivery model - use the data on the Benchmark pupil and workforce data page</li>
          <li>talk to benchmarked schools about how they operate and see if you could change your education delivery model</li>
        </ul>
        <p class="govuk-body">Further <a href="https://www.gov.uk/government/publications/school-workforce-planning" class="govuk-link">guidance on school workforce and curriculum planning</a>.</p>
 
        <h3 class="govuk-heading-m">Premises costs</h3>
        
        <p class="govuk-body">Premises costs can also be one of the most expensive cost groups, and includes:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>premises staff</li>
          <li>cleaning, caretaking and maintenance and improvement</li>
          <li>other occupation costs, such as security costs and refuse collection</li>
        </ul>
        
        <p class="govuk-body">School building types rather than pupil numbers can affect premises costs.</p>
        
        <p class="govuk-body">To get the best results, you might want to:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>view premises expenditure on a per metre squared basis</li>
          <li>compare costs to schools with similar buildings using gross internal floor area and average age of buildings</li>
        </ul>
        
        <p class="govuk-body">You could also:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>look at the premises total expenditure as a percentage of total cost</li>
          <li>check if this is much higher or lower than other schools</li>
        </ul>

        <p class="govuk-body">Differences are sometimes because of income from the hire of the school's facilities.</p>
        
        <h4 class="govuk-heading-s">Consider some premises costs together</h4>
        
        <p class="govuk-body">For example, school premises staff often do basic maintenance and improvements which can reduce costs.</p>
        <p class="govuk-body">You should compare maintenance and improvement costs and premises staff costs at the same time.</p>
        <p class="govuk-body">Further <a href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement" class="govuk-link">guidance on effective and collaborative procurement</a>.</p>
 
        <h3 class="govuk-heading-m">Utilities costs</h3>
        <p class="govuk-body">School building types rather than pupil numbers drives the majority of utility costs. You have to heat the whole school and keep the school infrastructure running all the time.</p>
        <p class="govuk-body">You're benchmarked against schools with similar building characteristics. So looking at utilities per metre squared might be helpful.</p>
        <p class="govuk-body">This will help you understand if you can:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>be more energy efficient</li>
          <li>make better use of framework agreements to make your costs more efficient</li>
        </ul>
        <p class="govuk-body">Further <a href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement" class="govuk-link">guidance on effective and collaborative procurement</a>.</p>
 

        <h3 class="govuk-heading-m">ICT costs</h3>

        <p class="govuk-body">ICT spending can sometimes take the form of a refurbishment or refit which will last a few years at least. So ICT spending won't be even across schools.</p>
        <p class="govuk-body">You should recognise that this spending was in your ICT development plan for that year.</p>
        <p class="govuk-body">To make efficiencies in ICT spending, you should think about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>procuring together with other schools</li>
          <li>using framework agreements to secure the best possible deals for your school</li>
        </ul>

        <h3 class="govuk-heading-m">Educational supply costs</h3>
        <p class="govuk-body">Learning resources are essential to your core business. Inadequate professional services can have a direct impact on pupil outcomes.</p>
        <p class="govuk-body">Schools need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>educational supplies that are modern and fit for purpose</li>
          <li>access to adequate professional services</li>
        </ul>
        <p class="govuk-body">Benchmarking can show you where you can change spending priorities within your budget.</p>
        <p class="govuk-body">To understand whether you're spending enough on educational supplies, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>look at this on a per pupil basis</li>
          <li>check how much of your total expenditure you're allocating per pupil</li>
          <li>consider the quality of your learning resources</li>
        </ul>
        <p class="govuk-body">Further <a href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency#commercial-and-procurement" class="govuk-link">guidance on effective and collaborative procurement</a>.</p>
 
        <h3 class="govuk-heading-m">Catering costs</h3>
        <p class="govuk-body">Schools take different approaches to whether they outsource catering or bring it in-house.</p>
        <p class="govuk-body">To find and compare schools with a similar catering operating model, you should look at:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>catering staff costs and catering supplies costs to see which schools use their own staff</li>
            <li>catering income together with catering costs - income shows as negative to differentiate it from costs</li>
          </ul>
        
          <h3 class="govuk-heading-m">Other costs</h3>
          <h4 class="govuk-heading-s">Cost of finance</h4>
          <p class="govuk-body">Some schools borrow money or have financing costs through leasing agreements. This is always with Department for Education/Education and Skills Funding Agency approval.</p>
          <p class="govuk-body">If you do this, you will have some costs in this cost heading. Think about how you could renegotiate the terms of your commitment.</p>

          <h4 class="govuk-heading-s">Special facilities</h4>
          <p class="govuk-body">This cost category can be very different for each school, and could include but is not limited to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>swimming pools</li>
            <li>sports centres</li>
            <li>donations paid by the school to a charity</li>
            <li>expenses relating to before and after school clubs</li>
          </ul>
          <p class="govuk-body">You should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>check whether this spending looks right for your school</li>
            <li>understand if this spending is cost effective</li>
            <li>look if there are better ways of obtaining these services whilst still improving pupil outcomes</li>
          </ul>
        </div> 
</div>
{% endblock %}
