{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}


{% extends "layouts/latest.html" %}

{% block pageTitle %}
    {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/" + version + "/find-school"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ data['school-name'] }}</h1>
<p><a href="/{{ version }}/find-school" class="govuk-link">Change school</a></p>

{% if data['trust-name'] %}
<h2 class="govuk-heading-m">Part of <a href="/{{ version }}/trust-homepage">{{ data['trust-name'] }}</a></h2>
{% endif %}

{% if data['confirmation'] == 'comparator-generated' %}

    {% set html %}
    <h3 class="govuk-notification-banner__heading">You are now benchmarking against your own set of schools</h3>
    <p><a href="/{{ version }}/comparators/create/view" class="govuk-link">View and change your set of schools</a></p>
    <p><a href="/{{ version }}/comparators/reset" class="govuk-link">Change back to the sets of schools we chose</a></p>
    {% endset %}

{% elseif confirmation == 'comparator-reset' %}

    {% set html %}
    <h3 class="govuk-notification-banner__heading">You have now removed all the schools you chose</h3>
    <p class="govuk-body">Benchmarking has changed back to the sets of similar schools we chose originally.</p>
    <p class="govuk-body"><a href="/{{ version }}/comparators/create">Choose a new set of your own schools</a></p>
    {% endset %}

{% endif %}

{% if data['confirmation'] == 'comparator-generated' or confirmation == 'comparator-reset' %}

    {{ govukNotificationBanner({
        html: html,
        type: "success"
    }) }}
  
{% endif %}

{% if data['customData'] == 'generated' %}

{% set html %}
<p class="govuk-notification-banner__heading">
    This is the original data for this school, not your customised data
</p>
<p class="govuk-body"><a href="/{{ version }}/custom-data/custom-homepage" class="govuk-notification-banner__link">Use your customised data for benchmarking</a></p>
{% endset %}

{{ govukNotificationBanner({
html: html
}) }}

{% endif %}

<p>This school's data covers the financial year September 2022 to August 2023 academies accounts return (AAR).</p>

<div class="govuk-grid-row headline-figures">
    <div class="govuk-grid-column-one-quarter">
        <div>
            <p>In year balance</p>
            <p>£26,943</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div>
            <p>Revenue reserve</p>
            <p>-£766,971</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div>
            <p>Ofsted rating</p>
            <p>Good in 2014</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div>
            <p>School phase</p>
            <p>Secondary</p>
        </div>
    </div>
</div>

<h2 class="govuk-heading-m">Spending priorities for this school</h2>

<h3 class="govuk-heading-s">Top spending priorities</h3>

<div class="top-categories">
    <div>
        <h4 class="govuk-heading-s">Teaching and teaching supply staff</h4>
        <p class="priority high">
            <strong class="govuk-tag govuk-tag--red">
                High priority
            </strong>
            Spends <strong>£4,747</strong> per pupil - higher spending than <strong>92%</strong> of benchmarked schools
        </p>
    </div>

    <div>
        <h4 class="govuk-heading-s">Premises staff and services</h4>
        <p class="priority high">
            <strong class="govuk-tag govuk-tag--red">
                High priority
            </strong>
            Spends <strong>£323</strong> per pupil - higher spending than <strong>8%</strong> of benchmarked schools
        </p>
    </div>

    <div>
        <h4 class="govuk-heading-s">Utilities</h4>
        <p class="priority medium">
            <strong class="govuk-tag govuk-tag--yellow">
                Medium priority
            </strong>
            Spends <strong>£342</strong> per square metre - higher spending than <strong>83%</strong> of benchmarked schools
        </p>
    </div>

</div>

<h3 class="govuk-heading-s"><a href="/{{ version }}/spending-and-costs">View all spending priorities for this school</a></h3>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Finance tools</h2>
        <ul class="app-links">
            <li>
                <img src="/public/images/compare-your-costs.png" alt="" class="app-view-component">
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Compare your costs</a>
                </h3>
                <p class="govuk-body">
                    Compare against similar schools to yours or schools of your choice.
                </p>
            </li>
            <!--
            <li>
                <img src="/public/images/areas-for-investigation.png" alt="" class="app-view-component">
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">View your areas for investigation</a>
                </h3>
                <p class="govuk-body">
                    See areas where your school is looking healthy or may need to focus on.
                </p>
                <p class="govuk-body">
                    Create a report to reflect potential spending.
                </p>
            </li>
            -->
            <li>
                <img src="/public/images/curriculum-financial-planning.png" alt="" class="app-view-component">
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Curriculum and financial planning</a>
                </h3>
                <p class="govuk-body">
                    Measure expected curriculum spending and staffing structure
                </p>
                <strong class="govuk-tag govuk-tag--grey">
                    Requires login
                </strong>
            </li>
            <li>
                <img src="/public/images/benchmark-workforce.png" alt="" class="app-view-component">
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Benchmark workforce data</a>
                </h3>
                <p class="govuk-body">
                    Compare your workforce data with other schools.
                </p>
            </li>
        </ul>
    </div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Resources</h2>
        <ul class="app-links">
            <li>
                <h3 class="govuk-heading-s">
                    <a href="/{{ version }}/find-ways-to-spend-less" class="govuk-link govuk-link--no-visited-state">Find ways to spend less</a>
                </h3>
                <p class="govuk-body">
                    Use these to help reduce your spending and costs.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">View historic data</a>
                </h3>
                <p class="govuk-body">
                    View financial data from previous years.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">School contact details</a>
                </h3>
                <p class="govuk-body">
                    View contact details for this school.
                </p>
            </li>
        </ul>
    </div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Get help</h2>
        <ul class="app-links">
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state app-view-component__link">Help with this service</a>
                </h3>
                <p class="govuk-body">
                    If you're new to this website, new to school resource management, or are a non-finance person, take a look at our <a href="" class="govuk-link govuk-link--no-visited-state">user guide</a> to help you get started.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Ask for help from a school resource management advisor (SRMA)</a>
                </h3>
                <p class="govuk-body">
                    You can request free, confidential advice from a SRMA.
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Submit an enquiry</a>
                </h3>
                <p class="govuk-body">
                    Let us know if you need help with any tools in this service
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}