@using EducationBenchmarking.Web.ViewModels.Components
@model EducationBenchmarking.Web.ViewModels.Components.FinanceToolsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Finance tools</h2>
        <ul class="app-links">
            @foreach (var tool in Model.Tools)
            {
                switch (tool)
                {
                    case FinanceTools.CompareYourCosts:
                        <li>
                            <img src="/assets/images/compare-your-costs.png" alt="" class="app-view-component">
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolComparison", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Compare your costs</a>
                            </h3>
                            <p class="govuk-body">
                                Compare against similar schools to yours or schools of your choise.
                            </p>
                        </li>
                        break;
                    case FinanceTools.FinancialPlanning:
                        <li>
                            <img src="/assets/images/curriculum-financial-planning.png" alt="" class="app-view-component">
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolPlanning", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Curriculum and financial planning</a>
                            </h3>
                            <p class="govuk-body">
                                Measure expected curriculum spending and staffing structure
                            </p>
                            <strong class="govuk-tag govuk-tag--grey">
                                Requires login
                            </strong>
                        </li>
                        break;
                    case FinanceTools.BenchmarkWorkforce:
                        <li>
                            <img src="/assets/images/benchmark-workforce.png" alt="" class="app-view-component">
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolWorkforce", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">Benchmark workforce data</a>
                            </h3>
                            <p class="govuk-body">
                                Lorem ipsum
                            </p>
                        </li>
                        break;
                    case FinanceTools.AreasOfInvestigation:
                        <li>
                            <img src="/assets/images/areas-for-investigation.png" alt="" class="app-view-component">
                            <h3 class="govuk-heading-s">
                                <a href="@Url.Action("Index", "SchoolInvestigationArea", new { urn = Model.Identifier })" class="govuk-link govuk-link--no-visited-state">View your areas for investigation</a>
                            </h3>
                            <p class="govuk-body">
                                See areas where your school is looking healthy or may need to focus on.
                            </p>
                            <p class="govuk-body">
                                Create a report to reflect potential spending.
                            </p>
                        </li>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
        </ul>
    </div>
</div>