{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customise your data - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/custom-data"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Change financial data</h1>

        <!--<h2 class="govuk-heading-m">Update your fianancial data</h2>-->
        

        {% set tableAdminSupplies %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Administrative supplies (non-educational)"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Administrative supplies (non educational)",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
            ]
        }) }}

        {% endset %}



        {% set tableCatering %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Catering staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Catering staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Catering supplies"
              },
              {
                text: "£13,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Catering supplies",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Income from catering"
              },
              {
                text: "£3,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Income from catering",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}


        {% set tableEducationalSupplies %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Examination fees"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Examination fees",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Learning resources (not ICT equipment)"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Learning resources (not ICT equipment)",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}



        {% set tableIT %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "ICT learning resources"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "ICT learning resources",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}


        {% set tableSupportStaff %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Administrative and clerical staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Administrative and clerical staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Auditor costs"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Auditor costs",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Other staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Other staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Professional services (non-curriculum)"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Professional services (non-curriculum)",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}



        {% set tableOther %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Administrative and clerical staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Administrative and clerical staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Direct revenue financing"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Direct revenue financing",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Grounds maintenance"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Grounds maintenance",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Indirect employee expenses"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Indirect employee expenses",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Interest charges for loan and bank"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Interest charges for loan and bank",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Other insurance premiums"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Other insurance premiums",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Private Finance Initiative (PFI) charges"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Private Finance Initiative (PFI) charges",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Rent and rates"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Rent and rates",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Special facilities"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Special facilities",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Staff development and training"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Staff development and training",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Staff-related insurance"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Staff-related insurance",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Supply teacher insurance"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Supply teacher insurance",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}
        

        {% set tablePremises %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Cleaning and caretaking"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Cleaning and caretaking",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Maintenance of premises"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Maintenance of premises",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Other occupation costs"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Other occupation costs",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Premises staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Premises staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}

        {% set tableStaff %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Agency supply teaching staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Agency supply teaching staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Education support staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Education support staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Educational consultancy"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Educational consultancy",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Supply teaching staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Supply teaching staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Teaching staff"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Teaching staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}

        {% set tableTotals %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Type",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Total income"
              },
              {
                text: "£1,123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Teaching staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Total spending"
              },
              {
                text: "£1,123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                text: "£1,123,234.48",
                classes: "govuk-!-text-align-right"
              }
            ],
            [
              {
                text: "Revenue reserve"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Teaching staff",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}

        {% set tableUtilities %}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Cost",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Current data",
              classes: "govuk-!-text-align-right"
            },
            {
              text: "Custom data",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: [
            [
              {
                text: "Energy"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Energy",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ],
            [
              {
                text: "Water and sewerage"
              },
              {
                text: "£123,234.48",
                classes: "govuk-!-text-align-right"
              },
              {
                html: govukInput({
                  label: {
                    text: "Water and sewerage",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-10",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  prefix: {
                    text: '£'
                  }
                })
              }
            ]
          ]
        }) }}

        {% endset %}


        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Administrative supplies"
              },
              content: {
                html: tableAdminSupplies
              }
            },
            {
              heading: {
                text: "Catering"
              },
              content: {
                html: tableCatering
              }
            },
            {
              heading: {
                text: "Educational supplies"
              },
              content: {
                html: tableEducationalSupplies
              }
            },
            {
              heading: {
                text: "IT"
              },
              content: {
                html: tableIT
              }
            },
            {
              heading: {
                text: "Non-educational support staff"
              },
              content: {
                html: tableSupportStaff
              }
            },
            {
              heading: {
                text: "Premises and services"
              },
              content: {
                html: tablePremises
              }
            },
            {
              heading: {
                text: "Teaching and teaching support"
              },
              content: {
                html: tableStaff
              }
            },
            {
              heading: {
                text: "Utilities"
              },
              content: {
                html: tableUtilities
              }
            },
            {
              heading: {
                text: "Other costs"
              },
              content: {
                html: tableOther
              }
            },
            {
              heading: {
                text: "Totals"
              },
              content: {
                html: tableTotals
              }
            }
          ]
        }) }}
        
        {{ govukButton({
          href: '/custom-data/school-characteristics',
          text: "Continue"
        }) }}

    </div>
</div>
{% endblock %}