{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "templates/spend-category.njk" import spendCategory %}


{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customise your data - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Enter custom data to benchmark spending</h1>

        <p>Use this to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>see how different spending data affects your benchmarking position</li>
          <li>enter your own more recent data to see a more accurate comparison </li>
        </ul>

        {{ govukWarningText({
          text: "This only changes data you see for benchmarking and does not update data centrally for everyone",
          
          iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">You will need a <a href="https://services.signin.education.gov.uk/">DfE Sign-in account</a>.</p>

        {{ govukButton({
          href: '/sign-in?goTo=/custom-data/financial-data',
          text: "Start now"
        }) }}

    </div>
</div>
{% endblock %}