{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customise your data - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/find-school"
      },
      {
        text: "Your school",
        href: "/school-homepage"
      },
      {
        text: "Customise your data",
        href: "/custom-data"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Customise your data</h1>

        <h2 class="govuk-heading-m">Update your non-fianancial data</h2>

        {{ govukWarningText({
          text: "Changing your non-financial data will change the set of schools we compare you with",
          iconFallbackText: "Warning"
        }) }}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Item"
            },
            {
              text: "Existing value"
            },
            {
              text: "Custom value"
            }
          ],
          rows: [
            [
              {
                text: "Number of pupils (Full time equivalent)"
              },
              {
                text: "8,712"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  }
                })
              }
            ],
            [
              {
                text: "Eligibility for free school meals (FSM)"
              },
              {
                text: "6.4%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Pupils with special educational needs (SEN)"
              },
              {
                text: "5.9%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Predicted percentage pupil change 3-5 years"
              },
              {
                text: "5.3%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Gross internal floor area"
              },
              {
                text: "12,234 square metres"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: 'square metres'
                  }
                })
              }
            ]
          ]
        }) }}


        <!--

          Where does workforce data sit?
          Is that non-financial? Does it change comparator set?

          Number of pupils FTE
          School workforce FTE
          Number of teachers FTE
          Senior leadership FTE
          Teacher contact ratio (<1)
          Average class size
        -->
        
        {{ govukButton({
          href: '/custom-data/non-financial-data',
          text: "Continue"
        }) }}

    </div>
</div>
{% endblock %}