{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customise your data - {{ data['school-name'] }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/custom-data/financial-data"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l"><a href="/school-homepage" class="govuk-link--no-underline">{{ data['school-name'] }}</a></span>
        <h1 class="govuk-heading-l">Change non-financial data</h1>

        <!--<h2 class="govuk-heading-m">Update your school characteristics</h2>-->

        {{ govukWarningText({
          text: "Changing this will create a new set of similar schools",
          
          iconFallbackText: "Warning"
        }) }}

        {{ govukTable({
          classes: "custom-data",
          head: [
            {
              text: "Type of data"
            },
            {
              text: "Current value"
            },
            {
              text: "Custom value"
            }
          ],
          rows: [
            [
              {
                text: "Number of pupils (full time equivalent)"
              },
              {
                text: "8,712"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  }
                })
              }
            ],
            [
              {
                text: "Pupils eligible for free school meals (FSM)"
              },
              {
                text: "6.4%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Pupils with special educational needs (SEN)"
              },
              {
                text: "5.9%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Predicted percentage pupil change 3 to 5 years"
              },
              {
                text: "5.3%"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-3",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: '%'
                  }
                })
              }
            ],
            [
              {
                text: "Gross internal floor area"
              },
              {
                text: "12,234 square metres"
              },
              {
                html: govukInput({
                  label: {
                    text: "What is the name of the event?",
                    classes: "govuk-visually-hidden"
                  },
                  id: "event-name",
                  name: "eventName",
                  classes: "govuk-input--width-5",
                  formGroup: {
                    classes: "govuk-!-margin-bottom-0"
                  },
                  suffix: {
                    text: 'square metres'
                  }
                })
              }
            ]
          ]
        }) }}

        {{ govukButton({
          href: '/custom-data/workforce',
          text: "Continue"
        }) }}

    </div>
</div>
{% endblock %}