@model Web.App.ViewModels.SchoolComparisonViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.Comparison;
}

@await Component.InvokeAsync("EstablishmentHeading", new { title = ViewData[ViewDataKeys.Title], name = Model.Name, id = Model.Urn, kind = OrganisationTypes.School })

@await Component.InvokeAsync("DataSource", new { kind = OrganisationTypes.School, isPartOfTrust = Model.IsPartOfTrust, additionText = new [] {"Compare your spending costs against similar schools."}})

@await Component.InvokeAsync("ComparatorSetDetails", new { identifier = Model.Urn, referrer = Referrers.SchoolComparison })

<div id="compare-your-costs" data-type="@OrganisationTypes.School" data-id="@Model.Urn">
    
</div>

@await Component.InvokeAsync("SchoolFinanceTools", new { identifier = Model.Urn, tools = new[] { FinanceTools.FinancialPlanning, FinanceTools.BenchmarkWorkforce } })