@import "../styles";
@import "/src/assets/styles/colours";

.chart-stat-wrapper { 
  margin-top: govuk-spacing(2);

  .chart-stat-label {
    @include govuk-font(16);
  }

  .chart-stat-value {
    margin-top: govuk-spacing(1);
    @include govuk-font(24, bold);
  }

  &.chart-stat-wrapper__small {
    .chart-stat-label {
      font-size: 0.9rem;
    }

    .chart-stat-value {
      margin-top: govuk-spacing(0);
    }
  }
}

.chart-stat-summary {
  display: grid;
  grid-template-columns: calc(calc(100% - 30px) / 3) calc(calc(100% - 30px) / 3) calc(
      calc(100% - 30px) / 3
    );
  margin-top: 14px;
  padding: 0;
  gap: 15px;
  width: 100%;
}

.chart-stat-summary .chart-stat-wrapper {
  background-color: $grid-colour-light;
  padding: 10px;
}

.chart-stat-summary .chart-stat-wrapper .chart-stat-value {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  overflow-wrap: break-word;
}

.chart-stat-wrapper.chart-stat-line-chart .chart-stat-value {
  color: $series-highlight-colour;
}

.chart-stat-summary
  .chart-stat-wrapper
  .chart-stat-value
  .chart-stat-value-suffix {
  margin-left: 5px;
  font-size: 0.8rem;
}

.chart-stat-wrapper.chart-stat-highlight {
  color: $series-highlight-colour;
}

.chart-stat-wrapper.chart-stat-highlight .chart-stat-value {
  font-weight: 700;
}

.chart-stat-wrapper .govuk-body-s,
.chart-stat-wrapper .govuk-body-m,
.chart-stat-wrapper .govuk-body-l {
  color: inherit;
}

.chart-stat-title {
  @include govuk-font(16);
}