@using Web.App.Domain
@using Web.App.Extensions
@using Web.App.ViewModels
@using Web.App.ViewModels.Components
<p class="govuk-body">
    Use these resources to help reduce your spending and costs.
</p>

@if (Model.AllResourcesFramework is (string title, string url))
{
    <p class="govuk-body">
        You can also @Html.TrackedAnchor(
                         TrackedLinks.CommercialResource,
                         url,
                         title,
                         "(opens in a new window)",
                         "_blank",
                         ["noopener", "noreferrer", "external"]).
    </p>
}


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-resources">
    @for (var i = 0; i < Model.GroupedResources.Count; i++)
    {
        var groupedCategory = Model.GroupedResources[i];
        var j = i + 1;
        
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-resources-heading-@j">
                        @groupedCategory.Category
                    </span>
                </h2>
            </div>
            <div id="accordion-resources-content-@j" class="govuk-accordion__section-content">
                @foreach (var section in groupedCategory.Sections)
                {
                    @await Component.InvokeAsync("CommercialResource", new
                    {
                        section = section.Section,
                        links = section.Links,
                        displayHeading = true
                    })
                }
            </div>
        </div>
    }
</div>