@using Web.App.Extensions



<p class="govuk-body">
    Use these to help reduce your spending and costs.
</p>

<p class="govuk-body">
    You can also @Html.TrackedAnchor(
                     TrackedLinks.CommercialResource,
                     "https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school",
                     "find a framework agreement for goods or services",
                     "(opens in a new window)",
                     "_blank",
                     ["noopener", "noreferrer", "external"]).
</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-resources">

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-1">
                    Teaching and teaching support staff
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-1" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_TeachingStaff")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-2">
                    Non-educational support staff
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-2" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_NonEducationalSupportStaff")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-3">
                    Educational supplies
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-3" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_EducationalSupplies")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-4">
                    Educational ICT
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-4" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_EducationalIct")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-5">
                    Premises staff and services
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-5" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_PremisesStaffServices")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-6">
                    Utilities
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-6" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_Utilities")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-7">
                    Administrative supplies
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-7" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_AdministrativeSupplies")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-8">
                    Catering staff and services
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-8" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_CateringStaffServices")
        </div>
    </div>

    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-resources-heading-9">
                    Other costs
                </span>
            </h2>
        </div>
        <div id="accordion-resources-content-9" class="govuk-accordion__section-content">
            @await Html.PartialAsync("CommercialResource/_OtherCosts")
        </div>
    </div>
</div>