@using Web.App.Domain
@using Web.App.Extensions
@using Web.App.ViewModels
@model Web.App.ViewModels.CostsViewModel

@for (var i = 0; i < Model.Costs.Count(); i++)
{
    var category = Model.Costs.ElementAt(i);

    var categoryHeading = category.Rating.Category == Category.NonEducationalSupportStaff
        ? "Non-educational support staff"
        : category.Rating.Category;

    var ratingPrefix = $"<strong>{category.Rating.Value.ToCurrency()}</strong> {Lookups.CategoryUnitMap[category.Rating.Category ?? string.Empty].Replace("square", "sq.")};";

    <section id="spending-priorities-@category.Rating.CostCategoryAnchorId">
        <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-8"
             @(i == 0 ? $"id={Model.Id}" : "")>
            <div class="govuk-grid-column-full priority-position">
                <h3 class="govuk-heading-m">@categoryHeading</h3>
                <div class="priority @category.Rating.PriorityTag?.Class govuk-body govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @await Component.InvokeAsync("Tag", new
                        {
                            rating = new RatingViewModel(category.Rating.PriorityTag?.Colour, category.Rating.PriorityTag?.DisplayText)
                        })
                        <span>
                            @await Html.PartialAsync("_RagRatingCommentary", new RagRatingCommentaryViewModel(ratingPrefix)
                            {
                                Rating = category.Rating
                            })
                        </span>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-body-s position-in-set">
                        <div>
                            <span>Least spend</span>
                            @await Component.InvokeAsync("RagPosition", new
                            {
                                category.Values,
                                itemWidth = 6,
                                height = 30,
                                itemSpacing = 1m,
                                highlight = Model.Urn,
                                id = $"rag-position-{category.Rating.CostCategoryAnchorId}",
                                title = $"Position in comparator set for {categoryHeading}"
                            })
                            <span>Most spend</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}