@using Web.App.Extensions
@model Web.App.ViewModels.SchoolDeploymentPlanViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Calculated curriculum metrics</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Pupil teacher ratio</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.PupilTeacherRatio.ToSimpleDisplay()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Average class size</th>
        <td class="govuk-table__cell">
            @await Component.InvokeAsync("Tag", new { rating = Model.AverageClassSizeRating })
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.AverageClassSize.ToSimpleDisplay()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Average teacher load (periods)</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.AverageTeacherLoad.ToSimpleDisplay()
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Teacher contact ratio</th>
        <td class="govuk-table__cell">
            @await Component.InvokeAsync("Tag", new { rating = Model.TeacherContactRatioRating })
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            @Model.TeacherContactRatio.ToSimpleDisplay()
        </td>
    </tr>
    </tbody>
</table>