$historic-chart-2-series-0-colour: #196b24;
$historic-chart-2-series-1-colour: #e97132;
$historic-chart-2-series-2-colour: #156082;

.recharts-wrapper.historic-chart-2 {

  .chart-line.chart-line-series-0 path,
  .chart-line.chart-line-series-0 .recharts-line-dot,
  .recharts-default-legend .legend-item-0 path {
    stroke: $historic-chart-2-series-0-colour;
  }

  .chart-line.chart-line-series-0 path,
  .chart-line.chart-line-series-1 path,
  .chart-line.chart-line-series-2 path {
    stroke-opacity: 75%;
  }

  .chart-line.chart-line-series-1 path,
  .chart-line.chart-line-series-1 .recharts-line-dot,
  .recharts-default-legend .legend-item-1 path {
    stroke: $historic-chart-2-series-1-colour;
  }

  .chart-line.chart-line-series-2 path,
  .chart-line.chart-line-series-2 .recharts-line-dot,
  .recharts-default-legend .legend-item-2 path {
    stroke: $historic-chart-2-series-2-colour;
  }

  .recharts-default-legend {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .recharts-default-legend .recharts-legend-item {
    white-space: nowrap;
  }

  .chart-active-dot.chart-active-dot-series-0,
  .recharts-label-list .chart-label-series-0,
  .recharts-default-legend .legend-item-0 path {
    fill: $historic-chart-2-series-0-colour;
  }

  .chart-active-dot.chart-active-dot-series-1,
  .recharts-label-list .chart-label-series-1,
  .recharts-default-legend .legend-item-1 path {
    fill: $historic-chart-2-series-1-colour;
  }

  .chart-active-dot.chart-active-dot-series-2,
  .recharts-label-list .chart-label-series-2,
  .recharts-default-legend .legend-item-2 path {
    fill: $historic-chart-2-series-2-colour;
  }
}