@using Web.App.Extensions
<div class="govuk-full-width-container govuk-!-display-none-print">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your
                @Html.TrackedAnchor(
                    TrackedLinks.Survey,
                    Constants.SurveyUrl,
                    "feedback",
                    "Opens in a new window",
                    "_blank",
                    ["noopener", "noreferrer", "external"])
                will help us to improve it.
            </span>
        </p>
    </div>
</div>