@model EducationBenchmarking.Web.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanning;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.Name</span>
        <h1 class="govuk-heading-l">@ViewData[ViewDataKeys.Title]</h1>
        
        <p class="govuk-body">
            CFP is a management process that helps schools to plan and adjust their curriculum and budget.
        </p>
        
        <h2 class="govuk-heading-m">Before you start</h2>
        
        <p class="govuk-body">
            Completing a deployment plan will take about 10 minutes.
        </p>
        <p class="govuk-body">
            A full list of the data will be asked to input 
            <a href="@Url.Action("CreatePlan", "SchoolPlanningCreate", new { urn = Model.Urn, step = "help" })"
               class="govuk-link">
                can be found here
            </a>.
        </p>
        <a href="@Url.Action("CreatePlan", "SchoolPlanningCreate", new { urn = Model.Urn, step = "select-year" })" 
           role="button" 
           class="govuk-button">
            Continue
        </a>
    </div>
</div>