@model EducationBenchmarking.Web.ViewModels.SchoolPlanCreateViewModel
@{
    ViewData[ViewDataKeys.Title] = PageTitles.SchoolPlanningTeacherPeriodAllocation;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("CreatePlan", "SchoolPlanningCreate", new { urn = Model.Urn, year = Model.Year, step = PlanSteps.TeacherPeriodAllocation }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">@Model.Name</span>
                        <h1 class="govuk-fieldset__heading">
                            @ViewData[ViewDataKeys.Title]
                        </h1>
                    </legend>
                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                            Teacher period allocation is the teacher time measured in a school timetable. One teacher for one period in the cycle counts as one teacher period.
                        </p>
                        <p class="govuk-body">
                            For example, a year group with 5 forms, no sets and a timetable length of 25 gives you a teacher period allocation of 125.
                        </p>
                    </div>

                    @if (Model.IsPrimary)
                    {
                        @await Html.PartialAsync("_TeacherPeriodAllocationPrimary", Model)
                    }
                    else
                    {
                        @await Html.PartialAsync("_TeacherPeriodAllocation", Model)
                    }
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        }
    </div>
</div>